//
// Container flex & it's reset mixin
//
// @param (flex-start | flex-end | center | space-between | space-around) $content (justify-content) : flex-start
// @param (flex-start | flex-end | center | baseline | stretch) $item (align-items) : stretch
// @param (row | row-reverse | column | column-reverse) $direction (flex-direction) : row
// @param (nowrap | wrap | wrap-reverse)  $wrap (flex-wrap) : wrap
//
$green1 = #00c853
$green2 = #aeea00
$red1 = #dd2c00
$red2 = #ff3d00
$brown1 = #5f4339
$brown2 = #795548
$gold1 = #FFCA05
$gold2 = #ffd740
$blue1 = #1976d2
$blue2 = #00b0ff

flex-container($content = flex-start, $items = stretch, $direction = row, $wrap = wrap)
  $msFlexPack = $content
  if $msFlexPack = flex-start
    $msFlexPack = start
  else if $msFlexPack = flex-end
    $msFlexPack = end
  else if $msFlexPack = space-between
    $msFlexPack  = justify
  else if $msFlexPack = space-around
    $msFlexPack = distribute
    $packLegacy = $content
  if $packLegacy = flex-start
    $packLegacy = start
  else if $packLegacy = flex-end
    $packLegacy = end
    $alignLegacy = $items
  if $alignLegacy = flex-start
    $alignLegacy = start
  else if $alignLegacy = flex-end
    $alignLegacy = end
    $oritentLegacy = $direction
    $directionLegacy = normal
  if $oritentLegacy = row
    $oritentLegacy = horizontal
  else if $oritentLegacy = column
    $oritentLegacy = vertical
  /** SAFARI **/
  display                 -webkit-box
  -webkit-box-orient      $oritentLegacy
  -webkit-box-pack        $packLegacy
  -webkit-box-align       $alignLegacy
  /** FIREFOX LEGACY **/
  display                 -moz-box
  -moz-box-orient         $oritentLegacy
  -moz-box-direction      $directionLegacy
  -moz-box-pack           $packLegacy
  -moz-box-align          $alignLegacy

  /** IE 10+ **/
  display                 -ms-flexbox
  -ms-flex-wrap           $wrap
  -ms-flex-direction      $direction
  -ms-justify-content     $content
  -ms-flex-align          $alignLegacy
  -ms-flex-pack           $msFlexPack
  /** CHROME **/
  display                 -webkit-flex
  -webkit-flex-wrap       $wrap
  -webkit-flex-direction  $direction
  -webkit-justify-content $content
  -webkit-align-items     $items
  /** NATIVE **/
  display                 flex
  flex-wrap               $wrap
  flex-direction          $direction
  justify-content         $content
  align-items             $items

flex-container-reset($display = block)
  display                 $display
  /** SAFARI **/
  -webkit-box-orient      initial
  -webkit-box-pack        start
  -webkit-box-align       stretch
  /** FIREFOX LEGACY **/
  -moz-box-orient         initial
  -moz-box-direction      normal
  -moz-box-pack           start
  -moz-box-align          stretch
  /** LEGACY **/
  box-orient              initial
  box-direction           normal
  box-pack                start
  box-align               stretch
  /** IE 10+ **/
  -ms-flex-wrap           nowrap
  -ms-flex-direction      row
  -ms-justify-content     flex-start
  -ms-flex-align          initial
  -ms-flex-pack           initial
  /** CHROME **/
  -webkit-flex-wrap       nowrap
  -webkit-flex-direction  row
  -webkit-justify-content flex-start
  -webkit-align-items     stretch
  /** NATIVE **/
  flex-wrap               nowrap
  flex-direction          row
  justify-content         flex-start
  align-items             stretch

//
// Child flex & it's reset mixin
//
// @param (number)  $width
// @param (boolean) $ieAdjust : false
//

flex-child($width)
  -webkit-box-flex $width 1 0
  -moz-box-flex    $width 1 0
  box-flex         $width 1 0
  -ms-flex         $width 1 0
  -webkit-flex     $width 1 0
  flex             $width 1 0
  min-height       0

flex-child-reset()
  -webkit-box-flex  0
  -moz-box-flex     0
  box-flex          0
  -ms-flex          initial
  -webkit-flex      initial
  flex              initial
  min-height        initial

//
// Child align parent center & it's reset mixin
//
// @param (row | row-reverse | column | column-reverse) $direction : column
//

flex-center($direction = column)
  display                 -webkit-box
  -webkit-box-pack        center
  -webkit-box-align       center
  -webkit-align-items     center
  -webkit-justify-content center
  -webkit-flex-direction  $direction
  -webkit-align-content   center

  display                 -moz-box
  -moz-box-pack           center
  -moz-box-align          center

  display                 -webkit-flex

  display                 -ms-flexbox
  -ms-align-items         center
  -ms-justify-content     center
  -ms-flex-pack           center
  -ms-flex-direction      $direction
  -ms-flex-line-pack      center
  -ms-flex-align          center

  display                 flex
  align-items             center
  justify-content         center
  text-align              center
  flex-direction          $direction
  align-content           center

//
// @param (string)  $display : block
//

flex-center-reset($display = block)
  display                  $display
  -webkit-box-pack         start
  -webkit-box-align        stretch
  -webkit-align-items      stretch
  -webkit-justify-content  flex-start
  -webkit-flex-direction   row
  -webkit-align-content    stretch

  -moz-box-pack            start
  -moz-box-align           stretch

  -ms-align-items          stretch
  -ms-justify-content      flex-start
  -ms-flex-pack            start
  -ms-flex-direction       row
  -ms-flex-line-pack       stretch
  -ms-flex-align           stretch

  align-items              stretch
  justify-content          flex-start
  text-align               left
  flex-direction           row
  align-content            stretch

//
// Child align parent center vertically & it's reset mixin
//

flex-vertical-center()
  display             -webkit-box
  -webkit-box-align   center
  -webkit-align-items center

  display             -moz-box
  -moz-box-align      center

  display             -webkit-flex

  display             -ms-flexbox
  -ms-align-items     center
  -ms-flex-align      center

  display             flex
  align-items         center

//
// @param (string)  $display : block
//
flex-vertical-center-reset($display = block)
  display             $display
  -webkit-box-align   stretch
  -webkit-align-items stretch

  -moz-box-align      stretch

  -ms-align-items     stretch
  -ms-flex-align      stretch

  align-items         stretch



/**
 * Set the font-family, font-weight, font-style
 */
font-set($font-name, $weight = 400, $style = normal)
  font-family $font-name
  font-weight $weight
  font-style $style

/**
 * Shorthand to set the font-size and line-height
 */
font-size-set($font-size, $line-height)
  font-size rem-calc($font-size)
  line-height rem-calc($line-height)


/**
 * media queries
 * @param {string} - breakpoints = mobile, tablet, desktop, large-desktop
 */

media_queries = {
  mobile  : "(max-width: 767px)",
  tablet    : "(min-width: 768px) and (max-width: 1023px)",
  tablet-up : "(min-width: 768px)",
  tablet-down: "(max-width: 1023px)",
  desktop : "(min-width: 1024px)",
  large-desktop : "(min-width: 1440px)"
}
respond-to(breakpoints)
  conditions = ()
  for breakpoint in breakpoints
    push(conditions, media_queries[breakpoint])
  conditions = join(", ", conditions)
  @media conditions
    {block}
    
show-on(breakpoints, display = block)
  display none
  +respond-to(breakpoints)
   display display

hide-on(breakpoints) 
  +respond-to(breakpoints)
   display none