<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <Selectday msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Selectday from '@/components/Selectday.vue'

export default {
  name: 'about',
  components: {
    Selectday,
  },
}
</script>
