<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <YearDestiny msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import YearDestiny from '@/components/YearDestiny.vue'

export default {
  name: 'about',
  components: {
    YearDestiny,
  },
}
</script>
