<template>
  <div>
  <div class="bundlebox">
    <div v-if="getTName.num !== 0" :class="'megbox'+getTName.num">{{getTName.name}}</div>
    <div v-if="getTHName.num !== 0" :class="'megboxh'+getTHName.num">{{getTHName.name}}</div>
    <div v-if="getT6MName.num !== 0" :class="'megbox6m'+getT6MName.num">{{getT6MName.name}}</div>
    <div v-if="merge180htag" class="megbox180"
      :class="out? 'res':''">沖</div>
    <!-- <div v-if="mergetbhtag" class="megboxtb">害</div> -->
    <div v-if="merge90htag" class="megbox90"
      :class="out? 'res':''">煉</div>
    <div v-if="merge150htag" class="megbox150"
      :class="out? 'res':''">病</div>
    <div v-if="merge60chtag" class="megbox60">機</div>

    <div class="word-name">{{getName}}</div>
    <div v-for="(item, index) in data"
         :key="index"
         :class="'box box-t' + item.num"
         :style="{height: item.value/2+'px'}"
         >
        <!-- {{item.value}} -->
    </div>


  </div>
  </div>
</template>

<script>

export default {
  name: 'BottomObject',
  props: {
    data: {
      type: Array,
      default() {
        return { num: 0, value: 100 }
      },
    },
    orgdata: Number,
    mergetag: Number,
    mergehtag: Number,
    merge6htag: Number,
    merge180htag: Boolean,
    mergetbhtag: Boolean,
    merge90htag: Boolean,
    merge150htag: Boolean,
    merge60chtag: Boolean,
    out: Boolean,
  },
  computed: {
    getTName() {
      switch (this.mergetag) {
        case 1: return { num: 1, name: '三' }
        case 2: return { num: 2, name: '三' }
        case 4: return { num: 3, name: '三' }
        case 5: return { num: 4, name: '三' }
        default: return { num: 0, name: '' }
      }
    },
    getTHName() {
      switch (this.mergehtag) {
        case 5: return { num: 1, name: '會' }
        case 1: return { num: 4, name: '會' }
        case 2: return { num: 2, name: '會' }
        case 4: return { num: 3, name: '會' }
        default: return { num: 0, name: '' }
      }
    },
    getT6MName() {
      switch (this.merge6htag) {
        case 1: return { num: 1, name: '六' }
        case 2: return { num: 2, name: '六' }
        case 3: return { num: 3, name: '六' }
        case 4: return { num: 4, name: '六' }
        case 5: return { num: 5, name: '六' }
        default: return { num: 0, name: '' }
      }
    },
    getName() {
      switch (this.orgdata) {
        case 1: return '子'
        case 2: return '丑'
        case 3: return '寅'
        case 4: return '卯'
        case 5: return '辰'
        case 6: return '巳'
        case 7: return '午'
        case 8: return '未'
        case 9: return '申'
        case 10: return '酉'
        case 11: return '戌'
        case 12: return '亥'
        default: return ''
      }
    },
  },
  methods: {

  },
}
</script>

<style scoped lang="stylus">
.res
  background purple !important
  color white !important
.bundlebox
  position relative
.word-name
  padding 10px 14px
  position absolute
  color white
  font-weight bold
  text-shadow 1px 1px black
  font-size 20px
.megbox180
  position absolute
  padding 0 2px
  right 0
  top 0
  font-size 12px
  font-weight bold
  background black
  color white
  border 1px solid white
.megboxtb
  position absolute
  padding 0 2px
  right 15px
  top 0
  font-size 12px
  font-weight bold
  background white
  color black
  border 1px solid black
.megbox150
  position absolute
  padding 0 2px
  right 15px
  top 0px
  font-size 12px
  font-weight bold
  background green
  color $gold1
  border 1px solid $gold1
.megbox90
  position absolute
  padding 0 2px
  right 0px
  top 15px
  font-size 12px
  font-weight bold
  background $gold1
  color black
  border 1px solid black
.megbox60
  position absolute
  padding 0 2px
  left 0
  top 15px
  font-size 12px
  font-weight bold
  background #00ffc3
  color black
  border 1px solid black
.megbox1
  position absolute
  padding 0 2px
  right 0
  bottom 0
  font-size 12px
  font-weight bold
  background $blue1
  color white
  border 1px solid white
.megbox2
  position absolute
  padding 0 2px
  right 0
  bottom 0
  font-size 12px
  font-weight bold
  background $red1
  color white
  border 1px solid white
.megbox3
  position absolute
  padding 0 2px
  right 0
  bottom 0
  font-size 12px
  font-weight bold
  background $gold2
  color $red1
  border 1px solid $red1
.megbox4
  position absolute
  padding 0 2px
  right 0
  bottom 0
  font-size 12px
  font-weight bold
  background $green1
  color white
  border 1px solid white
.megbox6m1
  position absolute
  padding 0 2px
  left 0
  bottom 0
  font-size 12px
  font-weight bold
  background $green1
  color white
  border 1px solid white
.megbox6m2
  position absolute
  padding 0 2px
  left 0
  bottom 0
  font-size 12px
  font-weight bold
  background $red1
  color white
  border 1px solid white
.megbox6m3
  position absolute
  padding 0 2px
  left 0
  bottom 0
  font-size 12px
  font-weight bold
  background $brown1
  color white
  border 1px solid white
.megbox6m4
  position absolute
  padding 0 2px
  left 0
  bottom 0
  font-size 12px
  font-weight bold
  background $gold1
  color $red1
  border 1px solid $red1
.megbox6m5
  position absolute
  padding 0 2px
  left 0
  bottom 0
  font-size 12px
  font-weight bold
  background $blue1
  color white
  border 1px solid white
.megboxh1
  position absolute
  padding 0px 2px
  left 0
  top 0
  font-size 12px
  font-weight bold
  background $blue1
  color white
  border 1px solid white
.megboxh2
  position absolute
  padding 0px 2px
  left 0
  top 0
  font-size 12px
  font-weight bold
  background $red1
  color white
  border 1px solid white
.megboxh3
  position absolute
  padding 0px 2px
  left 0
  top 0
  font-size 12px
  font-weight bold
  background $gold2
  color $red1
  border 1px solid $red1
.megboxh4
  position absolute
  padding 0px 2px
  left 0
  top 0
  font-size 12px
  font-weight bold
  background $green1
  color white
  border 1px solid white
.box
  font-weight bold
  margin 0
  padding 0
  // padding-left 5px
  text-align left
  // margin 5px 0
  text-shadow 1px 1px 1px black
  min-width 50px
  width 100%
  // max-width 120px
  &tip
    font-weight bold
    text-shadow 1px 1px 1px black
    color white
    margin 5px
    font-size 12px
    border-radius 5px
    background black
    padding 3px 0
.box-
  &t1
    // color #00c853
    color white
    background #00c853
  &t2
    // color #aeea00
    color white
    background #aeea00
  &t3
    // color #dd2c00
    color white
    background #dd2c00
  &t4
    // color #ff3d00
    color white
    background #ff3d00
  &t5
    // color #5f4339
    color white
    background #5f4339
  &t6
    // color #795548
    color white
    background #795548
  &t7
    // color #FFCA05
    color white
    background #FFCA05
  &t8
    // color #ffd740
    color white
    background #ffd740
  &t9
    // color #1976d2
    color white
    background #1976d2
  &t10
    // color #00b0ff
    color white
    background #00b0ff

  &b1
    // color #00b0ff
    color white
    background #00b0ff
  &b2
    // color #795548
    color white
    background #795548
  &b3
    // color #00c853
    color white
    background #00c853
  &b4
    // color #aeea00
    color white
    background #aeea00
  &b5
    // color #5f4339
    color white
    background #5f4339
  &b6
    // color #dd2c00
    color white
    background #dd2c00
  &b7
    // color #ff3d00
    color white
    background #ff3d00
  &b8
    // color #795548
    color white
    background #795548
  &b9
    // color #FFCA05
    color white
    background #FFCA05
  &b10
    // color #ffd740
    color white
    background #ffd740
  &b11
    // color #5f4339
    color white
    background #5f4339
  &b12
    // color #1976d2
    color white
    background #1976d2

</style>
