<template>
  <div class="user"
  :class="(getmond[0] > 8 && getmond[0] <= 16) ? 'user-top' : ''">
  <!-- {{getCalcMergeAllTown}} -->
      <div class="filter-wrapper">
          <div class="filter-panel-end">
            <div class="item">
              <div class="bar bar1" :style="{ height: getCalcMergeAllTown[0] / 5 + 'px' }"></div>
              <div class="bar bar2" :style="{ height: getCalcMergeAllTown[1] / 5 + 'px' }"></div>
              <p class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[1]}}</p>
              <p class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[2]}}</p>
              <p class="tengod-text-w">{{Math.floor(getCalcMergeAllTown[0] + getCalcMergeAllTown[1])}}</p>
            </div>
            <div class="item">
              <div class="bar bar3" :style="{ height: getCalcMergeAllTown[2] / 5 + 'px' }"></div>
              <div class="bar bar4" :style="{ height: getCalcMergeAllTown[3] / 5 + 'px' }"></div>
              <p class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[3]}}</p>
              <p class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[4]}}</p>
              <p class="tengod-text-w">{{Math.floor(getCalcMergeAllTown[2] + getCalcMergeAllTown[3])}}</p>
            </div>
            <div class="item">
              <div class="bar bar5" :style="{ height: getCalcMergeAllTown[4] / 5 + 'px' }"></div>
              <div class="bar bar6" :style="{ height: getCalcMergeAllTown[5] / 5 + 'px' }"></div>
              <p class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[5]}}</p>
              <p class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[6]}}</p>
              <p class="tengod-text-w">{{Math.floor(getCalcMergeAllTown[4] + getCalcMergeAllTown[5])}}</p>
            </div>
            <div class="item">
              <div class="bar bar7" :style="{ height: getCalcMergeAllTown[6] / 5 + 'px' }"></div>
              <div class="bar bar8" :style="{ height: getCalcMergeAllTown[7] / 5 + 'px' }"></div>
              <p class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[7]}}</p>
              <p class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[8]}}</p>
              <p class="tengod-text-w">{{Math.floor(getCalcMergeAllTown[6] + getCalcMergeAllTown[7])}}</p>
            </div>
            <div class="item">
              <div class="bar bar9" :style="{ height: getCalcMergeAllTown[8] / 5 + 'px' }"></div>
              <div class="bar bar10" :style="{ height: getCalcMergeAllTown[9] / 5 + 'px' }"></div>
              <p class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[9]}}</p>
              <p class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[10]}}</p>
              <p class="tengod-text-w">{{Math.floor(getCalcMergeAllTown[8] + getCalcMergeAllTown[9])}}</p>
            </div>
          </div>
      </div>
      <div v-if="is24event" class="event24">
        {{getevename}}
      </div>
      <div v-if="getTotalTownCalcB[4][7] && getTotalTownCalcB[4][5] && getTotalTownCalcB[4][6]" class="event24b">
        破
      </div>
      <div v-if="getTotalTownCalcB[4][7] && getTotalTownCalcB[4][5] && !getTotalTownCalcB[4][6]" class="event24b">
        破歲值
      </div>
      <div v-if="getTotalTownCalcB[4][7] && getTotalTownCalcB[4][6] && !getTotalTownCalcB[4][5]" class="event24b">
        破月值
      </div>

      <div class="event24bgdb"
      :class="'dll'+getcolor(getgoodbadday(getTotalTownCalcB[0][6][1], getTotalTownCalcB[0][7][1]))">
        <!-- {{getTotalTownCalcB[0][1][1]}} {{getTotalTownCalcB[0][2][1]}} -->
          日:{{getgoodbadday(getTotalTownCalcB[0][6][1], getTotalTownCalcB[0][7][1])}}
      </div>
      <div v-if="is24evedie" class="event24r">
        四絕日
      </div>
      <div v-if="is24evelea" class="event24r">
        四離日
      </div>
      <div v-if="is24eventbf" class="event24">
        節氣前
      </div>
      <div v-if="is24eventaf" class="event24af">
      </div>
      <div v-if="is24eventaf2" class="event24af">
      </div>
      <div class="bitbittext">
      {{ orgyr }}-{{ orgmon }}-{{ orgdate }} <span style="font-size: 24px;color:white">({{getmond[0]}})</span>
      </div>
      <div class="town-wrapper">
        <div class="bar-wrapper dayowner" v-if="this.calcnum === 9">
          <TopObject :data="getTVal(getTotalTownCalc[0][8][0])"
            :mergetag="getTotalTownCalc[1][8]"
            :mergetagh="getTotalTownCalc[2][8]" />
          <BottomObject :orgdata="getTotalTownCalc[0][8][1]"
            :mergetag="getTotalTownCalcB[1][8]"
            :mergehtag="getTotalTownCalcB[2][8]"
            :merge6htag="getTotalTownCalcB[3][8]"
            :merge180htag="getTotalTownCalcB[4][8]"
            :mergetbhtag="getTotalTownCalcB[5][8]"
            :merge90htag="getTotalTownCalcB[6][8]"
            :merge150htag="getTotalTownCalcB[7][8]"
            :merge60chtag="getTotalTownCalcB[8][8]"
            :data="getBVal(getTotalTownCalc[0][8][1])" />
        </div>
        <div class="bar-wrapper dayownerOwner">
          <TopObject :data="getTVal(getTotalTownCalc[0][7][0])"
            :mergetag="getTotalTownCalc[1][7]"
            :mergetagh="getTotalTownCalc[2][7]" />
          <BottomObject :orgdata="getTotalTownCalc[0][7][1]"
            :mergetag="getTotalTownCalcB[1][7]"
            :mergehtag="getTotalTownCalcB[2][7]"
            :merge6htag="getTotalTownCalcB[3][7]"
            :merge180htag="getTotalTownCalcB[4][7]"
            :mergetbhtag="getTotalTownCalcB[5][7]"
            :merge90htag="getTotalTownCalcB[6][7]"
            :merge150htag="getTotalTownCalcB[7][7]"
            :merge60chtag="getTotalTownCalcB[8][7]"
            :data="getBVal(getTotalTownCalc[0][7][1])" />

        </div>
        <div class="bar-wrapper dayowner">
          <TopObject :data="getTVal(getTotalTownCalc[0][6][0])"
            :mergetag="getTotalTownCalc[1][6]"
            :mergetagh="getTotalTownCalc[2][6]" />
          <BottomObject :orgdata="getTotalTownCalc[0][6][1]"
            :mergetag="getTotalTownCalcB[1][6]"
            :mergehtag="getTotalTownCalcB[2][6]"
            :merge6htag="getTotalTownCalcB[3][6]"
            :merge180htag="getTotalTownCalcB[4][6]"
            :mergetbhtag="getTotalTownCalcB[5][6]"
            :merge90htag="getTotalTownCalcB[6][6]"
            :merge150htag="getTotalTownCalcB[7][6]"
            :merge60chtag="getTotalTownCalcB[8][6]"
            :data="getBVal(getTotalTownCalc[0][6][1])" />
        </div>
        <div class="bar-wrapper dayowner">
          <TopObject :data="getTVal(getTotalTownCalc[0][5][0])"
            :mergetag="getTotalTownCalc[1][5]"
            :mergetagh="getTotalTownCalc[2][5]" />
          <BottomObject :orgdata="getTotalTownCalc[0][5][1]"
            :mergetag="getTotalTownCalcB[1][5]"
            :mergehtag="getTotalTownCalcB[2][5]"
            :merge6htag="getTotalTownCalcB[3][5]"
            :merge180htag="getTotalTownCalcB[4][5]"
            :mergetbhtag="getTotalTownCalcB[5][5]"
            :merge90htag="getTotalTownCalcB[6][5]"
            :merge150htag="getTotalTownCalcB[7][5]"
            :merge60chtag="getTotalTownCalcB[8][5]"
            :data="getBVal(getTotalTownCalc[0][5][1])" />

        </div>
      </div>
  </div>
</template>

<script>

import {
  getWordPowerB,
  getWordPowerT,
  gettoptowncalc,
  getbottomtowncalc,
  getUserTownCustom,
} from '../utils/core'

import TopObject from '@/components/TopObject.vue'
import BottomObject from '@/components/BottomObject.vue'

export default {
  name: 'User',
  props: {
    orgyr: Number,
    orgmon: Number,
    orgdate: Number,
    orghr: Number,
    selyr: Number,
    selmon: Number,
    seldate: Number,
    selhr: Number,
    seltime: Number,
    sex: Boolean,
    tengorType: Number,
    withoutT: Number,
    calcnum: Number,
    is24event: Boolean,
    is24eventbf: Boolean,
    is24eventaf: Boolean,
    is24eventaf2: Boolean,
    is24evedie: Boolean,
    is24evelea: Boolean,
    disev24: Number,
  },
  components: {
    TopObject,
    BottomObject,
  },
  computed: {
    getevename() {
      switch (this.disev24) {
        case 0: return '小寒'
        case 1: return '大寒'
        case 2: return '立春'
        case 3: return '雨水'
        case 4: return '驚蟄'
        case 5: return '春分'
        case 6: return '清明'
        case 7: return '穀雨'
        case 8: return '立夏'
        case 9: return '小滿'
        case 10: return '芒種'
        case 11: return '夏至'
        case 12: return '小暑'
        case 13: return '大暑'
        case 14: return '立秋'
        case 15: return '處暑'
        case 16: return '白露'
        case 17: return '秋分'
        case 18: return '寒露'
        case 19: return '霜降'
        case 20: return '立冬'
        case 21: return '小雪'
        case 22: return '大雪'
        case 23: return '冬至'
        default: return ''
      }
    },
    getmond() {
      return this.getMoonDay(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10))
    },
    getCalcMergeAllTown() {
      return getUserTownCustom(this.orgyr, this.orgmon, this.orgdate, this.orghr, this.sex, this.withoutT, this.selyr, this.selmon, this.seldate,
        this.selhr, this.calcnum)
    },
    getTotalTownCalc() {
      return gettoptowncalc(this.withoutT, this.calcnum, this.selyr, this.selmon, this.seldate,
        this.selhr, this.seltime, false, this.sex,
        this.orgyr, this.orgmon, this.orgdate, this.orghr, 0)
    },
    getTotalTownCalcB() {
      const a = getbottomtowncalc(this.withoutT, this.calcnum, this.selyr, this.selmon, this.seldate,
        this.selhr, this.seltime, false, this.sex,
        this.orgyr, this.orgmon, this.orgdate, this.orghr, 0)
      return a
    },
  },
  methods: {
    getcolor(str) {
      const nls = ['建立', '閉塞', '清除', '圓滿', '平順', '定數', '固執', '沖破', '危險', '成功', '收回', '開通']
      switch (str) {
        case nls[9]:
        case nls[10]:
        case nls[11]:
          return 1
        case nls[0]:
        case nls[2]:
        case nls[3]:
          return 2
        case nls[4]:
        case nls[5]:
          return 3
        default:
          return 0
      }
    },
    getgoodbadday(num1, num2) {
      const nls = ['建立', '閉塞', '清除', '圓滿', '平順', '定數', '固執', '沖破', '危險', '成功', '收回', '開通']
      const lst = [
        ['', '', '', '', '', '', '', '', '', '', '', ''],
        ['', nls[0], nls[2], nls[3], nls[4], nls[5], nls[6], nls[7], nls[8], nls[9], nls[10], nls[11], nls[1]],
        ['', nls[1], nls[0], nls[2], nls[3], nls[4], nls[5], nls[6], nls[7], nls[8], nls[9], nls[10], nls[11]],
        ['', nls[11], nls[1], nls[0], nls[2], nls[3], nls[4], nls[5], nls[6], nls[7], nls[8], nls[9], nls[10]],
        ['', nls[10], nls[11], nls[1], nls[0], nls[2], nls[3], nls[4], nls[5], nls[6], nls[7], nls[8], nls[9]],
        ['', nls[9], nls[10], nls[11], nls[1], nls[0], nls[2], nls[3], nls[4], nls[5], nls[6], nls[7], nls[8]],
        ['', nls[8], nls[9], nls[10], nls[11], nls[1], nls[0], nls[2], nls[3], nls[4], nls[5], nls[6], nls[7]],
        ['', nls[7], nls[8], nls[9], nls[10], nls[11], nls[1], nls[0], nls[2], nls[3], nls[4], nls[5], nls[6]],
        ['', nls[6], nls[7], nls[8], nls[9], nls[10], nls[11], nls[1], nls[0], nls[2], nls[3], nls[4], nls[5]],
        ['', nls[5], nls[6], nls[7], nls[8], nls[9], nls[10], nls[11], nls[1], nls[0], nls[2], nls[3], nls[4]],
        ['', nls[4], nls[5], nls[6], nls[7], nls[8], nls[9], nls[10], nls[11], nls[1], nls[0], nls[2], nls[3]],
        ['', nls[3], nls[4], nls[5], nls[6], nls[7], nls[8], nls[9], nls[10], nls[11], nls[1], nls[0], nls[2]],
        ['', nls[2], nls[3], nls[4], nls[5], nls[6], nls[7], nls[8], nls[9], nls[10], nls[11], nls[1], nls[0]],
      ]

      return lst[num1][num2]
    },
    getMoonDay(yr, mon, day) {
      const e = new Date('2020-02-24T00:00:00Z')
      const newdate = {
        year: yr,
        mon: mon.toString().length > 1 ? mon : `0${mon.toString()}`,
        day: day.toString().length > 1 ? day : `0${day.toString()}`,
      }
      const newdateStr = `${newdate.year}-${newdate.mon}-${newdate.day}T00:00:00Z`
      const aa = new Date(newdateStr)
      const ff = Math.abs(aa - e)
      const ds = Math.floor((ff / (29.530589 * 60 * 60 * 24 * 1000 / 30)) % 30)
      let tmp = ds
      if (e > aa) {
        tmp = 30 - ds
      }
      return [this.convMoonDay(tmp), (ff / (29.530589 * 60 * 60 * 24 * 1000 / 30)) % 30, tmp]
    },
    convMoonDay(num) {
      switch (num) {
        case 0: return 1
        case 1: return 2
        case 2: return 3
        case 3: return 4
        case 4: return 5
        case 5: return 6
        case 6: return 7
        case 7: return 8
        case 8: return 9
        case 9: return 10
        case 10: return 11
        case 11: return 12
        case 12: return 13
        case 13: return 14
        case 14: return 15
        case 15: return 16
        case 16: return 17
        case 17: return 18
        case 18: return 19
        case 19: return 20
        case 20: return 21
        case 21: return 22
        case 22: return 23
        case 23: return 24
        case 24: return 25
        case 25: return 26
        case 26: return 27
        case 27: return 28
        case 28: return 29
        case 29: return 30
        case 30: return 1
        default: return 0
      }
    },
    getBVal(num) {
      return getWordPowerB(num)
    },
    getTVal(num) {
      return getWordPowerT(num)
    },
    convertGod(day, sex) {
      if (sex) {
        switch (day) {
          case 1: return [0, this.getGodNameM(4), this.getGodNameM(3), this.getGodNameM(6), this.getGodNameM(5), this.getGodNameM(8), this.getGodNameM(7), this.getGodNameM(10), this.getGodNameM(9), this.getGodNameM(2), this.getGodNameM(1)]
          case 2: return [0, this.getGodNameM(3), this.getGodNameM(4), this.getGodNameM(5), this.getGodNameM(6), this.getGodNameM(7), this.getGodNameM(8), this.getGodNameM(9), this.getGodNameM(10), this.getGodNameM(1), this.getGodNameM(2)]
          case 3: return [0, this.getGodNameM(2), this.getGodNameM(1), this.getGodNameM(4), this.getGodNameM(3), this.getGodNameM(6), this.getGodNameM(5), this.getGodNameM(8), this.getGodNameM(7), this.getGodNameM(10), this.getGodNameM(9)]
          case 4: return [0, this.getGodNameM(1), this.getGodNameM(2), this.getGodNameM(3), this.getGodNameM(4), this.getGodNameM(5), this.getGodNameM(6), this.getGodNameM(7), this.getGodNameM(8), this.getGodNameM(9), this.getGodNameM(10)]
          case 5: return [0, this.getGodNameM(10), this.getGodNameM(9), this.getGodNameM(2), this.getGodNameM(1), this.getGodNameM(4), this.getGodNameM(3), this.getGodNameM(6), this.getGodNameM(5), this.getGodNameM(8), this.getGodNameM(7)]
          case 6: return [0, this.getGodNameM(9), this.getGodNameM(10), this.getGodNameM(1), this.getGodNameM(2), this.getGodNameM(3), this.getGodNameM(4), this.getGodNameM(5), this.getGodNameM(6), this.getGodNameM(7), this.getGodNameM(8)]
          case 7: return [0, this.getGodNameM(8), this.getGodNameM(7), this.getGodNameM(10), this.getGodNameM(9), this.getGodNameM(2), this.getGodNameM(1), this.getGodNameM(4), this.getGodNameM(3), this.getGodNameM(6), this.getGodNameM(5)]
          case 8: return [0, this.getGodNameM(7), this.getGodNameM(8), this.getGodNameM(9), this.getGodNameM(10), this.getGodNameM(1), this.getGodNameM(2), this.getGodNameM(3), this.getGodNameM(4), this.getGodNameM(5), this.getGodNameM(6)]
          case 9: return [0, this.getGodNameM(6), this.getGodNameM(5), this.getGodNameM(8), this.getGodNameM(7), this.getGodNameM(10), this.getGodNameM(9), this.getGodNameM(2), this.getGodNameM(1), this.getGodNameM(4), this.getGodNameM(3)]
          case 10: return [0, this.getGodNameM(5), this.getGodNameM(6), this.getGodNameM(7), this.getGodNameM(8), this.getGodNameM(9), this.getGodNameM(10), this.getGodNameM(1), this.getGodNameM(2), this.getGodNameM(3), this.getGodNameM(4)]
          default: return [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }
      } else {
        switch (day) {
          case 1: return [0, this.getGodName(4), this.getGodName(3), this.getGodName(6), this.getGodName(5), this.getGodName(8), this.getGodName(7), this.getGodName(10), this.getGodName(9), this.getGodName(2), this.getGodName(1)]
          case 2: return [0, this.getGodName(3), this.getGodName(4), this.getGodName(5), this.getGodName(6), this.getGodName(7), this.getGodName(8), this.getGodName(9), this.getGodName(10), this.getGodName(1), this.getGodName(2)]
          case 3: return [0, this.getGodName(2), this.getGodName(1), this.getGodName(4), this.getGodName(3), this.getGodName(6), this.getGodName(5), this.getGodName(8), this.getGodName(7), this.getGodName(10), this.getGodName(9)]
          case 4: return [0, this.getGodName(1), this.getGodName(2), this.getGodName(3), this.getGodName(4), this.getGodName(5), this.getGodName(6), this.getGodName(7), this.getGodName(8), this.getGodName(9), this.getGodName(10)]
          case 5: return [0, this.getGodName(10), this.getGodName(9), this.getGodName(2), this.getGodName(1), this.getGodName(4), this.getGodName(3), this.getGodName(6), this.getGodName(5), this.getGodName(8), this.getGodName(7)]
          case 6: return [0, this.getGodName(9), this.getGodName(10), this.getGodName(1), this.getGodName(2), this.getGodName(3), this.getGodName(4), this.getGodName(5), this.getGodName(6), this.getGodName(7), this.getGodName(8)]
          case 7: return [0, this.getGodName(8), this.getGodName(7), this.getGodName(10), this.getGodName(9), this.getGodName(2), this.getGodName(1), this.getGodName(4), this.getGodName(3), this.getGodName(6), this.getGodName(5)]
          case 8: return [0, this.getGodName(7), this.getGodName(8), this.getGodName(9), this.getGodName(10), this.getGodName(1), this.getGodName(2), this.getGodName(3), this.getGodName(4), this.getGodName(5), this.getGodName(6)]
          case 9: return [0, this.getGodName(6), this.getGodName(5), this.getGodName(8), this.getGodName(7), this.getGodName(10), this.getGodName(9), this.getGodName(2), this.getGodName(1), this.getGodName(4), this.getGodName(3)]
          case 10: return [0, this.getGodName(5), this.getGodName(6), this.getGodName(7), this.getGodName(8), this.getGodName(9), this.getGodName(10), this.getGodName(1), this.getGodName(2), this.getGodName(3), this.getGodName(4)]
          default: return [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }
      }
    },
    getGodName(num) {
      if (this.tengorType === 1) {
        switch (num) {
          case 1: return '純情'
          case 2: return '佛系'
          case 3: return '女皇'
          case 4: return '朋友'
          case 5: return '引人'
          case 6: return '重情'
          case 7: return '旺夫'
          case 8: return '咸濕'
          case 9: return '守己'
          case 10: return '愛被管'
          default: return ''
        }
      } else if (this.tengorType === 2) {
        switch (num) {
          case 1: return '父母'
          case 2: return '長輩'
          case 3: return '兄妹'
          case 4: return '兄妹'
          case 5: return '阿仔'
          case 6: return '阿女'
          case 7: return '下屬'
          case 8: return '阿爸'
          case 9: return '老公'
          case 10: return '情/小人'
          default: return ''
        }
      } else if (this.tengorType === 3) {
        switch (num) {
          case 1: return '皮膚'
          case 2: return '皮膚'
          case 3: return '四肢'
          case 4: return '四肢'
          case 5: return '口舌'
          case 6: return '口舌'
          case 7: return '呼吸'
          case 8: return '呼吸'
          case 9: return '外傷'
          case 10: return '外傷'
          default: return ''
        }
      } else if (this.tengorType === 4) {
        switch (num) {
          case 1: return '權印'
          case 2: return '文化'
          case 3: return '競爭'
          case 4: return '合作'
          case 5: return '創作'
          case 6: return '享樂'
          case 7: return '財物'
          case 8: return '旅行'
          case 9: return '公職'
          case 10: return '抗壓'
          default: return ''
        }
      } else if (this.tengorType === 6) {
        switch (num) {
          case 1: return '學習'
          case 2: return '思考'
          case 3: return '想洗錢'
          case 4: return '約食飯'
          case 5: return '溝仔仔'
          case 6: return '引仔仔'
          case 7: return '財運'
          case 8: return '攬女'
          case 9: return '忙緊'
          case 10: return '受傷'
          default: return ''
        }
      } else if (this.tengorType === 7) {
        switch (num) {
          case 1: return '學野'
          case 2: return '修哲'
          case 3: return '分析'
          case 4: return '計劃合作'
          case 5: return '比仔溝'
          case 6: return '溝仔'
          case 7: return '儲錢'
          case 8: return '投資'
          case 9: return '結婚'
          case 10: return '偷食'
          default: return ''
        }
      } else if (this.tengorType === 8) {
        switch (num) {
          case 1: return '經驗加乘'
          case 2: return '經驗加乘'
          case 3: return '命中率'
          case 4: return '命中率'
          case 5: return '攻擊力'
          case 6: return '攻擊力'
          case 7: return '掉寶率'
          case 8: return '掉寶率'
          case 9: return '抗屬性'
          case 10: return '抗屬性'
          default: return ''
        }
      } else {
        switch (num) {
          case 1: return '正印'
          case 2: return '偏印'
          case 3: return '劫財'
          case 4: return '比肩'
          case 5: return '傷官'
          case 6: return '食神'
          case 7: return '正財'
          case 8: return '偏財'
          case 9: return '正官'
          case 10: return '七殺'
          default: return ''
        }
      }
    },
    getGodNameM(num) {
      if (this.tengorType === 1) {
        switch (num) {
          case 1: return '純情'
          case 2: return '佛系'
          case 3: return '孤王'
          case 4: return '朋友'
          case 5: return '才華'
          case 6: return '冧女'
          case 7: return '重女'
          case 8: return '食女'
          case 9: return '正經'
          case 10: return '兇狠'
          default: return ''
        }
      } else if (this.tengorType === 2) {
        switch (num) {
          case 1: return '父母'
          case 2: return '長輩'
          case 3: return '兄妹'
          case 4: return '兄妹'
          case 5: return '阿仔'
          case 6: return '阿女'
          case 7: return '老婆'
          case 8: return '情人'
          case 9: return '上司'
          case 10: return '小人'
          default: return ''
        }
      } else if (this.tengorType === 3) {
        switch (num) {
          case 1: return '皮膚'
          case 2: return '皮膚'
          case 3: return '四肢'
          case 4: return '四肢'
          case 5: return '口舌'
          case 6: return '口舌'
          case 7: return '精血'
          case 8: return '精血'
          case 9: return '外傷'
          case 10: return '外傷'
          default: return ''
        }
      } else if (this.tengorType === 4) {
        switch (num) {
          case 1: return '權印'
          case 2: return '文化'
          case 3: return '競爭'
          case 4: return '合作'
          case 5: return '創作'
          case 6: return '享樂'
          case 7: return '財物'
          case 8: return '女人'
          case 9: return '公職'
          case 10: return '抗壓'
          default: return ''
        }
      } else if (this.tengorType === 6) {
        switch (num) {
          case 1: return '學習'
          case 2: return '思考'
          case 3: return '想洗錢'
          case 4: return '約食飯'
          case 5: return '溝仔仔'
          case 6: return '引仔仔'
          case 7: return '財運'
          case 8: return '攬女'
          case 9: return '忙緊'
          case 10: return '受傷'
          default: return ''
        }
      } else if (this.tengorType === 7) {
        switch (num) {
          case 1: return '學野'
          case 2: return '修哲'
          case 3: return '分析'
          case 4: return '計劃合作'
          case 5: return '創作'
          case 6: return '溝女'
          case 7: return '結婚/儲錢'
          case 8: return '偷食/投資'
          case 9: return '升職'
          case 10: return '乜都無做'
          default: return ''
        }
      } else if (this.tengorType === 8) {
        switch (num) {
          case 1: return '經驗加乘'
          case 2: return '經驗加乘'
          case 3: return '命中率'
          case 4: return '命中率'
          case 5: return '攻擊力'
          case 6: return '攻擊力'
          case 7: return '掉寶率'
          case 8: return '掉寶率'
          case 9: return '抗屬性'
          case 10: return '抗屬性'
          default: return ''
        }
      } else {
        switch (num) {
          case 1: return '正印'
          case 2: return '偏印'
          case 3: return '劫財'
          case 4: return '比肩'
          case 5: return '傷官'
          case 6: return '食神'
          case 7: return '正財'
          case 8: return '偏財'
          case 9: return '正官'
          case 10: return '七殺'
          default: return ''
        }
      }
    },
  },
}
</script>

<style scoped lang="stylus">
.dll1
  background red !important
  // background #ff5c79 !important
.dll2
  background orange !important
.dll3
  background blue !important
.event24b
  z-index 9
  color white
  // background black
  font-size 40px
  font-weight bold
  position absolute
  left 0
  bottom 0
  width 100%
  background rgba(0, 0, 0, 0.7)
.event24bgdb
  z-index 9
  color white
  // background black
  font-size 20px
  font-weight bold
  position absolute
  left 0
  top 0
  width auto
  padding 2px 5px
  background rgba(0, 0, 0, 0.6)
.event24
  z-index 11
  color white
  // background black
  font-size 40px
  font-weight bold
  position absolute
  left 0
  // height 100%
  bottom 0
  margin-top -20px
  width 100%
  background rgba(0, 0, 0, 0.7)
.event24r
  z-index 12
  color white
  // background black
  font-size 40px
  font-weight bold
  position absolute
  left 0
  // height 100%
  bottom 0
  margin-top -20px
  width 100%
  background red
.event24af
  z-index 9
  color red
  left 0
  height 100%
  margin-top -20px
  width 100%
  font-size 20px
  font-weight bold
  position absolute
  background rgba(255, 215, 64, 0.4)
.bitbittext
  color white
  text-shadow 1px 1px black
  background #28B463
  font-size 18px
  font-weight bold
  // padding 2px 5px
  margin-bottom 5px
.user
  flex-container(center, center, column, wrap)
  border 2px solid black
  padding-top 40px
  // background black
  &-top
    background #AED6F1
  .tengod-text-w
    margin 0
    color black
  .town-wrapper
    flex-container(center, center, row, wrap)
    .bar-wrapper
      flex-container(stretch, stretch, column, nowrap)
      background black
    .dayowner
      border 2px solid black
    .dayownerOwner
      border 2px solid white
  .filter-wrapper
    width 100%
    // margin 5px
    .filter-panel
      flex-container(center, center, row, wrap)
      .button
        width background #dcdcdc
        color black
        font-size 18px
        padding 5px
        cursor pointer
        border 2px solid black
        border-radius 3px
        margin 5px
        min-width 100px
        &:hover
          background #dcdddd
        &:active
          background #bbbccc
    .filter-panel-end
      // background black
      flex-container(center, flex-end, row, wrap)
      .item
        flex-container(stretch, center, column, wrap)
        .bar
          border 1px solid black
          width 10px
        .bar1
          background #00c853
        .bar2
          background #aeea00
        .bar3
          background #dd2c00
        .bar4
          background #ff3d00
        .bar5
          background #5f4339
        .bar6
          background #795548
        .bar7
          background #FFCA05
        .bar8
          background #ffd740
        .bar9
          background #1976d2
        .bar10
          background #00b0ff
    .filter-panel-end-r
      flex-container(center, flex-start, row, wrap)
      .item
        background black
        flex-container(stretch, center, column, wrap)
        .bar
          border 1px solid black
          width 10px
        .bar1
          background #00c853
        .bar2
          background #aeea00
        .bar3
          background #dd2c00
        .bar4
          background #ff3d00
        .bar5
          background #5f4339
        .bar6
          background #795548
        .bar7
          background #FFCA05
        .bar8
          background #ffd740
        .bar9
          background #1976d2
        .bar10
          background #00b0ff
</style>
