<template>
<div>
  <div class="togglebtn"
    :class="disflag.usertoggle? 'togglebtn-active':''"
    @click="toggleUser"><div class="toggle-wrapper">User</div></div>
    <div class="userList"
      :class="disflag.usertoggle? '':'userList-active'">
      <div class="useritem">
        <input class="search-input" type="text" v-model="searchtext" placeholder="input name"  />
      </div>
      <div class="useritem" v-for="(item, index) in getUser"
        @mouseover="loadUser(item)"
        @click="loadUser(item)"
        :key="index">
        <TopObject class="day" :data="getTVal(item.dd[2][0])" />
        <!--         <BottomObject class="day" :orgdata="item.dd[2][1]"
                :data="getBVal(item.dd[2][1])" /> -->
        {{item.name}}
      </div>
    </div>

    <!-- {{getrelateSameSameList}} -->
    <div style="font-size:20px;background: black;color:white; display:table-cell;padding:5px;" class="selimgs">樣</div>
    <div class="selimgs">
      <div v-for="(item, index) in getrelateSameSameList[0]" :key="index" class="simg-box" style="position: relative;">
        <div @click="loadUser(item)" style="border: 3px solid black;position: absolute;left: 0;top: 0;width: 93.5%;height: 93.5%;"></div>

        <div style="display: flex;position: absolute;bottom:0;left:10px;border: 1px solid white;box-shadow: 2px 2px 2px black">
          <STopObject class="day" :data="getTVal(item.dd[2][0])" />
          <STopObject class="day" :data="getTVal(item.dd[1][0])" />
        </div>
        <div style="display: flex;position: absolute;bottom:0;left:0px;border: 1px solid white;z-index:1;box-shadow: 2px 2px 2px black">
          <SBottomObject class="day" :orgdata="item.dd[2][1]"
          :data="getBVal(item.dd[2][1])" />
        </div>
<!--         <div style="display: flex;position: absolute;bottom:0;left:55px;border: 1px solid white;z-index:1;box-shadow: 2px 2px 2px black">
          <SBottomObject class="day" :orgdata="item.dd[1][1]"
          :data="getBVal(item.dd[1][1])" />
        </div> -->
        <p v-if="item.popo" class="rellabel" style="color:yellow;background: green;border-color:yellow;">popo</p>
        <p v-if="item.soldier" class="rellabel" style="color:yellow;background: green;border-color:yellow;">前軍人</p>
        <p v-if="item.fight" class="rellabel" style="color:yellow;background: green;border-color:yellow;">武打</p>
        <p v-if="item.boss" class="rellabel" style="color:red;background: yellow;border-color:red;">老闆</p>
        <p v-if="item.gov" class="rellabel" style="color:purple;background: white;border-color:purple;">政界</p>
        <p v-if="item.mag" class="rellabel" style="color:green;background: black;border-color:green;">師傅</p>
        <p v-if="item.sameple" class="rellabel" style="color:white;background: blue;border-color:white;">路人</p>
        <img style="cursor: pointer;" v-show="item.id" @click="loadUser(item)" :src="'user/'+item.id+'.jpg'" class="simg" />
      </div>
    </div>
    <div style="font-size:20px;background: black;color:white; display:table-cell;padding:5px;" class="selimgs">思維</div>
    <div class="selimgs">
      <div v-for="(item, index) in getrelateSameSameList[1]" :key="index" class="simg-box" style="position: relative;">
        <div @click="loadUser(item)" style="border: 3px solid black;position: absolute;left: 0;top: 0;width: 93.5%;height: 93.5%;"></div>

        <div style="display: flex;position: absolute;bottom:0;left:10px;border: 1px solid white;box-shadow: 2px 2px 2px black">
          <STopObject class="day" :data="getTVal(item.dd[2][0])" />
          <STopObject class="day" :data="getTVal(item.dd[1][0])" />
        </div>
        <div style="display: flex;position: absolute;bottom:0;left:0px;border: 1px solid white;z-index:1;box-shadow: 2px 2px 2px black">
          <SBottomObject class="day" :orgdata="item.dd[2][1]"
          :data="getBVal(item.dd[2][1])" />
        </div>
<!--         <div style="display: flex;position: absolute;bottom:0;left:55px;border: 1px solid white;z-index:1;box-shadow: 2px 2px 2px black">
          <SBottomObject class="day" :orgdata="item.dd[1][1]"
          :data="getBVal(item.dd[1][1])" />
        </div> -->
        <p v-if="item.popo" class="rellabel" style="color:yellow;background: green;border-color:yellow;">popo</p>
        <p v-if="item.soldier" class="rellabel" style="color:yellow;background: green;border-color:yellow;">前軍人</p>
        <p v-if="item.fight" class="rellabel" style="color:yellow;background: green;border-color:yellow;">武打</p>
        <p v-if="item.boss" class="rellabel" style="color:red;background: yellow;border-color:red;">老闆</p>
        <p v-if="item.gov" class="rellabel" style="color:purple;background: white;border-color:purple;">政界</p>
        <p v-if="item.mag" class="rellabel" style="color:green;background: black;border-color:green;">師傅</p>
        <p v-if="item.sameple" class="rellabel" style="color:white;background: blue;border-color:white;">路人</p>
        <img style="cursor: pointer;" v-show="item.id" @click="loadUser(item)" :src="'user/'+item.id+'.jpg'" class="simg" />
      </div>
    </div>
    <div style="font-size:20px;background: black;color:white; display:table-cell;padding:5px;" class="selimgs">樣＋思維</div>
    <div class="selimgs">
      <div v-for="(item, index) in getrelateSameSameList[2]" :key="index" class="simg-box" style="position: relative;">
        <div @click="loadUser(item)" style="border: 3px solid black;position: absolute;left: 0;top: 0;width: 93.5%;height: 93.5%;"></div>

        <div style="display: flex;position: absolute;bottom:0;left:10px;border: 1px solid white;box-shadow: 2px 2px 2px black">
          <STopObject class="day" :data="getTVal(item.dd[2][0])" />
          <STopObject class="day" :data="getTVal(item.dd[1][0])" />
        </div>
        <div style="display: flex;position: absolute;bottom:0;left:0px;border: 1px solid white;z-index:1;box-shadow: 2px 2px 2px black">
          <SBottomObject class="day" :orgdata="item.dd[2][1]"
          :data="getBVal(item.dd[2][1])" />
        </div>
        <div style="display: flex;position: absolute;bottom:0;left:55px;border: 1px solid white;z-index:1;box-shadow: 2px 2px 2px black">
          <SBottomObject class="day" :orgdata="item.dd[1][1]"
          :data="getBVal(item.dd[1][1])" />
        </div>
        <p v-if="item.popo" class="rellabel" style="color:yellow;background: green;border-color:yellow;">popo</p>
        <p v-if="item.soldier" class="rellabel" style="color:yellow;background: green;border-color:yellow;">前軍人</p>
        <p v-if="item.fight" class="rellabel" style="color:yellow;background: green;border-color:yellow;">武打</p>
        <p v-if="item.boss" class="rellabel" style="color:red;background: yellow;border-color:red;">老闆</p>
        <p v-if="item.gov" class="rellabel" style="color:purple;background: white;border-color:purple;">政界</p>
        <p v-if="item.mag" class="rellabel" style="color:green;background: black;border-color:green;">師傅</p>
        <p v-if="item.sameple" class="rellabel" style="color:white;background: blue;border-color:white;">路人</p>
        <img style="cursor: pointer;" v-show="item.id" @click="loadUser(item)" :src="'user/'+item.id+'.jpg'" class="simg" />
      </div>
    </div>

    <div class="seluserimgbundle" style="width: 150px;height: 150px">
      <img :src="'user/'+id+'.jpg'" class="img seluserimg" />
    </div>
    <div class="header" style="max-width: 900px">
      <div class="header-item horitem">
        <ToggleButton @click.native="toggleSex" :flag="sex" val_a="男" val_b="女" />
        <ToggleButton @click.native="toggleRel" :flag="disflag.relbox" val_a="顯示同類" val_b="隱藏同類" />
        <ToggleButton class="selminbar" @click.native="togglemergetool" :flag="disflag.mergetool" val_a="顯示合表" val_b="隱藏合表" />
        <ToggleButton class="selminbar" @click.native="toggle60" :flag="disflag.dis60" val_a="顯示60" val_b="隱藏60" />
        <ToggleButton class="selminbar" @click.native="toggle150" :flag="disflag.dis150" val_a="顯示150" val_b="隱藏150" />
        <vbutton>{{selname}}</vbutton>
      </div>
      <div class="header-item selminbar">
        <vbutton @click.native="toggletengor(1)">性格</vbutton>
        <vbutton @click.native="toggletengor(2)">六親</vbutton>
        <vbutton @click.native="toggletengor(3)">身體</vbutton>
        <vbutton @click.native="toggletengor(4)">類象</vbutton>
        <vbutton @click.native="toggletengor(5)">十神</vbutton>
        <vbutton @click.native="toggletengor(6)">行為</vbutton>
        <vbutton @click.native="toggletengor(7)">有利</vbutton>
        <vbutton @click.native="toggletengor(8)">Game</vbutton>
      </div>
      <div class="header-item selminbar">
        <vbutton @click.native="toggletime(1)">要時柱</vbutton>
        <vbutton @click.native="toggletime(0)">不要時柱</vbutton>
        <vbutton @click.native="toggletown(4)">本命</vbutton>
        <vbutton @click.native="toggletown(5)">大運</vbutton>
        <vbutton @click.native="toggletown(6)">流年</vbutton>
        <vbutton @click.native="toggletown(7)">流月</vbutton>
        <vbutton @click.native="toggletown(8)">流日</vbutton>
        <vbutton @click.native="toggletown(9)">九柱</vbutton>
      </div>
      <p class="selminbar">人數：{{getrelateList.length}}/{{getUser.length}} ({{Math.floor(getrelateList.length/getUser.length*100)}}%)</p>

      <div class="selminbar">
        <input type="radio" v-model.number="disflag.dissex" value="0" /> 全部
        <input type="radio" v-model.number="disflag.dissex" value="1" /> 男
        <input type="radio" v-model.number="disflag.dissex" value="2" /> 女
      </div>
      <div class="selminbar">
        <input type="radio" v-model.number="disflag.source" value="1" /> 全部
        <input type="radio" v-model.number="disflag.source" value="2" /> 不出POPO
        <input type="radio" v-model.number="disflag.source" value="4" /> 個人
        <input type="radio" v-model.number="disflag.source" value="3" /> 只出POPO
      </div>
      <div class="header-item">
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orgyr" min="1911" />
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orgmon" min="1" max="12" />
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orgdate" min="1" max="31" />
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orghr" min="0" max="23" />
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orgtime" min="0" max="59" />
      </div>
      <div class="header-item">
        <ToggleButton @click.native="toggleRuntime" :flag="disflag.runtime" val_a="實時中" val_b="暫停中" />
        <input type="number" class="item" v-model.number="curyr" min="1911" />
        <input type="number" class="item" v-model.number="curmon" min="1" max="12" />
        <input type="number" class="item" v-model.number="curdate" min="1" max="31" />
        <input type="number" class="item" v-model.number="curhr" min="0" max="23" />
        <input type="number" class="item selminbar" v-model.number="curtime" min="0" max="59" />
        <input type="number" class="item selminbar" v-model.number="curss" min="0" max="59" />
      </div>
      <div class="header-item">
        <div class="slidecontainer selminbar">
          <input type="range" min="10" max="24" v-model="ratea" step="1" class="slider" id="myRange">
          <p>天干：地支比重 {{ Math.floor((ratea /10)/((ratea /10)+1)*100) }}:{{ Math.floor(1/((ratea /10)+1)*100) }}</p>
        </div>
      </div>
    </div>
    <div class="header-item-ho">
      <div class="header-item">
        <div class="filter-wrapper">
          <div class="filter-wrapper">
            <p>{{Math.floor(getCalcMergeAllTown[0] + getCalcMergeAllTown[1]
              + getCalcMergeAllTown[2] + getCalcMergeAllTown[3]
              + getCalcMergeAllTown[4] + getCalcMergeAllTown[5]
              + getCalcMergeAllTown[6] + getCalcMergeAllTown[7]
              + getCalcMergeAllTown[8] + getCalcMergeAllTown[9])}} / <span v-if="withoutT == 1">{{(100*disnum) + 100*ratea/10*disnum}}</span><span v-else>{{(100*(disnum-1)) + 100*ratea/10*(disnum-1)}}</span> </p>
            <p>{{calcNumofPower(
                getCalcMergeAllTown[0] + getCalcMergeAllTown[1],
                getCalcMergeAllTown[2] + getCalcMergeAllTown[3],
                getCalcMergeAllTown[4] + getCalcMergeAllTown[5],
                getCalcMergeAllTown[6] + getCalcMergeAllTown[7],
                getCalcMergeAllTown[8] + getCalcMergeAllTown[9],
                getTotalTownCalc[0][2][0]
              )}}</p>
            <p v-show="disnum < 6"> 自身氣</p>
          </div>
          <div class="filter-panel-end">
            <div class="item">
              <div class="bar bar1" :style="{ height: getCalcMergeAllTown[0] / 10 + 'px' }"></div>
              <div class="bar bar2" :style="{ height: getCalcMergeAllTown[1] / 10 + 'px' }"></div>
              <p class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[1]}}</p>
              <p v-if="tengorType !== 8" class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[2]}}</p>
              <p class="tengod-text-w">{{Math.floor(getCalcMergeAllTown[0] + getCalcMergeAllTown[1])}}</p>
            </div>
            <div class="item">
              <div class="bar bar3" :style="{ height: getCalcMergeAllTown[2] / 10 + 'px' }"></div>
              <div class="bar bar4" :style="{ height: getCalcMergeAllTown[3] / 10 + 'px' }"></div>
              <p class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[3]}}</p>
              <p v-if="tengorType !== 8" class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[4]}}</p>
              <p class="tengod-text-w">{{Math.floor(getCalcMergeAllTown[2] + getCalcMergeAllTown[3])}}</p>
            </div>
            <div class="item">
              <div class="bar bar5" :style="{ height: getCalcMergeAllTown[4] / 10 + 'px' }"></div>
              <div class="bar bar6" :style="{ height: getCalcMergeAllTown[5] / 10 + 'px' }"></div>
              <p class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[5]}}</p>
              <p v-if="tengorType !== 8" class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[6]}}</p>
              <p class="tengod-text-w">{{Math.floor(getCalcMergeAllTown[4] + getCalcMergeAllTown[5])}}</p>
            </div>
            <div class="item">
              <div class="bar bar7" :style="{ height: getCalcMergeAllTown[6] / 10 + 'px' }"></div>
              <div class="bar bar8" :style="{ height: getCalcMergeAllTown[7] / 10 + 'px' }"></div>
              <p class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[7]}}</p>
              <p v-if="tengorType !== 8" class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[8]}}</p>
              <p class="tengod-text-w">{{Math.floor(getCalcMergeAllTown[6] + getCalcMergeAllTown[7])}}</p>
            </div>
            <div class="item">
              <div class="bar bar9" :style="{ height: getCalcMergeAllTown[8] / 10 + 'px' }"></div>
              <div class="bar bar10" :style="{ height: getCalcMergeAllTown[9] / 10 + 'px' }"></div>
              <p class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[9]}}</p>
              <p v-if="tengorType !== 8" class="tengod-text-w">{{convertGod(getTotalTownCalc[0][2][0], sex)[10]}}</p>
              <p class="tengod-text-w">{{Math.floor(getCalcMergeAllTown[8] + getCalcMergeAllTown[9])}}</p>
            </div>
          </div>
          <div class="filter-wrapper" v-show="disnum < 6">
            <div class="filter-panel-end-r">
              <div class="item">
                <div class="bar bar1" :style="{ height: getCalcMergeCurrent[0] / 10 + 'px' }"></div>
                <div class="bar bar2" :style="{ height: getCalcMergeCurrent[1] / 10 + 'px' }"></div>
              </div>
              <div class="item">
                <div class="bar bar3" :style="{ height: getCalcMergeCurrent[2] / 10 + 'px' }"></div>
                <div class="bar bar4" :style="{ height: getCalcMergeCurrent[3] / 10 + 'px' }"></div>
              </div>
              <div class="item">
                <div class="bar bar5" :style="{ height: getCalcMergeCurrent[4] / 10 + 'px' }"></div>
                <div class="bar bar6" :style="{ height: getCalcMergeCurrent[5] / 10 + 'px' }"></div>
              </div>
              <div class="item">
                <div class="bar bar7" :style="{ height: getCalcMergeCurrent[6] / 10 + 'px' }"></div>
                <div class="bar bar8" :style="{ height: getCalcMergeCurrent[7] / 10 + 'px' }"></div>
              </div>
              <div class="item">
                <div class="bar bar9" :style="{ height: getCalcMergeCurrent[8] / 10 + 'px' }"></div>
                <div class="bar bar10" :style="{ height: getCalcMergeCurrent[9] / 10 + 'px' }"></div>
              </div>
            </div>
          </div>
          <div class="filter-wrapper">
            <p v-show="disnum < 6">流動外氣</p>
          </div>
        </div>
      </div>
      <div class="header-item">
        <div class="line">
          <svg height="278" width="278">
            <!-- 120 -->
            <polyline v-if="getBottomUserInfo[6] > 1 && getBottomUserInfo[10] > 1"
              stroke-linecap="round" points="105,40 245,180" style="fill:none;stroke:#dd2c00;stroke-width:8;" />
            <polyline v-if="getBottomUserInfo[2] > 1 && getBottomUserInfo[10] > 1"
              stroke-linecap="round" points="245,180 35,245" style="fill:none;stroke:#dd2c00;stroke-width:8;" />
            <polyline v-if="getBottomUserInfo[6] > 1 && getBottomUserInfo[2] > 1"
              stroke-linecap="round" points="35,245 105,40" style="fill:none;stroke:#dd2c00;stroke-width:8;" />
            <polyline v-if="getBottomUserInfo[8] > 1 && getBottomUserInfo[0] > 1"
              stroke-linecap="round" points="245,35 170,245" style="fill: none; stroke: rgb(25, 118, 210); stroke-width:8;" />
            <polyline v-if="getBottomUserInfo[4] > 1 && getBottomUserInfo[0] > 1"
              stroke-linecap="round" points="170,245 35,100" style="fill: none; stroke: rgb(25, 118, 210); stroke-width:8;" />
            <polyline v-if="getBottomUserInfo[8] > 1 && getBottomUserInfo[4] > 1"
              stroke-linecap="round" points="35,100 245,35" style="fill: none; stroke: rgb(25, 118, 210); stroke-width:8;" />
            <polyline v-if="getBottomUserInfo[1] > 1 && getBottomUserInfo[9] > 1"
              stroke-linecap="round" points="245,105 100,245" style="fill:none;stroke:#ffca05;stroke-width:8;" />
            <polyline v-if="getBottomUserInfo[1] > 1 && getBottomUserInfo[5] > 1"
              stroke-linecap="round" points="100,245 35,35" style="fill:none;stroke:#ffca05;stroke-width:8;" />
            <polyline v-if="getBottomUserInfo[5] > 1 && getBottomUserInfo[9] > 1"
              stroke-linecap="round" points="35,35 245,105" style="fill:none;stroke:#ffca05;stroke-width:8;" />
            <polyline v-if="getBottomUserInfo[7] > 1 && getBottomUserInfo[11] > 1"
              stroke-linecap="round" points="170,35 245,245" style="fill:none;stroke:#00c853;stroke-width:8;" />
            <polyline v-if="getBottomUserInfo[3] > 1 && getBottomUserInfo[11] > 1"
              stroke-linecap="round" points="245,245 35,170" style="fill:none;stroke:#00c853;stroke-width:8;" />
            <polyline v-if="getBottomUserInfo[3] > 1 && getBottomUserInfo[7] > 1"
              stroke-linecap="round" points="35,170 170,35" style="fill:none;stroke:#00c853;stroke-width:8;" />
            <!-- 90 -->
            <polyline v-if="getBottomUserInfo[2] > 1 && getBottomUserInfo[5] > 1" stroke-linecap="round"
              :points="pos.a3[0]+','+pos.a3[1]+' '+pos.a6[0]+','+pos.a6[1]" style="fill:none;stroke:black;stroke-width:3" />
            <polyline v-if="getBottomUserInfo[8] > 1 && getBottomUserInfo[5] > 1" stroke-linecap="round"
              :points="pos.a9[0]+','+pos.a9[1]+' '+pos.a6[0]+','+pos.a6[1]" style="fill:none;stroke:black;stroke-width:3" />
            <polyline v-if="getBottomUserInfo[8] > 1 && getBottomUserInfo[11] > 1" stroke-linecap="round"
              :points="pos.a9[0]+','+pos.a9[1]+' '+pos.a12[0]+','+pos.a12[1]" style="fill:none;stroke:black;stroke-width:3" />
            <polyline v-if="getBottomUserInfo[2] > 1 && getBottomUserInfo[11] > 1" stroke-linecap="round"
              :points="pos.a3[0]+','+pos.a3[1]+' '+pos.a12[0]+','+pos.a12[1]" style="fill:none;stroke:black;stroke-width:3" />

            <polyline v-if="getBottomUserInfo[0] > 1 && getBottomUserInfo[3] > 1" stroke-linecap="round"
              :points="pos.a1[0]+','+pos.a1[1]+' '+pos.a4[0]+','+pos.a4[1]" style="fill:none;stroke:black;stroke-width:3" />
            <polyline v-if="getBottomUserInfo[6] > 1 && getBottomUserInfo[3] > 1" stroke-linecap="round"
              :points="pos.a7[0]+','+pos.a7[1]+' '+pos.a4[0]+','+pos.a4[1]" style="fill:none;stroke:black;stroke-width:3" />
            <polyline v-if="getBottomUserInfo[6] > 1 && getBottomUserInfo[9] > 1" stroke-linecap="round"
              :points="pos.a7[0]+','+pos.a7[1]+' '+pos.a10[0]+','+pos.a10[1]" style="fill:none;stroke:black;stroke-width:3" />
            <polyline v-if="getBottomUserInfo[0] > 1 && getBottomUserInfo[9] > 1" stroke-linecap="round"
              :points="pos.a1[0]+','+pos.a1[1]+' '+pos.a10[0]+','+pos.a10[1]" style="fill:none;stroke:black;stroke-width:3" />

            <polyline v-if="getBottomUserInfo[1] > 1 && getBottomUserInfo[4] > 1" stroke-linecap="round"
              :points="pos.a2[0]+','+pos.a2[1]+' '+pos.a5[0]+','+pos.a5[1]" style="fill:none;stroke:black;stroke-width:3" />
            <polyline v-if="getBottomUserInfo[7] > 1 && getBottomUserInfo[4] > 1" stroke-linecap="round"
              :points="pos.a8[0]+','+pos.a8[1]+' '+pos.a5[0]+','+pos.a5[1]" style="fill:none;stroke:black;stroke-width:3" />
            <polyline v-if="getBottomUserInfo[7] > 1 && getBottomUserInfo[10] > 1" stroke-linecap="round"
              :points="pos.a8[0]+','+pos.a8[1]+' '+pos.a11[0]+','+pos.a11[1]" style="fill:none;stroke:black;stroke-width:3" />
            <polyline v-if="getBottomUserInfo[1] > 1 && getBottomUserInfo[10] > 1" stroke-linecap="round"
              :points="pos.a2[0]+','+pos.a2[1]+' '+pos.a11[0]+','+pos.a11[1]" style="fill:none;stroke:black;stroke-width:3" />

            <!-- 180 -->
            <polyline v-if="getBottomUserInfo[0] > 1 && getBottomUserInfo[6] > 1" stroke-linecap="round"
              :points="pos.a1[0]+','+pos.a1[1]+' '+pos.a7[0]+','+pos.a7[1]" style="fill:none;stroke:rgba(0, 0, 0, 0.5);stroke-width:8" />
            <polyline v-if="getBottomUserInfo[1] > 1 && getBottomUserInfo[7] > 1" stroke-linecap="round"
              :points="pos.a2[0]+','+pos.a2[1]+' '+pos.a8[0]+','+pos.a8[1]" style="fill:none;stroke:rgba(0, 0, 0, 0.5);stroke-width:8" />
            <polyline v-if="getBottomUserInfo[2] > 1 && getBottomUserInfo[8] > 1" stroke-linecap="round"
              :points="pos.a3[0]+','+pos.a3[1]+' '+pos.a9[0]+','+pos.a9[1]" style="fill:none;stroke:rgba(0, 0, 0, 0.5);stroke-width:8" />
            <polyline v-if="getBottomUserInfo[3] > 1 && getBottomUserInfo[9] > 1" stroke-linecap="round"
              :points="pos.a4[0]+','+pos.a4[1]+' '+pos.a10[0]+','+pos.a10[1]" style="fill:none;stroke:rgba(0, 0, 0, 0.5);stroke-width:8" />
            <polyline v-if="getBottomUserInfo[4] > 1 && getBottomUserInfo[10] > 1" stroke-linecap="round"
              :points="pos.a5[0]+','+pos.a5[1]+' '+pos.a11[0]+','+pos.a11[1]" style="fill:none;stroke:rgba(0, 0, 0, 0.5);stroke-width:8" />
            <polyline v-if="getBottomUserInfo[5] > 1 && getBottomUserInfo[11] > 1" stroke-linecap="round"
              :points="pos.a5[0]+','+pos.a6[1]+' '+pos.a12[0]+','+pos.a12[1]" style="fill:none;stroke:rgba(0, 0, 0, 0.5);stroke-width:8" />

            <!-- 150 -->
            <polyline v-if="disflag.dis150 && getBottomUserInfo[0] > 1 && getBottomUserInfo[5] > 1" stroke-linecap="round"
              :points="pos.a1[0]+','+pos.a1[1]+' '+pos.a6[0]+','+pos.a6[1]" style="fill:none;stroke:rgba(255, 120, 30, 0.5);stroke-width:3" />
            <polyline v-if="disflag.dis150 && getBottomUserInfo[0] > 1 && getBottomUserInfo[7] > 1" stroke-linecap="round"
              :points="pos.a1[0]+','+pos.a1[1]+' '+pos.a8[0]+','+pos.a8[1]" style="fill:none;stroke:rgba(255, 120, 30, 0.5);stroke-width:3" />

            <polyline v-if="disflag.dis150 && getBottomUserInfo[1] > 1 && getBottomUserInfo[6] > 1" stroke-linecap="round"
              :points="pos.a2[0]+','+pos.a2[1]+' '+pos.a7[0]+','+pos.a7[1]" style="fill:none;stroke:rgba(255, 120, 30, 0.5);stroke-width:3" />
            <polyline v-if="disflag.dis150 && getBottomUserInfo[1] > 1 && getBottomUserInfo[8] > 1" stroke-linecap="round"
              :points="pos.a2[0]+','+pos.a2[1]+' '+pos.a9[0]+','+pos.a9[1]" style="fill:none;stroke:rgba(255, 120, 30, 0.5);stroke-width:3" />

            <polyline v-if="disflag.dis150 && getBottomUserInfo[2] > 1 && getBottomUserInfo[7] > 1" stroke-linecap="round"
              :points="pos.a3[0]+','+pos.a3[1]+' '+pos.a8[0]+','+pos.a8[1]" style="fill:none;stroke:rgba(255, 120, 30, 0.5);stroke-width:3" />
            <polyline v-if="disflag.dis150 && getBottomUserInfo[2] > 1 && getBottomUserInfo[9] > 1" stroke-linecap="round"
              :points="pos.a3[0]+','+pos.a3[1]+' '+pos.a10[0]+','+pos.a10[1]" style="fill:none;stroke:rgba(255, 120, 30, 0.5);stroke-width:3" />

            <polyline v-if="disflag.dis150 && getBottomUserInfo[3] > 1 && getBottomUserInfo[8] > 1" stroke-linecap="round"
              :points="pos.a4[0]+','+pos.a4[1]+' '+pos.a9[0]+','+pos.a9[1]" style="fill:none;stroke:rgba(255, 120, 30, 0.5);stroke-width:3" />
            <polyline v-if="disflag.dis150 && getBottomUserInfo[3] > 1 && getBottomUserInfo[10] > 1" stroke-linecap="round"
              :points="pos.a4[0]+','+pos.a4[1]+' '+pos.a11[0]+','+pos.a11[1]" style="fill:none;stroke:rgba(255, 120, 30, 0.5);stroke-width:3" />

            <polyline v-if="disflag.dis150 && getBottomUserInfo[4] > 1 && getBottomUserInfo[9] > 1" stroke-linecap="round"
              :points="pos.a5[0]+','+pos.a5[1]+' '+pos.a10[0]+','+pos.a10[1]" style="fill:none;stroke:rgba(255, 120, 30, 0.5);stroke-width:3" />
            <polyline v-if="disflag.dis150 && getBottomUserInfo[4] > 1 && getBottomUserInfo[11] > 1" stroke-linecap="round"
              :points="pos.a5[0]+','+pos.a5[1]+' '+pos.a12[0]+','+pos.a12[1]" style="fill:none;stroke:rgba(255, 120, 30, 0.5);stroke-width:3" />

            <polyline v-if="disflag.dis150 && getBottomUserInfo[5] > 1 && getBottomUserInfo[10] > 1" stroke-linecap="round"
              :points="pos.a6[0]+','+pos.a6[1]+' '+pos.a11[0]+','+pos.a11[1]" style="fill:none;stroke:rgba(255, 120, 30, 0.5);stroke-width:3" />
            <polyline v-if="disflag.dis150 && getBottomUserInfo[5] > 1 && getBottomUserInfo[0] > 1" stroke-linecap="round"
              :points="pos.a6[0]+','+pos.a6[1]+' '+pos.a1[0]+','+pos.a1[1]" style="fill:none;stroke:rgba(255, 120, 30, 0.5);stroke-width:3" />

            <polyline v-if="disflag.dis150 && getBottomUserInfo[6] > 1 && getBottomUserInfo[11] > 1" stroke-linecap="round"
              :points="pos.a7[0]+','+pos.a7[1]+' '+pos.a12[0]+','+pos.a12[1]" style="fill:none;stroke:rgba(255, 120, 30, 0.5);stroke-width:3" />

              <!-- 60 -->
            <polyline v-if="disflag.dis60 && getBottomUserInfo[0] > 1 && getBottomUserInfo[10] > 1" stroke-linecap="round"
              :points="pos.a1[0]+','+pos.a1[1]+' '+pos.a11[0]+','+pos.a11[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />
            <polyline v-if="disflag.dis60 && getBottomUserInfo[0] > 1 && getBottomUserInfo[2] > 1" stroke-linecap="round"
              :points="pos.a1[0]+','+pos.a1[1]+' '+pos.a3[0]+','+pos.a3[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />

            <polyline v-if="disflag.dis60 && getBottomUserInfo[1] > 1 && getBottomUserInfo[11] > 1" stroke-linecap="round"
              :points="pos.a2[0]+','+pos.a2[1]+' '+pos.a12[0]+','+pos.a12[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />
            <polyline v-if="disflag.dis60 && getBottomUserInfo[1] > 1 && getBottomUserInfo[3] > 1" stroke-linecap="round"
              :points="pos.a2[0]+','+pos.a2[1]+' '+pos.a4[0]+','+pos.a4[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />

            <polyline v-if="disflag.dis60 && getBottomUserInfo[2] > 1 && getBottomUserInfo[0] > 1" stroke-linecap="round"
              :points="pos.a3[0]+','+pos.a3[1]+' '+pos.a1[0]+','+pos.a1[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />
            <polyline v-if="disflag.dis60 && getBottomUserInfo[2] > 1 && getBottomUserInfo[4] > 1" stroke-linecap="round"
              :points="pos.a3[0]+','+pos.a3[1]+' '+pos.a5[0]+','+pos.a5[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />

            <polyline v-if="disflag.dis60 && getBottomUserInfo[3] > 1 && getBottomUserInfo[1] > 1" stroke-linecap="round"
              :points="pos.a4[0]+','+pos.a4[1]+' '+pos.a2[0]+','+pos.a2[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />
            <polyline v-if="disflag.dis60 && getBottomUserInfo[3] > 1 && getBottomUserInfo[5] > 1" stroke-linecap="round"
              :points="pos.a4[0]+','+pos.a4[1]+' '+pos.a6[0]+','+pos.a6[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />

            <polyline v-if="disflag.dis60 && getBottomUserInfo[4] > 1 && getBottomUserInfo[2] > 1" stroke-linecap="round"
              :points="pos.a5[0]+','+pos.a5[1]+' '+pos.a3[0]+','+pos.a3[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />
            <polyline v-if="disflag.dis60 && getBottomUserInfo[4] > 1 && getBottomUserInfo[6] > 1" stroke-linecap="round"
              :points="pos.a5[0]+','+pos.a5[1]+' '+pos.a7[0]+','+pos.a7[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />

            <polyline v-if="disflag.dis60 && getBottomUserInfo[5] > 1 && getBottomUserInfo[3] > 1" stroke-linecap="round"
              :points="pos.a6[0]+','+pos.a6[1]+' '+pos.a4[0]+','+pos.a4[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />
            <polyline v-if="disflag.dis60 && getBottomUserInfo[5] > 1 && getBottomUserInfo[7] > 1" stroke-linecap="round"
              :points="pos.a6[0]+','+pos.a6[1]+' '+pos.a8[0]+','+pos.a8[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />

            <polyline v-if="disflag.dis60 && getBottomUserInfo[6] > 1 && getBottomUserInfo[4] > 1" stroke-linecap="round"
              :points="pos.a7[0]+','+pos.a7[1]+' '+pos.a5[0]+','+pos.a5[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />
            <polyline v-if="disflag.dis60 && getBottomUserInfo[6] > 1 && getBottomUserInfo[8] > 1" stroke-linecap="round"
              :points="pos.a7[0]+','+pos.a7[1]+' '+pos.a9[0]+','+pos.a9[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />

            <polyline v-if="disflag.dis60 && getBottomUserInfo[7] > 1 && getBottomUserInfo[5] > 1" stroke-linecap="round"
              :points="pos.a8[0]+','+pos.a8[1]+' '+pos.a6[0]+','+pos.a6[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />
            <polyline v-if="disflag.dis60 && getBottomUserInfo[7] > 1 && getBottomUserInfo[9] > 1" stroke-linecap="round"
              :points="pos.a8[0]+','+pos.a8[1]+' '+pos.a10[0]+','+pos.a10[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />

            <polyline v-if="disflag.dis60 && getBottomUserInfo[8] > 1 && getBottomUserInfo[6] > 1" stroke-linecap="round"
              :points="pos.a9[0]+','+pos.a9[1]+' '+pos.a7[0]+','+pos.a7[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />
            <polyline v-if="disflag.dis60 && getBottomUserInfo[8] > 1 && getBottomUserInfo[10] > 1" stroke-linecap="round"
              :points="pos.a9[0]+','+pos.a9[1]+' '+pos.a11[0]+','+pos.a11[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />

            <polyline v-if="disflag.dis60 && getBottomUserInfo[9] > 1 && getBottomUserInfo[7] > 1" stroke-linecap="round"
              :points="pos.a10[0]+','+pos.a10[1]+' '+pos.a8[0]+','+pos.a8[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />
            <polyline v-if="disflag.dis60 && getBottomUserInfo[9] > 1 && getBottomUserInfo[11] > 1" stroke-linecap="round"
              :points="pos.a10[0]+','+pos.a10[1]+' '+pos.a12[0]+','+pos.a12[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />

            <polyline v-if="disflag.dis60 && getBottomUserInfo[10] > 1 && getBottomUserInfo[8] > 1" stroke-linecap="round"
              :points="pos.a11[0]+','+pos.a11[1]+' '+pos.a9[0]+','+pos.a9[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />
            <polyline v-if="disflag.dis60 && getBottomUserInfo[10] > 1 && getBottomUserInfo[0] > 1" stroke-linecap="round"
              :points="pos.a11[0]+','+pos.a11[1]+' '+pos.a1[0]+','+pos.a1[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />

            <polyline v-if="disflag.dis60 && getBottomUserInfo[11] > 1 && getBottomUserInfo[9] > 1" stroke-linecap="round"
              :points="pos.a12[0]+','+pos.a12[1]+' '+pos.a10[0]+','+pos.a10[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />
            <polyline v-if="disflag.dis60 && getBottomUserInfo[11] > 1 && getBottomUserInfo[1] > 1" stroke-linecap="round"
              :points="pos.a12[0]+','+pos.a12[1]+' '+pos.a2[0]+','+pos.a2[1]" style="fill:none;stroke:#00ffc3;stroke-width:3" />
              <!-- 6 -->
            <polyline v-if="getBottomUserInfo[6] > 1 && getBottomUserInfo[7] > 1" stroke-linecap="round"
              :points="pos.a7[0]+','+pos.a7[1]+' '+pos.a8[0]+','+pos.a8[1]" style="fill:none;stroke:#dd2c00;stroke-width:20;opacity: 0.5" />
            <polyline v-if="getBottomUserInfo[3] > 1 && getBottomUserInfo[10] > 1" stroke-linecap="round"
              :points="pos.a4[0]+','+pos.a4[1]+' '+pos.a11[0]+','+pos.a11[1]" style="fill:none;stroke:#dd2c00;stroke-width:20;opacity: 0.5" />
            <polyline v-if="getBottomUserInfo[2] > 1 && getBottomUserInfo[11] > 1" stroke-linecap="round"
              :points="pos.a3[0]+','+pos.a3[1]+' '+pos.a12[0]+','+pos.a12[1]" style="fill:none;stroke:#00c853;stroke-width:20;opacity: 0.5" />
            <polyline v-if="getBottomUserInfo[1] > 1 && getBottomUserInfo[0] > 1" stroke-linecap="round"
              :points="pos.a2[0]+','+pos.a2[1]+' '+pos.a1[0]+','+pos.a1[1]" style="fill:none;stroke:#5f4339;stroke-width:20;opacity: 0.5" />
            <polyline v-if="getBottomUserInfo[4] > 1 && getBottomUserInfo[9] > 1" stroke-linecap="round"
              :points="pos.a5[0]+','+pos.a5[1]+' '+pos.a10[0]+','+pos.a10[1]" style="fill:none;stroke:#ffca05;stroke-width:20;opacity: 0.5" />
            <polyline v-if="getBottomUserInfo[5] > 1 && getBottomUserInfo[8] > 1" stroke-linecap="round"
              :points="pos.a6[0]+','+pos.a6[1]+' '+pos.a9[0]+','+pos.a9[1]" style="fill:none;stroke:#1976d2;stroke-width:20;opacity: 0.5" />

          </svg>
        </div>

        <div class="cbundle">
          <div class="citem" style="background-image: url('bottom/6.jpg')"
               :style="{transform: 'rotateZ(-'+rotate+'deg) scale(1.'+ getBottomUserInfo[5]*2 +')'}"
               :class="getBottomUserInfo[5] > 1 ? 'citem-active2' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/7.jpg')"
               :style="{transform: 'rotateZ(-'+rotate+'deg) scale(1.'+ getBottomUserInfo[6]*2 +')'}"
               :class="getBottomUserInfo[6] > 1 ? 'citem-active2' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/8.jpg')"
               :style="{transform: 'rotateZ(-'+rotate+'deg) scale(1.'+ getBottomUserInfo[7]*2 +')'}"
               :class="getBottomUserInfo[7] > 1 ? 'citem-active2' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/9.jpg')"
               :style="{transform: 'rotateZ(-'+rotate+'deg) scale(1.'+ getBottomUserInfo[8]*2 +')'}"
               :class="getBottomUserInfo[8] > 1 ? 'citem-active4' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/5.jpg')"
               :style="{transform: 'rotateZ(-'+rotate+'deg) scale(1.'+ getBottomUserInfo[4]*2 +')'}"
               :class="getBottomUserInfo[4] > 1 ? 'citem-active1' : ''">
          </div>
          <div class="citem citemhide" style="grid-column: 2 / span 2;width: 114px;height: 114px;grid-row: 2 /span 2;"></div>
          <div class="citem" style="background-image: url('bottom/10.jpg')"
               :style="{transform: 'rotateZ(-'+rotate+'deg) scale(1.'+ getBottomUserInfo[9]*2 +')'}"
               :class="getBottomUserInfo[9] > 1 ? 'citem-active4' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/4.jpg')"
               :style="{transform: 'rotateZ(-'+rotate+'deg) scale(1.'+ getBottomUserInfo[3]*2 +')'}"
               :class="getBottomUserInfo[3] > 1 ? 'citem-active1' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/11.jpg')"
               :style="{transform: 'rotateZ(-'+rotate+'deg) scale(1.'+ getBottomUserInfo[10]*2 +')'}"
               :class="getBottomUserInfo[10] > 1 ? 'citem-active4' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/3.jpg')"
               :style="{transform: 'rotateZ(-'+rotate+'deg) scale(1.'+ getBottomUserInfo[2]*2 +')'}"
               :class="getBottomUserInfo[2] > 1 ? 'citem-active1' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/2.jpg')"
               :style="{transform: 'rotateZ(-'+rotate+'deg) scale(1.'+ getBottomUserInfo[1]*2 +')'}"
               :class="getBottomUserInfo[1] > 1 ? 'citem-active5' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/1.jpg')"
               :style="{transform: 'rotateZ(-'+rotate+'deg) scale(1.'+ getBottomUserInfo[0]*2 +')'}"
               :class="getBottomUserInfo[0] > 1 ? 'citem-active5' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/12.jpg')"
               :style="{transform: 'rotateZ(-'+rotate+'deg) scale(1.'+ getBottomUserInfo[11]*2 +')'}"
               :class="getBottomUserInfo[11] > 1 ? 'citem-active5' : ''">
          </div>
        </div>
      </div>

      <div class="header-item">
        <div class="cbundle">
          <div>三會木局(
          {{convertGod(getTotalTownCalc[0][2][0], sex)[1]}}
          {{convertGod(getTotalTownCalc[0][2][0], sex)[2]}}
        )</div>
          <div class="citem" style="background-image: url('bottom/3.jpg')"
               :class="getBottomUserInfo[2] > 1 ? 'citem-active1' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/4.jpg')"
               :class="getBottomUserInfo[3] > 1 ? 'citem-active1' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/5.jpg')"
               :class="getBottomUserInfo[4] > 1 ? 'citem-active1' : ''">
          </div>
        </div>
        <div class="cbundle">
          <div>三會火局(
          {{convertGod(getTotalTownCalc[0][2][0], sex)[3]}}
          {{convertGod(getTotalTownCalc[0][2][0], sex)[4]}}
        )</div>
          <div class="citem" style="background-image: url('bottom/6.jpg')"
               :class="getBottomUserInfo[5] > 1 ? 'citem-active2' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/7.jpg')"
               :class="getBottomUserInfo[6] > 1 ? 'citem-active2' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/8.jpg')"
               :class="getBottomUserInfo[7] > 1 ? 'citem-active2' : ''">
          </div>
        </div>
        <div class="cbundle">
          <div>三會金局(
          {{convertGod(getTotalTownCalc[0][2][0], sex)[7]}}
          {{convertGod(getTotalTownCalc[0][2][0], sex)[8]}}
        )</div>
          <div class="citem" style="background-image: url('bottom/9.jpg')"
               :class="getBottomUserInfo[8] > 1 ? 'citem-active4' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/10.jpg')"
               :class="getBottomUserInfo[9] > 1 ? 'citem-active4' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/11.jpg')"
               :class="getBottomUserInfo[10] > 1 ? 'citem-active4' : ''">
          </div>
        </div>
        <div class="cbundle">
          <div>三會水局(
          {{convertGod(getTotalTownCalc[0][2][0], sex)[9]}}
          {{convertGod(getTotalTownCalc[0][2][0], sex)[10]}}
        )</div>
          <div class="citem" style="background-image: url('bottom/12.jpg')"
               :class="getBottomUserInfo[11] > 1 ? 'citem-active5' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/1.jpg')"
               :class="getBottomUserInfo[0] > 1 ? 'citem-active5' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/2.jpg')"
               :class="getBottomUserInfo[1] > 1 ? 'citem-active5' : ''">
          </div>
        </div>
      </div>

      <div class="header-item">
        <div class="cbundle">
          <div>三合木</div>
          <div class="citem" style="background-image: url('bottom/12.jpg')"
               :class="getBottomUserInfo[11] > 1 ? 'citem-active5' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/4.jpg')"
               :class="getBottomUserInfo[3] > 1 ? 'citem-active1' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/8.jpg')"
               :class="getBottomUserInfo[7] > 1 ? 'citem-active2' : ''">
          </div>
        </div>
        <div class="cbundle">
          <div>三合火</div>
          <div class="citem" style="background-image: url('bottom/3.jpg')"
               :class="getBottomUserInfo[2] > 1 ? 'citem-active1' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/7.jpg')"
               :class="getBottomUserInfo[6] > 1 ? 'citem-active2' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/11.jpg')"
               :class="getBottomUserInfo[10] > 1 ? 'citem-active4' : ''">
          </div>
        </div>
        <div class="cbundle">
          <div>三合金</div>
          <div class="citem" style="background-image: url('bottom/6.jpg')"
               :class="getBottomUserInfo[5] > 1 ? 'citem-active2' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/10.jpg')"
               :class="getBottomUserInfo[9] > 1 ? 'citem-active4' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/2.jpg')"
               :class="getBottomUserInfo[1] > 1 ? 'citem-active5' : ''">
          </div>
        </div>
        <div class="cbundle">
          <div>三合水</div>
          <div class="citem" style="background-image: url('bottom/5.jpg')"
               :class="getBottomUserInfo[4] > 1 ? 'citem-active1' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/1.jpg')"
               :class="getBottomUserInfo[0] > 1 ? 'citem-active5' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/9.jpg')"
               :class="getBottomUserInfo[8] > 1 ? 'citem-active4' : ''">
          </div>
        </div>
      </div>

      <div class="header-item">
        <div>刑馬</div>
        <div class="cbundle">
          <div class="citem" style="background-image: url('bottom/12.jpg')"
               :class="getBottomUserInfo[11] > 1 ? 'citem-active5' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/6.jpg')"
               :class="getBottomUserInfo[5] > 1 ? 'citem-active2' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/9.jpg')"
               :class="getBottomUserInfo[8] > 1 ? 'citem-active4' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/3.jpg')"
               :class="getBottomUserInfo[2] > 1 ? 'citem-active1' : ''">
          </div>
        </div>
        <div>刑花</div>
        <div class="cbundle">
          <div class="citem" style="background-image: url('bottom/11.jpg')"
               :class="getBottomUserInfo[10] > 1 ? 'citem-active4' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/8.jpg')"
               :class="getBottomUserInfo[7] > 1 ? 'citem-active2' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/5.jpg')"
               :class="getBottomUserInfo[4] > 1 ? 'citem-active1' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/2.jpg')"
               :class="getBottomUserInfo[1] > 1 ? 'citem-active5' : ''">
          </div>
        </div>
        <div>刑庫</div>
        <div class="cbundle">
          <div class="citem" style="background-image: url('bottom/10.jpg')"
               :class="getBottomUserInfo[9] > 1 ? 'citem-active4' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/7.jpg')"
               :class="getBottomUserInfo[6] > 1 ? 'citem-active2' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/4.jpg')"
               :class="getBottomUserInfo[3] > 1 ? 'citem-active1' : ''">
          </div>
          <div class="citem" style="background-image: url('bottom/1.jpg')"
               :class="getBottomUserInfo[0] > 1 ? 'citem-active5' : ''">
          </div>
        </div>
      </div>

    </div>
    <div class="header-item-ho">
        <div class="town-wrapper" style="margin-right: 20px;background: black">
          <Town
            :getTotalTownCalc="getTotalTownCalc"
            :getTotalTownCalcB="getTotalTownCalcB"
            :townnum="3"
            :tengorType="tengorType"
            :dayownerOwner="false"
            :bigTown="false"
            :sex="sex"
            :out="false"
            v-if="withoutT == 1"
          />
          <Town
            :getTotalTownCalc="getTotalTownCalc"
            :getTotalTownCalcB="getTotalTownCalcB"
            :townnum="2"
            :tengorType="tengorType"
            :dayownerOwner="true"
            :bigTown="false"
            :sex="sex"
            :out="false"
          />
          <Town
            :getTotalTownCalc="getTotalTownCalc"
            :getTotalTownCalcB="getTotalTownCalcB"
            :townnum="1"
            :tengorType="tengorType"
            :dayownerOwner="false"
            :bigTown="false"
            :sex="sex"
            :out="false"
          />
          <Town
            :getTotalTownCalc="getTotalTownCalc"
            :getTotalTownCalcB="getTotalTownCalcB"
            :townnum="0"
            :tengorType="tengorType"
            :dayownerOwner="false"
            :bigTown="false"
            :sex="sex"
            :out="false"
          />
          <Town
            :getTotalTownCalc="getTotalTownCalc"
            :getTotalTownCalcB="getTotalTownCalcB"
            :townnum="4"
            :tengorType="tengorType"
            :dayownerOwner="false"
            :bigTown="true"
            :sex="sex"
            :out="false"
            v-if="disnum > 4"
          />
          <Town
            :getTotalTownCalc="getTotalTownCalc"
            :getTotalTownCalcB="getTotalTownCalcB"
            :townnum="5"
            :tengorType="tengorType"
            :dayownerOwner="false"
            :bigTown="false"
            :sex="sex"
            :out="true"
            v-if="disnum > 5"
          />
          <Town
            :getTotalTownCalc="getTotalTownCalc"
            :getTotalTownCalcB="getTotalTownCalcB"
            :townnum="6"
            :tengorType="tengorType"
            :dayownerOwner="false"
            :bigTown="false"
            :sex="sex"
            :out="true"
            v-if="disnum > 6"
          />
          <Town
            :getTotalTownCalc="getTotalTownCalc"
            :getTotalTownCalcB="getTotalTownCalcB"
            :townnum="7"
            :tengorType="tengorType"
            :dayownerOwner="false"
            :bigTown="false"
            :sex="sex"
            :out="true"
            v-if="disnum > 7"
          />
          <Town
            :getTotalTownCalc="getTotalTownCalc"
            :getTotalTownCalcB="getTotalTownCalcB"
            :townnum="8"
            :tengorType="tengorType"
            :dayownerOwner="false"
            :bigTown="false"
            :sex="sex"
            :out="true"
            v-if="disnum > 8"
          />
        </div>

        <div class="town-wrapper">
          <div class="bar-wrapper dayowner" v-for="(item, index) in getText" :key="index">
            <div style="background: black;color:white;padding:2px" v-if="getBCT[index]">{{ formartDate(getBCT[index][0]) }}</div>
            <p class="tengod-text">{{convertGod(getTotalTownCalc[0][2][0], sex)[item[0]]}}</p>
            <TopObject :data="getTVal(item[0])" />
            <BottomObject :orgdata="item[1]" :data="getBVal(item[1])" />
            <p v-for="(itemb, index) in getBVal(item[1])" :key="index" class="tengod-text">
              <!-- {{convertGod(getTotalTownCalc[0][2][0])[getBVal(item[1])[index].num]}} -->
              {{convertGod(getTotalTownCalc[0][2][0], sex)[itemb.num]}}
            </p>
          </div>
        </div>
    </div>

    <div class="wrapper" style="background: black">

        <div class="town-wrapper" >
          <div class="bar-wrapper dayowner" v-for="(item, index) in getMergeDestList" :key="index"
            :class="(parseInt(orgyr, 10) + index) === curyr ? 'curyy' : ''">
            <div style="background: #7e57c2;color:white;padding:2px">{{index}}歲</div>
            <div style="background: #7e57c2;color:white;padding:2px">{{parseInt(orgyr, 10) + index}}年</div>
            <div class="town-wrapper"
              :class="(parseInt(orgyr, 10) + index) < curyr ? 'out' : ''">
              <div>
                <p class="tengod-text">{{convertGod(getTotalTownCalc[0][2][0], sex, tengorType)[item[0][0]]}}</p>
                <TopObject :data="getTVal(item[0][0])" />
                <!-- <SBottomObject :orgdata="item[0][1]" :data="getBVal(item[0][1])" /> -->
                <!--             <p v-for="(itemb, index) in getBVal(item[0][1])" :key="index" class="tengod-text">
                  {{convertGod(getTotalTownCalc[0][2][0])[itemb.num]}}
                </p> -->
                <!--             <p class="tengod-text">
                  {{convertGod(getTotalTownCalc[0][2][0], sex)[getBVal(item[0][1])[0].num]}}
                </p> -->
              </div>
              <div v-if="withoutT == 1">
                <p class="tengod-text">{{convertGod(getTotalTownCalc[0][2][0], sex, tengorType)[item[1][0]]}}</p>
                <TopObject :data="getTVal(item[1][0])" />
                <!-- <SBottomObject :orgdata="item[1][1]" :data="getBVal(item[1][1])" /> -->
                <!--             <p class="tengod-text">
                  {{convertGod(getTotalTownCalc[0][2][0], sex)[getBVal(item[1][1])[0].num]}}
                </p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="selimg" v-if="!disflag.relbox" :class="disflag.usertoggle? 'selimg-active':''">
          <div v-for="(item, index) in getrelateList" :key="index" class="simg-box" style="position: relative;"
            :class="item.id === id ? 'simg-box-active' : ''">
            <div @click="loadUser(item)" style="border: 3px solid black;position: absolute;left: 0;top: 0;width: 93.5%;height: 93.5%;"></div>

            <div style="display: flex;position: absolute;bottom:0;left:10px;border: 1px solid white;box-shadow: 2px 2px 2px black">
              <STopObject class="day" :data="getTVal(item.dd[2][0])" />
              <STopObject class="day" :data="getTVal(item.dd[1][0])" />
            </div>
            <div style="display: flex;position: absolute;bottom:0;left:0px;border: 1px solid white;z-index:1;box-shadow: 2px 2px 2px black">
              <SBottomObject class="day" :orgdata="item.dd[2][1]"
              :data="getBVal(item.dd[2][1])" />
            </div>
            <p v-if="item.popo" class="rellabel" style="color:yellow;background: green;border-color:yellow;">popo</p>
            <p v-if="item.soldier" class="rellabel" style="color:yellow;background: green;border-color:yellow;">前軍人</p>
            <p v-if="item.fight" class="rellabel" style="color:yellow;background: green;border-color:yellow;">武打</p>
            <p v-if="item.boss" class="rellabel" style="color:red;background: yellow;border-color:red;">老闆</p>
            <p v-if="item.gov" class="rellabel" style="color:purple;background: white;border-color:purple;">政界</p>
            <p v-if="item.mag" class="rellabel" style="color:green;background: black;border-color:green;">師傅</p>
            <p v-if="item.sameple" class="rellabel" style="color:white;background: blue;border-color:white;">路人</p>
            <img style="cursor: pointer;" v-show="item.id" @click="loadUser(item)" :src="'user/'+item.id+'.jpg'" class="simg" />
          </div>
        </div>
        <br>
        <div>
          <StartFilter v-if="disflag.mergetool" />
        </div>
        <MergeTable
          v-show="disflag.mergetool"
          :yr="orgyr"
          :mon="orgmon"
          :date="orgdate"
          :hr="orghr"
          :time="orgtime"
          :checked="checked"
          :sex="sex"
          :cyr="curyr"
          :cmon="curmon"
          :cdate="curdate"
          :chr="curhr"
          :ctime="curtime" />
      </div>
    </div>
    </template>

<script>
import _ from 'lodash'
import {
  getFourTown, getFourValue,
  getBigBig,
  getBigChannelTown,
  getWordPowerB,
  getWordPowerT,
  getDynamicBigChannelTown,
  getYearrTop,
  getYearBottom,
  getBRelate,
  getTRelate,
  getTotalTownM,
  calcTMerge,
  gettoptowncalc,
  getbottomtowncalc,
  getsmalldestiny,
  getSelYearLst,
  // getUserTown,
  // convertToLocalTime,
} from '../utils/core'
import {
  convertGod,
} from '../utils/core_ui_dis'
import {
  calcWordValue,
  calcWordValueB,
  calcNumofPower,
} from '../utils/core_calc_val'
import {
  getFriend,
} from '../utils/user'
import {
  getFriend2,
} from '../utils/user2'
import {
  getFriend3,
} from '../utils/user3'
// import {
//   Test,
// } from '../utils/kmdg'
import Town from '@/components/Town.vue'
import TopObject from '@/components/TopObject.vue'
import STopObject from '@/components/STopObject.vue'
import BottomObject from '@/components/BottomObject.vue'
import SBottomObject from '@/components/SBottomObject.vue'
import ToggleButton from '@/components/ToggleButton.vue'
import StartFilter from '@/components/StartFilter.vue'
import MergeTable from '@/components/MergeTable.vue'
// import User from '@/components/User.vue'
import Vbutton from '@/components/Vbutton.vue'

export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data: () => ({
    disflag: {
      bcd: true,
      bct: true,
      panel: false,
      usertoggle: true,
      userbyyear: false,
      userbymonth: false,
      userbyday: true,
      ownerrelate: true,
      relbox: true,
      dissex: 0,
      source: 2,
      runtime: true,
      mergetool: false,
      dis150: true,
      dis60: true,
    },
    pos: {
      a1: [170, 245],
      a2: [100, 245],
      a3: [35, 245],
      a4: [35, 170],
      a5: [35, 100],
      a6: [35, 35],
      a7: [105, 40],
      a8: [170, 35],
      a9: [245, 35],
      a10: [245, 105],
      a11: [245, 180],
      a12: [245, 245],
    },
    tengorType: 5,
    withoutT: 1,
    disnum: 9,
    modee: 2,
    rotate: 0,
    searchtext: '@',
    selname: '',
    orgyr: new Date().getFullYear(),
    orgmon: new Date().getMonth() + 1,
    orgdate: new Date().getDate(),
    orghr: new Date().getHours(),
    orgtime: new Date().getMinutes(),
    curyr: new Date().getFullYear(),
    curmon: new Date().getMonth() + 1,
    curdate: new Date().getDate(),
    curhr: new Date().getHours(),
    curtime: new Date().getMinutes(),
    curss: new Date().getSeconds(),
    checked: false,
    sex: true,
    ratea: 24,
    id: 0,
    relateList: [],
    tengod: {
      tree1: 0,
      tree2: 0,
      fire1: 0,
      fire2: 0,
      earth1: 0,
      earth2: 0,
      gold1: 0,
      gold2: 0,
      water1: 0,
      water2: 0,
    },
    /*
      關係
      年
      0, 月
      0, 0, 日
      0, 0, 0, 時
      0, 0, 0, 0, 大運
      0, 0, 0, 0, 0, 流年
      0, 0, 0, 0, 0, 0, 流月
      0, 0, 0, 0, 0, 0, 0, 流日
      0, 0, 0, 0, 0, 0, 0, 0, 流時

      0, 0, 0, 0, 0, 0, 0, 0, 0, 干克

      天干
      甲 乙  丙 丁 戊  己 庚  辛 壬  癸
      1  2  3  4  5  6  7  8  9  10
      地支
      子 丑 寅  卯 辰  巳 午  未 申 酉 戌  亥
      1  2  3  4  5  6  7  8  9 10 11 12

      天干合化
      see calcYrChange
      ＃特殊Rule 其他柱的天干可以變化，但日元不變化，四柱中日柱的天干只合不會變合

      當兩個天干相連，而地支有氣則變化，否則不變化，只相合。
      甲己 1+5 -> 變化後 戊己
      乙庚 2+6 ->
      丙辛 3+7
      丁壬 4+8
      戊癸 5+10
      時
      而地支有天干可以產生變化之時
      e.g. 當天干甲己合時，而甲地支坐未土時，甲會變化成戊土 詳見calcYrChange
                 甲己
                 未申

    */
    topRelate: [
      0,
      0, 0,
      0, 0, 0,
      0, 0, 0, 0,
      0, 0, 0, 0, 0,
      0, 0, 0, 0, 0, 0,
      0, 0, 0, 0, 0, 0, 0,
      0, 0, 0, 0, 0, 0, 0, 0,
    ],
    bottomRelate: [
      0,
      0, 0,
      0, 0, 0,
      0, 0, 0, 0,
      0, 0, 0, 0, 0,
      0, 0, 0, 0, 0, 0,
      0, 0, 0, 0, 0, 0, 0,
      0, 0, 0, 0, 0, 0, 0, 0,
    ],
    topbottomRelate: [0, 0, 0, 0, 0, 0, 0, 0, 0],
    /* 時日 日月 時月 年月 年大 */
    topmergeRelate: [0, 0, 0, 0, 0],
  }),
  components: {
    Town,
    TopObject,
    STopObject,
    BottomObject,
    SBottomObject,
    ToggleButton,
    StartFilter,
    MergeTable,
    Vbutton,
    // User,
  },
  computed: {
    getmond() {
      return this.getMoonDay(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10))
    },
    getSelYr() {
      return getSelYearLst(parseInt(this.orgyr, 10))
    },
    getSmallDest() {
      const user = getFourTown(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked)
      return getsmalldestiny(this.sex, user[0][0], user[3][0], user[3][1])
    },
    getMergeDestList() {
      const lst = []
      const olst = getSelYearLst(parseInt(this.orgyr, 10))
      const user = getFourTown(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked)
      const slst = getsmalldestiny(this.sex, user[0][0], user[3][0], user[3][1])
      for (let i = 0; i < slst.length; i += 1) {
        lst.push([olst[i], slst[i]])
      }
      return lst
    },
    getUser() {
      const x = this.getlistusr(this.disflag.source)
      x.sort()
      const a = x.filter(i => i.name.toLowerCase().includes(this.searchtext.toLowerCase()))
      const b = []

      for (let i = 0; i < a.length; i += 1) {
        a[i].dd = getFourTown(a[i].year, a[i].month, a[i].day, 0, 0, false)
        b.push(a[i])
      }
      if (this.disflag.userbyyear) {
        b.sort((j, k) => k.year - j.year)
      }
      if (this.disflag.userbymonth) {
        b.sort((j, k) => k.month - j.month)
      }

      if (this.disflag.userbyday) {
        if (this.modee === 3) {
          b.sort((j, k) => this.covertNumber(j.dd[2][0], j.dd[1][0], j.dd[0][0], j.dd[2][1]) - this.covertNumber(k.dd[2][0], k.dd[1][0], k.dd[0][0], k.dd[2][1]))
        } else if (this.modee === 2) {
          b.sort((j, k) => this.covertNumber(j.dd[2][0], j.dd[1][0], j.dd[2][1], j.dd[1][1]) - this.covertNumber(k.dd[2][0], k.dd[1][0], k.dd[2][1], k.dd[1][1]))
        } else {
          b.sort((j, k) => this.covertNumber(j.dd[2][0], j.dd[2][1], j.dd[1][1], j.dd[1][0]) - this.covertNumber(k.dd[2][0], k.dd[2][1], k.dd[1][1], k.dd[1][0]))
        }
      }
      const c = [[], [], [], [], [], [], [], [], [], []]
      for (let i = 0; i < b.length; i += 1) {
        if (b[i].dd[2][0] === 1) {
          c[0].push(b[i])
        }
        if (b[i].dd[2][0] === 2) {
          c[1].push(b[i])
        }
        if (b[i].dd[2][0] === 3) {
          c[2].push(b[i])
        }
        if (b[i].dd[2][0] === 4) {
          c[3].push(b[i])
        }
        if (b[i].dd[2][0] === 5) {
          c[4].push(b[i])
        }
        if (b[i].dd[2][0] === 6) {
          c[5].push(b[i])
        }
        if (b[i].dd[2][0] === 7) {
          c[6].push(b[i])
        }
        if (b[i].dd[2][0] === 8) {
          c[7].push(b[i])
        }
        if (b[i].dd[2][0] === 9) {
          c[8].push(b[i])
        }
        if (b[i].dd[2][0] === 10) {
          c[9].push(b[i])
        }
      }
      for (let l = 0; l < c.length; l += 1) {
        c[l].sort((j, k) => {
          const asa = {
            d: j.gender ? -1 : 1,
          }
          return j.gender === k.gender ? 0 : asa.d
        })
      }
      const d = []
      for (let m = 0; m < c.length; m += 1) {
        for (let n = 0; n < c[m].length; n += 1) {
          d.push(c[m][n])
        }
      }
      // console.log(d)
      if (this.disflag.dissex === 1) {
        return d.filter(i => i.gender)
      } if (this.disflag.dissex === 2) {
        return d.filter(i => !i.gender)
      }
      return d
    },
    getrelateList() {
      const a = getFourValue(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked)
      // return null
      return this.getMuserList(a[2][0][0].num, '', this.sex, this.modee)
    },
    getrelateSameSameList() {
      const b = getFourTown(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked)
      // return null
      return this.getMuserSameList(b[2][0], b[1][0], b[2][1], '', this.modee)
    },
    getGG() {
      return getDynamicBigChannelTown(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked, this.sex, parseInt(this.curyr, 10))
    },
    getText() {
      return getBigBig(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked, this.sex)
    },
    getTopRelate() {
      return this.topRelate
    },
    get4Town() {
      return getFourTown(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked)
    },
    getBCT() {
      return getBigChannelTown(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked, this.sex)
    },
    getcurrent4Town() {
      return getFourTown(parseInt(this.curyr, 10),
        parseInt(this.curmon, 10),
        parseInt(this.curdate, 10),
        parseInt(this.curhr, 10),
        parseInt(this.curtime, 10),
        this.checked)
    },
    getTotalTown() {
      return getTotalTownM(this.orgyr, this.orgmon, this.orgdate,
        this.orghr, this.orgtime, this.checked, this.sex,
        this.curyr, this.curmon, this.curdate, this.curhr, this.curtime)
    },
    getTotalTownCalc() {
      return gettoptowncalc(this.withoutT, this.disnum, this.orgyr, this.orgmon, this.orgdate,
        this.orghr, this.orgtime, this.checked, this.sex,
        this.curyr, this.curmon, this.curdate, this.curhr, this.curtime)
    },
    getTotalTownCalcB() {
      return getbottomtowncalc(this.withoutT, this.disnum, this.orgyr, this.orgmon, this.orgdate,
        this.orghr, this.orgtime, this.checked, this.sex,
        this.curyr, this.curmon, this.curdate, this.curhr, this.curtime)
    },
    getCalcMergeCurrent() {
      const tm = gettoptowncalc(false, 4, this.curyr, this.curmon, this.curdate,
        this.curhr, this.curtime, false, false,
        this.curyr, this.curmon, this.curdate, this.curhr, this.curtime)
      const bm = getbottomtowncalc(false, 4, this.curyr, this.curmon, this.curdate,
        this.curhr, this.curtime, false, false,
        this.curyr, this.curmon, this.curdate, this.curhr, this.curtime)
      const merge = [
        this.calcOneTownVal(tm[0][0][0], bm[0][0][1]),
        this.calcOneTownVal(tm[0][1][0], bm[0][1][1]),
        this.calcOneTownVal(tm[0][2][0], bm[0][2][1]),
        this.calcOneTownVal(tm[0][3][0], bm[0][3][1]),
        this.calcOneTownVal(tm[0][4][0], bm[0][4][1]),
        this.calcOneTownVal(tm[0][5][0], bm[0][5][1]),
        this.calcOneTownVal(tm[0][6][0], bm[0][6][1]),
        this.calcOneTownVal(tm[0][7][0], bm[0][7][1]),
        this.calcOneTownVal(tm[0][8][0], bm[0][8][1]),
      ]

      const lastLst = []
      const calcLst = []
      for (let i = 0; i < 4; i += 1) {
        lastLst.push(merge[i])
      }

      // single calc
      for (let i = 0; i < lastLst.length; i += 1) {
        for (let j = 0; j < lastLst[i].length; j += 1) {
          for (let k = 0; k < lastLst[i][j].length; k += 1) {
            if (j === 0) {
              const aa = lastLst[i][j][k]
              aa.value *= (this.ratea / 10)
              calcLst.push(aa)
            } else {
              calcLst.push(lastLst[i][j][k])
            }
          }
        }
      }

      const grpLsttmp = _.groupBy(calcLst, 'num')
      const grpLstObj = {
        1: grpLsttmp[1] ? grpLsttmp[1] : [],
        2: grpLsttmp[2] ? grpLsttmp[2] : [],
        3: grpLsttmp[3] ? grpLsttmp[3] : [],
        4: grpLsttmp[4] ? grpLsttmp[4] : [],
        5: grpLsttmp[5] ? grpLsttmp[5] : [],
        6: grpLsttmp[6] ? grpLsttmp[6] : [],
        7: grpLsttmp[7] ? grpLsttmp[7] : [],
        8: grpLsttmp[8] ? grpLsttmp[8] : [],
        9: grpLsttmp[9] ? grpLsttmp[9] : [],
        10: grpLsttmp[10] ? grpLsttmp[10] : [],
      }
      const grpLst = [
        _.sumBy(grpLstObj[1], 'value'),
        _.sumBy(grpLstObj[2], 'value'),
        _.sumBy(grpLstObj[3], 'value'),
        _.sumBy(grpLstObj[4], 'value'),
        _.sumBy(grpLstObj[5], 'value'),
        _.sumBy(grpLstObj[6], 'value'),
        _.sumBy(grpLstObj[7], 'value'),
        _.sumBy(grpLstObj[8], 'value'),
        _.sumBy(grpLstObj[9], 'value'),
        _.sumBy(grpLstObj[10], 'value'),
      ]
      // console.log(grpLst)
      // console.log(_.sum(grpLst))
      return grpLst
    },
    getCalcMergeAllTown() {
      const tm = gettoptowncalc(this.withoutT, this.disnum, this.orgyr, this.orgmon, this.orgdate,
        this.orghr, this.orgtime, this.checked, this.sex,
        this.curyr, this.curmon, this.curdate, this.curhr, this.curtime)
      const bm = getbottomtowncalc(this.withoutT, this.disnum, this.orgyr, this.orgmon, this.orgdate,
        this.orghr, this.orgtime, this.checked, this.sex,
        this.curyr, this.curmon, this.curdate, this.curhr, this.curtime)
      let merge = []
      if (this.withoutT === 0) {
        merge = [
          this.calcOneTownVal(tm[0][0][0], bm[0][0][1]),
          this.calcOneTownVal(tm[0][1][0], bm[0][1][1]),
          this.calcOneTownVal(tm[0][2][0], bm[0][2][1]),
          [[{ num: '0', value: 0 }], [{ num: '0', value: 0 }]],
          this.calcOneTownVal(tm[0][4][0], bm[0][4][1]),
          this.calcOneTownVal(tm[0][5][0], bm[0][5][1]),
          this.calcOneTownVal(tm[0][6][0], bm[0][6][1]),
          this.calcOneTownVal(tm[0][7][0], bm[0][7][1]),
          this.calcOneTownVal(tm[0][8][0], bm[0][8][1]),
        ]
      } else {
        merge = [
          this.calcOneTownVal(tm[0][0][0], bm[0][0][1]),
          this.calcOneTownVal(tm[0][1][0], bm[0][1][1]),
          this.calcOneTownVal(tm[0][2][0], bm[0][2][1]),
          this.calcOneTownVal(tm[0][3][0], bm[0][3][1]),
          this.calcOneTownVal(tm[0][4][0], bm[0][4][1]),
          this.calcOneTownVal(tm[0][5][0], bm[0][5][1]),
          this.calcOneTownVal(tm[0][6][0], bm[0][6][1]),
          this.calcOneTownVal(tm[0][7][0], bm[0][7][1]),
          this.calcOneTownVal(tm[0][8][0], bm[0][8][1]),
        ]
      }
      const lastLst = []
      const calcLst = []
      for (let i = 0; i < this.disnum; i += 1) {
        lastLst.push(merge[i])
      }

      // single calc
      for (let i = 0; i < lastLst.length; i += 1) {
        for (let j = 0; j < lastLst[i].length; j += 1) {
          for (let k = 0; k < lastLst[i][j].length; k += 1) {
            if (j === 0) {
              const aa = lastLst[i][j][k]
              aa.value *= (this.ratea / 10)
              calcLst.push(aa)
            } else {
              calcLst.push(lastLst[i][j][k])
            }
          }
        }
      }
      const ddvla = bm[1].concat(bm[2]).concat(bm[3])
      const sss = _.groupBy(ddvla)
      const sssobbj = {
        1: sss[1] ? sss[1] : [],
        2: sss[2] ? sss[2] : [],
        3: sss[3] ? sss[3] : [],
        4: sss[4] ? sss[4] : [],
        5: sss[5] ? sss[5] : [],
      }
      const grpLsttmp = _.groupBy(calcLst, 'num')
      const grpLstObj = {
        1: grpLsttmp[1] ? grpLsttmp[1] : [],
        2: grpLsttmp[2] ? grpLsttmp[2] : [],
        3: grpLsttmp[3] ? grpLsttmp[3] : [],
        4: grpLsttmp[4] ? grpLsttmp[4] : [],
        5: grpLsttmp[5] ? grpLsttmp[5] : [],
        6: grpLsttmp[6] ? grpLsttmp[6] : [],
        7: grpLsttmp[7] ? grpLsttmp[7] : [],
        8: grpLsttmp[8] ? grpLsttmp[8] : [],
        9: grpLsttmp[9] ? grpLsttmp[9] : [],
        10: grpLsttmp[10] ? grpLsttmp[10] : [],
      }
      const grpLst = [
        _.sumBy(grpLstObj[1], 'value') + (sssobbj[1].length * 100 / 2),
        _.sumBy(grpLstObj[2], 'value') + (sssobbj[1].length * 100 / 2),
        _.sumBy(grpLstObj[3], 'value') + (sssobbj[2].length * 100 / 2),
        _.sumBy(grpLstObj[4], 'value') + (sssobbj[2].length * 100 / 2),
        _.sumBy(grpLstObj[5], 'value') + (sssobbj[3].length * 100 / 2),
        _.sumBy(grpLstObj[6], 'value') + (sssobbj[3].length * 100 / 2),
        _.sumBy(grpLstObj[7], 'value') + (sssobbj[4].length * 100 / 2),
        _.sumBy(grpLstObj[8], 'value') + (sssobbj[4].length * 100 / 2),
        _.sumBy(grpLstObj[9], 'value') + (sssobbj[5].length * 100 / 2),
        _.sumBy(grpLstObj[10], 'value') + (sssobbj[5].length * 100 / 2),
      ]
      return grpLst
    },
    getBottomUserInfo() {
      const res = getbottomtowncalc(this.withoutT, this.disnum, this.orgyr, this.orgmon, this.orgdate,
        this.orghr, this.orgtime, this.checked, this.sex,
        this.curyr, this.curmon, this.curdate, this.curhr, this.curtime)
      const rs = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
      if (this.withoutT === 0) {
        res[0][3][1] = 0
      }
      for (let i = 0; i < this.disnum; i += 1) {
        switch (res[0][i][1]) {
          case 1: rs[0] += 1
            break
          case 2: rs[1] += 1
            break
          case 3: rs[2] += 1
            break
          case 4: rs[3] += 1
            break
          case 5: rs[4] += 1
            break
          case 6: rs[5] += 1
            break
          case 7: rs[6] += 1
            break
          case 8: rs[7] += 1
            break
          case 9: rs[8] += 1
            break
          case 10: rs[9] += 1
            break
          case 11: rs[10] += 1
            break
          case 12: rs[11] += 1
            break
          default:
        }
      }
      return rs
    },
    getBottomUserInfo2() {
      const res = getbottomtowncalc(this.withoutT, this.disnum, this.orgyr, this.orgmon, this.orgdate,
        this.orghr, this.orgtime, this.checked, this.sex,
        this.curyr, this.curmon, this.curdate, this.curhr, this.curtime)
      const rs = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
      for (let i = 4; i < 9; i += 1) {
        switch (res[0][i][1]) {
          case 1: rs[0] += 1
            break
          case 2: rs[1] += 1
            break
          case 3: rs[2] += 1
            break
          case 4: rs[3] += 1
            break
          case 5: rs[4] += 1
            break
          case 6: rs[5] += 1
            break
          case 7: rs[6] += 1
            break
          case 8: rs[7] += 1
            break
          case 9: rs[8] += 1
            break
          case 10: rs[9] += 1
            break
          case 11: rs[10] += 1
            break
          case 12: rs[11] += 1
            break
          default:
        }
      }
      return rs
    },
    getValTown() {
      return getFourValue(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked)
    },
    getMultipMonTown() {
      return this.loop2Date(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10))
    },
    getCalcTenGod() {
      const data = getFourValue(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10))

      return data
    },
  },
  mounted() {
    const u = {
      name: 'Kay Cheung', id: 1, year: 1990, month: 10, day: 29, time: '00:53', realtime: true, notfix: false, gender: true,
    }
    this.loadUser(u)
    setInterval(() => {
      const time = {
        y: this.getCTime()[0],
        m: this.getCTime()[1],
        d: this.getCTime()[2],
        h: this.getCTime()[3],
        mi: this.getCTime()[4],
        ss: this.getCTime()[5],
      }
      if (this.disflag.runtime) {
        this.curyr = time.y
        this.curmon = time.m
        this.curdate = time.d
        this.curhr = time.h
        this.curtime = time.mi
        this.curss = time.ss
      }
    }, 1000)
    // setInterval(() => {
    //   this.rotate += 1
    //   if (this.rotate === 360) {
    //     this.rotate = 0
    //   }
    // }, 1000)
  },
  methods: {
    getMoonDay(yr, mon, day) {
      const e = new Date('2020-02-24T00:00:00Z')
      const newdate = {
        year: yr,
        mon: mon.toString().length > 1 ? mon : `0${mon.toString()}`,
        day: day.toString().length > 1 ? day : `0${day.toString()}`,
      }
      const newdateStr = `${newdate.year}-${newdate.mon}-${newdate.day}T00:00:00Z`
      const aa = new Date(newdateStr)
      const ff = Math.abs(aa - e)
      const ds = Math.floor((ff / (29.530589 * 60 * 60 * 24 * 1000 / 30)) % 30)
      let tmp = ds
      if (e > aa) {
        tmp = 30 - ds
      }
      return this.convMoonDay(tmp)
    },
    convMoonDay(num) {
      switch (num) {
        case 0: return 1
        case 1: return 2
        case 2: return 3
        case 3: return 4
        case 4: return 5
        case 5: return 6
        case 6: return 7
        case 7: return 8
        case 8: return 9
        case 9: return 10
        case 10: return 11
        case 11: return 12
        case 12: return 13
        case 13: return 14
        case 14: return 15
        case 15: return 16
        case 16: return 17
        case 17: return 18
        case 18: return 19
        case 19: return 20
        case 20: return 21
        case 21: return 22
        case 22: return 23
        case 23: return 24
        case 24: return 25
        case 25: return 26
        case 26: return 27
        case 27: return 28
        case 28: return 29
        case 29: return 30
        case 30: return 1
        default: return 0
      }
    },
    calcNumofPower(num1, num2, num3, num4, num5, num) {
      return calcNumofPower(num1, num2, num3, num4, num5, num)
    },
    calcOneTownVal(num1, num2) {
      return this.calcWordValue(getWordPowerT(num1), getWordPowerB(num2))
    },
    calcOneTownValT(num1, num2) {
      return this.calcWordValue(num1, num2)
    },
    toggletengor(num) {
      this.tengorType = num
    },
    toggletime(num) {
      this.withoutT = num
    },
    toggletown(num) {
      this.disnum = num
    },
    calcWordValue(num1, num2) {
      return calcWordValue(num1, num2)
    },
    calcWordValueB(num1, num2) {
      return calcWordValueB(num1, num2)
    },
    covertNumber(num1, num2, num3, num4) {
      let n1 = ''
      let n2 = ''
      let n3 = ''
      let n4 = ''
      const las = '90'
      if (num1 < 10) {
        n1 = `0${num1.toString()}`
      } else {
        n1 = num1.toString()
      }
      if (num2 < 10) {
        n2 = `0${num2.toString()}`
      } else {
        n2 = num2.toString()
      }
      if (num3 < 10) {
        n3 = `0${num3.toString()}`
      } else {
        n3 = num3.toString()
      }
      if (num4 < 10) {
        n4 = `0${num4.toString()}`
      } else {
        n4 = num4.toString()
      }
      return parseInt(las + n1 + n2 + n3 + n4, 10)
    },
    getlistusr(souretype) {
      let x = []
      if (souretype === 1) {
        x = getFriend2().concat(getFriend()).concat(getFriend3())
      } else if (souretype === 2) {
        x = getFriend2().concat(getFriend())
      } else if (souretype === 4) {
        x = getFriend()
      } else {
        x = getFriend3()
      }
      return x
    },
    getMuserSameList(ad, ad2, ad3, text) {
      const x = this.getlistusr(this.disflag.source)
      x.sort()
      const a = x.filter(i => i.name.toLowerCase().includes(text.toLowerCase()))
      const b = []
      for (let i = 0; i < a.length; i += 1) {
        a[i].dd = getFourTown(a[i].year, a[i].month, a[i].day, 0, 0, false)
        b.push(a[i])
      }

      if (this.modee === 3) {
        b.sort((j, k) => this.covertNumber(j.dd[2][0], j.dd[1][0], j.dd[0][0], j.dd[2][1]) - this.covertNumber(k.dd[2][0], k.dd[1][0], k.dd[0][0], k.dd[2][1]))
      } else if (this.modee === 2) {
        b.sort((j, k) => this.covertNumber(j.dd[2][0], j.dd[1][0], j.dd[2][1], j.dd[1][1]) - this.covertNumber(k.dd[2][0], k.dd[1][0], k.dd[2][1], k.dd[1][1]))
      } else {
        b.sort((j, k) => this.covertNumber(j.dd[2][0], j.dd[2][1], j.dd[1][1], j.dd[1][0]) - this.covertNumber(k.dd[2][0], k.dd[2][1], k.dd[1][1], k.dd[1][0]))
      }
      const c = []
      const c2 = []
      const c3 = []
      for (let i = 0; i < b.length; i += 1) {
        if (b[i].dd[2][0] === ad && b[i].dd[1][0] === ad2) {
          c.push(b[i])
        }
      }

      for (let i = 0; i < b.length; i += 1) {
        if (b[i].dd[2][0] === ad && b[i].dd[2][1] === ad3) {
          c2.push(b[i])
        }
      }

      for (let i = 0; i < b.length; i += 1) {
        if (b[i].dd[2][0] === ad && b[i].dd[1][0] === ad2 && b[i].dd[2][1] === ad3) {
          c3.push(b[i])
        }
      }
      return [c, c2, c3]
    },
    getMuserList(ad, text, sex) {
      const x = this.getlistusr(this.disflag.source)
      x.sort()
      const a = x.filter(i => i.name.toLowerCase().includes(text.toLowerCase()))
      const b = []
      for (let i = 0; i < a.length; i += 1) {
        a[i].dd = getFourTown(a[i].year, a[i].month, a[i].day, 0, 0, false)
        b.push(a[i])
      }

      if (this.modee === 3) {
        b.sort((j, k) => this.covertNumber(j.dd[2][0], j.dd[1][0], j.dd[0][0], j.dd[2][1]) - this.covertNumber(k.dd[2][0], k.dd[1][0], k.dd[0][0], k.dd[2][1]))
      } else if (this.modee === 2) {
        b.sort((j, k) => this.covertNumber(j.dd[2][0], j.dd[1][0], j.dd[2][1], j.dd[1][1]) - this.covertNumber(k.dd[2][0], k.dd[1][0], k.dd[2][1], k.dd[1][1]))
      } else {
        b.sort((j, k) => this.covertNumber(j.dd[2][0], j.dd[2][1], j.dd[1][1], j.dd[1][0]) - this.covertNumber(k.dd[2][0], k.dd[2][1], k.dd[1][1], k.dd[1][0]))
      }
      const c = []
      for (let i = 0; i < b.length; i += 1) {
        if (b[i].dd[2][0] === ad) {
          c.push(b[i])
        }
      }

      const d = c.filter(i => i.gender === sex)
      return d
    },
    fmtMSS(s) {
      let a = Math.floor(s / 60)
      let b = Math.floor(s % 60)
      if (a < 10) {
        a = `0${a.toString()}`
      }
      if (b < 10) {
        b = `0${b.toString()}`
      }
      return `${a.toString()}:${b.toString()}`
    },
    toggleRel() {
      this.disflag.relbox = !this.disflag.relbox
    },
    toggleOwn() {
      this.disflag.ownerrelate = !this.disflag.ownerrelate
    },
    toggleSex() {
      this.sex = !this.sex
    },
    togglemergetool() {
      this.disflag.mergetool = !this.disflag.mergetool
    },
    toggle60() {
      this.disflag.dis60 = !this.disflag.dis60
    },
    toggle150() {
      this.disflag.dis150 = !this.disflag.dis150
    },
    loadUser(item) {
      this.orgyr = item.year
      this.orgmon = item.month
      this.orgdate = item.day
      this.orghr = parseInt(item.time.substr(0, 2), 10)
      this.orgtime = parseInt(item.time.substr(3, 2), 10)
      this.sex = item.gender
      this.id = item.id ? item.id : 0
      this.withoutT = item.realtime ? 1 : 0
      this.selname = item.name
    },
    togglePanel() {
      this.disflag.panel = !this.disflag.panel
    },
    gettrela(yr, mon, day, hr, time, mode, sex, curyr, cm, cd, ch, ct) {
      return getTRelate(yr, mon, day, hr, time, mode, sex, curyr, cm, cd, ch, ct)
    },
    getbrela(yr, mon, day, hr, time, mode, sex, curyr, cm, cd, ch, ct) {
      return getBRelate(yr, mon, day, hr, time, mode, sex, curyr, cm, cd, ch, ct)
    },
    getCurrentYear(yr) {
      return [
        getYearrTop(yr),
        getYearBottom(yr),
      ]
    },
    getBVal(num) {
      return getWordPowerB(num)
    },
    getTVal(num) {
      return getWordPowerT(num)
    },
    formartDate(date) {
      let dstr = ''
      if ((date.getMonth() + 1) < 10) {
        dstr = `0${(date.getMonth() + 1).toString()}`
      } else {
        dstr = (date.getMonth() + 1).toString()
      }
      return `${dstr}/${date.getFullYear().toString().substr(2, 2)}`
    },
    setUser(y, m, d, h, t) {
      this.orgyr = y
      this.orgmon = m
      this.orgdate = d
      this.orghr = h
      this.orgtime = t
    },
    calcTRelate(t1, t2) {
      return [
        calcTMerge(t1, t2) ? '合' : '',
      ]
    },
    topreset() {
      for (let i = 0; i < this.topRelate.length; i += 1) {
        this.topRelate[i] = 0
      }
    },
    toggleUser() {
      this.disflag.usertoggle = !this.disflag.usertoggle
    },
    toggleRuntime() {
      this.disflag.runtime = !this.disflag.runtime
    },
    getCTime() {
      const curDate = new Date()
      const yr = curDate.getFullYear()
      const mon = curDate.getMonth() + 1
      const day = curDate.getDate()
      const hr = curDate.getHours()
      const time = curDate.getMinutes()
      const ss = curDate.getSeconds()
      return [yr, mon, day, hr, time, ss]
    },
    convertGod(day, sex) {
      return convertGod(day, sex, this.tengorType)
    },
  },
}
</script>

<style scoped lang="stylus">
  .cbundle-wrapper
    position fixed
    top 50px
    right 50vh
    z-index 1
  .cbundle-wrapper-b
    position fixed
    top 100px
    right 50vh
    z-index 1
  .line
    position absolute
    z-index 10
  .cbundle
    display grid
    // background blue
    grid-template-columns auto auto auto auto
    grid-column-gap 4px
    grid-row-gap 4px
    justify-content center
    padding 5px
    transition transform .2s
    position relative
    .citem
      padding 5px
      width 50px
      height 50px
      background skyblue
      display grid
      justify-content center
      border-radius 50%
      background-size cover
      border 2px solid black
      transition transform .2s
      filter grayscale(1) opacity(0.3)
      &-active1
        border 2px solid $green1
        filter drop-shadow(2px 4px 6px black)
      &-active2
        border 2px solid $red1
        filter drop-shadow(2px 4px 6px black)
      &-active4
        border 2px solid $gold1
        filter drop-shadow(2px 4px 6px black)
      &-active5
        border 2px solid $blue1
        filter drop-shadow(2px 4px 6px black)
      .distext
        font-size 20px
        font-weight bold
    .citemhide
      border 0px solid black
      background transparent
  .cbundle-o
    display grid
    // background blue
    grid-template-columns auto auto auto auto
    grid-column-gap 4px
    grid-row-gap 4px
    justify-content center
    padding 5px
    transition transform .2s
    .citem
      padding 5px
      width 50px
      height 50px
      background skyblue
      display grid
      justify-content center
      border-radius 50%
      background-size cover
      border 2px solid black
      transition transform .2s
      filter grayscale(1) opacity(0)
      &-active
        border 2px solid green
        filter drop-shadow(2px 4px 6px black)
      .distext
        font-size 20px
        font-weight bold
    .citemhide
      border 0px solid black
      background transparent
  .slidecontainer
    width 100%
    .slider
      -webkit-appearance none
      appearance none
      border-radius 5px
      width 100%
      height 15px
      background #d3d3d3
      outline none
      opacity 0.7
      -webkit-transition .2s
      transition opacity .2s
    .slider::-webkit-slider-thumb
      -webkit-appearance none
      appearance none
      width 25px
      height 25px
      border-radius 50%
      background #4CAF50
      cursor pointer
    .slider::-moz-range-thumb
      width 25px
      height 25px
      border-radius 50%
      background #4CAF50
      cursor pointer
  .tengod-text
    margin 0
    background black
    color white
  .tengod-text-w
    margin 0
    color black
  .selimgs
    flex-container(flex-start, flex-start, row, wrap)
    width 100%
  .selimg
    flex-container(flex-start, flex-start, row, wrap)
    width 100%
    position block
    bottom 0
    // margin 0 auto
    left 0px
    max-height 80vh
    overflow scroll
    transition 0.3s
    // right 0
    // background black
    // width calc(100% - 200px)
    +respond-to(desktop)
      z-index 2
      width calc(100% - 0px)
      // position fixed
      margin-top 20px
      background black
    &-active
      width calc(100% - 250px)
  .filter-wrapper
    width 100%
    .filter-panel
      flex-container(center, center, row, wrap)
      .button
        width background #dcdcdc
        color black
        font-size 18px
        padding 5px
        cursor pointer
        border 2px solid black
        border-radius 3px
        margin 5px
        min-width 100px
        &:hover
          background #dcdddd
        &:active
          background #bbbccc
    .filter-panel-end
      // background black
      flex-container(center, flex-end, row, wrap)
      .item
        flex-container(stretch, center, column, wrap)
        .bar
          border 1px solid black
          width 10px
        .bar1
          background #00c853
        .bar2
          background #aeea00
        .bar3
          background #dd2c00
        .bar4
          background #ff3d00
        .bar5
          background #5f4339
        .bar6
          background #795548
        .bar7
          background #FFCA05
        .bar8
          background #ffd740
        .bar9
          background #1976d2
        .bar10
          background #00b0ff
    .filter-panel-end-r
      flex-container(center, flex-start, row, wrap)
      .item
        background black
        flex-container(stretch, center, column, wrap)
        .bar
          border 1px solid black
          width 10px
        .bar1
          background #00c853
        .bar2
          background #aeea00
        .bar3
          background #dd2c00
        .bar4
          background #ff3d00
        .bar5
          background #5f4339
        .bar6
          background #795548
        .bar7
          background #FFCA05
        .bar8
          background #ffd740
        .bar9
          background #1976d2
        .bar10
          background #00b0ff
  .togglebtn
    cursor pointer
    flex-container(center, center, column, nowrap)
    position fixed
    background black
    color white
    font-size 24px
    font-weight bold
    border 1px solid orange
    width 80px
    height 80px
    top 0%
    right 0px
    z-index 10
    transition 0.3s
    &-active
      transform translateX(-250px)
    .toggle-wrapper
      flex-container(center, center, column, nowrap)
  .userList
    position fixed
    background black
    width 250px
    height 100%
    top 0
    right 0
    overflow scroll
    z-index 1
    transition 0.3s
    &-active
      transform translateX(250px)
    .search-input
      width 100%
      height 40px
      font-size 24px
      padding 5px
      margin-bottom 10px
    .useritem
      width 100%
      cursor pointer
      // height 50px
      background black
      color white
      border 1px solid white
      text-align center
      flex-container(flex-start, center, row, nowrap)
      &:hover
        background $green1
      &:active
        background $red1
      .day
        // color white
        width 50px
        // margin-right 5px
  .panel
    width 100%
    height 100vh
    background rgba(0,0,0,0.5)
    position fixed
    top 0
    .bottom-wrapper
      height 100vh
      position relative
    .wrapper
      position fixed
      width 100%
      min-height 300px
      bottom 0
      background red
  .img
    width 100%
    height 100%
    object-fit cover
    max-width 150px
    max-height 150px
  .simg-box
    width 100px
    height 115px
    &-active
      // border 3px solid red
      border 3px solid white
      filter drop-shadow(10px 10px 10px black)
      // transform rotateZ(10deg)
      transform scale(1.2)
      transition transform .3s
      z-index 1
  .simg
    width 100px
    height 115px
    object-fit cover
    // max-width 80px
    // max-height 80px
  .rellabel
    color black
    font-weight bold
    padding 2px
    margin 0
    background white
    border 2px solid black
    position absolute
  .header-s
    flex-container(stretch, stretch, row, wrap)
    .item
      width 100%
      height 40px
      font-size 20px
      background #d5d3a6
      border 0 solid black
      margin 5px
      text-align center
      flex-child(1)
  .header-item-ho
    flex-container(center, center, row, wrap)
    margin-bottom 20px
    .header-item
      margin 0 10px
      padding 10px
      box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  .header
    flex-container(stretch, stretch, column, nowrap)
    +respond-to(mobile)
      position fixed
      max-width 900px
      height 30vh
      left 0
      bottom 0
      background black
      color white
      border-top 4px solid black
      z-index 99
      overflow scroll
      padding 20px 12px
    .header-item
      flex-container(stretch, stretch, row, wrap)
      .item
        width 100%
        height 40px
        font-size 20px
        background #d5d3a6
        border 0 solid black
        margin 5px
        text-align center
        flex-child(1)
    .selminbar
      +respond-to(mobile)
        display none
  .seluserimgbundle
    +respond-to(mobile)
      position fixed
      bottom 26vh
      right 0
      border-radius 50%
      border 4px solid black
      background black
      z-index 100
    .seluserimg
      +respond-to(mobile)
        border-radius 50%
  .horitem
    +respond-to(mobile)
      display block !important
  .wrapper
    flex-container(center, center, column, nowrap)
  .wrapper-b
    flex-container(center, flex-end, row, wrap)
    padding-bottom 50px
    border 2px solid black
  .town-wrapper
    border 2px solid black
    flex-container(stretch, stretch, row, wrap)
    .bar-wrapper
      flex-container(stretch, stretch, column, nowrap)
      background black
    .dayowner
      border 2px solid black
    .curyy
      border 2px solid white
      filter drop-shadow(10px 10px 10px black)
      transform rotateZ(10deg)
      transition transform .3s
    .out
      filter grayscale(1)
    .dayownerOwner
      border 2px solid white
  .barbox
    // position fixed
    bottom 0
    left 0
    width auto
    padding 5px
    border 2px solid black
    background white
    box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    +respond-to(desktop)
      position fixed
      // width 250px
      z-index 9

</style>
