<template>
  <div>
      <div class="mtable">
      <table>
        <tr><td>年</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
          <td class="green">{{getoo2(gettt[0])}}</td>
          <td>月</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
          <td>{{getoo2(gettt[1])}}</td>
          <td class="green">{{getoo2(gettt[2])}}</td>
          <td>日</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
          <td>{{getoo2(gettt[3])}}</td>
          <td>{{getoo2(gettt[4])}}</td>
          <td class="green">{{getoo2(gettt[5])}}</td>
          <td>時</td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
          <td>{{getoo2(gettt[6])}}</td>
          <td>{{getoo2(gettt[7])}}</td>
          <td>{{getoo2(gettt[8])}}</td>
          <td class="green">{{getoo2(gettt[9])}}</td>
          <td>大運</td><td></td><td></td><td></td><td></td></tr>
        <tr>
          <td>{{getoo2(gettt[10])}}</td>
          <td>{{getoo2(gettt[11])}}</td>
          <td>{{getoo2(gettt[12])}}</td>
          <td>{{getoo2(gettt[13])}}</td>
          <td class="green">{{getoo2(gettt[14])}}</td>
          <td>流年</td><td></td><td></td><td></td></tr>
        <tr>
          <td>{{getoo2(gettt[15])}}</td>
          <td>{{getoo2(gettt[16])}}</td>
          <td>{{getoo2(gettt[17])}}</td>
          <td>{{getoo2(gettt[18])}}</td>
          <td>{{getoo2(gettt[19])}}</td>
          <td class="green">{{getoo2(gettt[20])}}</td>
          <td>流月</td><td></td><td></td></tr>
        <tr>
          <td>{{getoo2(gettt[21])}}</td>
          <td>{{getoo2(gettt[22])}}</td>
          <td>{{getoo2(gettt[23])}}</td>
          <td>{{getoo2(gettt[24])}}</td>
          <td>{{getoo2(gettt[25])}}</td>
          <td>{{getoo2(gettt[26])}}</td>
          <td class="green">{{getoo2(gettt[27])}}</td>
          <td>流日</td><td></td></tr>
        <tr>
          <td>{{getoo2(gettt[28])}}</td>
          <td>{{getoo2(gettt[29])}}</td>
          <td>{{getoo2(gettt[30])}}</td>
          <td>{{getoo2(gettt[31])}}</td>
          <td>{{getoo2(gettt[32])}}</td>
          <td>{{getoo2(gettt[33])}}</td>
          <td>{{getoo2(gettt[34])}}</td>
          <td class="green">{{getoo2(gettt[35])}}</td>
          <td>流時</td></tr>
      </table>
      <table>
        <tr><td>年</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
          <td class="green">{{getoo(getddd[0])}}</td>
          <td>月</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
          <td>{{getoo(getddd[1])}}</td>
          <td class="green">{{getoo(getddd[2])}}</td>
          <td>日</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
          <td>{{getoo(getddd[3])}}</td>
          <td>{{getoo(getddd[4])}}</td>
          <td class="green">{{getoo(getddd[5])}}</td>
          <td>時</td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
          <td>{{getoo(getddd[6])}}</td>
          <td>{{getoo(getddd[7])}}</td>
          <td>{{getoo(getddd[8])}}</td>
          <td class="green">{{getoo(getddd[9])}}</td>
          <td>大運</td><td></td><td></td><td></td><td></td></tr>
        <tr>
          <td>{{getoo(getddd[10])}}</td>
          <td>{{getoo(getddd[11])}}</td>
          <td>{{getoo(getddd[12])}}</td>
          <td>{{getoo(getddd[13])}}</td>
          <td class="green">{{getoo(getddd[14])}}</td>
          <td>流年</td><td></td><td></td><td></td></tr>
        <tr>
          <td>{{getoo(getddd[15])}}</td>
          <td>{{getoo(getddd[16])}}</td>
          <td>{{getoo(getddd[17])}}</td>
          <td>{{getoo(getddd[18])}}</td>
          <td>{{getoo(getddd[19])}}</td>
          <td class="green">{{getoo(getddd[20])}}</td>
          <td>流月</td><td></td><td></td></tr>
        <tr>
          <td>{{getoo(getddd[21])}}</td>
          <td>{{getoo(getddd[22])}}</td>
          <td>{{getoo(getddd[23])}}</td>
          <td>{{getoo(getddd[24])}}</td>
          <td>{{getoo(getddd[25])}}</td>
          <td>{{getoo(getddd[26])}}</td>
          <td class="green">{{getoo(getddd[27])}}</td>
          <td>流日</td><td></td></tr>
        <tr>
          <td>{{getoo(getddd[28])}}</td>
          <td>{{getoo(getddd[29])}}</td>
          <td>{{getoo(getddd[30])}}</td>
          <td>{{getoo(getddd[31])}}</td>
          <td>{{getoo(getddd[32])}}</td>
          <td>{{getoo(getddd[33])}}</td>
          <td>{{getoo(getddd[34])}}</td>
          <td class="green">{{getoo(getddd[35])}}</td>
          <td>流時</td></tr>
      </table>
<!--       <table>
        <tr><td>年</td><td class="green">
          {{ getoo2(calcTRelate(get4Town[0][0], get4Town[1][0])) }}
        </td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
          <td class="yellow">{{ getoo(getddd[0]) }}</td>
          <td>月</td><td class="green">
            {{ getoo2(calcTRelate(get4Town[1][0], get4Town[2][0])) }}
          </td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
          <td class="yellow">{{ getoo(getddd[1]) }}</td>
          <td class="yellow">{{ getoo(getddd[2]) }}</td>
          <td>日</td><td class="green">
            {{ getoo2(calcTRelate(get4Town[2][0], get4Town[3][0])) }}
          </td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
          <td class="yellow">{{ getoo(getddd[3]) }}</td>
          <td class="yellow">{{ getoo(getddd[4]) }}</td>
          <td class="yellow">{{ getoo(getddd[5]) }}</td>
          <td>時</td><td class="green">
            {{ getoo2(calcTRelate(get4Town[3][0], getGG[0])) }}
          </td><td></td><td></td><td></td><td></td></tr>
        <tr>
          <td class="red">{{ getoo(getddd[6]) }}</td>
          <td>{{ getoo(getddd[7]) }}</td>
          <td>{{ getoo(getddd[8]) }}</td>
          <td class="red">{{ getoo(getddd[9]) }}</td>
          <td>大運</td><td class="green">
            {{ getoo2(calcTRelate(getGG[0], getcurrent4Town[0][0])) }}
          </td><td></td><td></td><td></td></tr>
        <tr>
          <td>{{ getoo(getddd[10]) }}</td>
          <td>{{ getoo(getddd[11]) }}</td>
          <td>{{ getoo(getddd[12]) }}</td>
          <td>{{ getoo(getddd[13]) }}</td>
          <td class="red">{{ getoo(getddd[14]) }}</td>
          <td>流年</td><td class="green">
            {{ getoo2(calcTRelate(getcurrent4Town[0][0], getcurrent4Town[1][0])) }}
          </td><td></td><td></td></tr>
        <tr>
          <td>{{ getoo(getddd[15]) }}</td>
          <td>{{ getoo(getddd[16]) }}</td>
          <td>{{ getoo(getddd[17]) }}</td>
          <td>{{ getoo(getddd[18]) }}</td>
          <td>{{ getoo(getddd[19]) }}</td>
          <td class="red">{{ getoo(getddd[20]) }}</td>
          <td>流月</td><td class="green">
          {{ getoo2(calcTRelate(getcurrent4Town[1][0], getcurrent4Town[2][0])) }}</td>
          <td></td></tr>
        <tr v-if="disflag.bcd">
          <td>{{ getoo(getddd[21]) }}</td>
          <td>{{ getoo(getddd[22]) }}</td>
          <td>{{ getoo(getddd[23]) }}</td>
          <td>{{ getoo(getddd[24]) }}</td>
          <td>{{ getoo(getddd[25]) }}</td>
          <td>{{ getoo(getddd[26]) }}</td>
          <td class="red">{{ getoo(getddd[27]) }}</td>
          <td>流日</td><td></td></tr>
        <tr v-if="disflag.bct">
          <td>{{ getoo(getddd[28]) }}</td>
          <td>{{ getoo(getddd[29]) }}</td>
          <td>{{ getoo(getddd[30]) }}</td>
          <td>{{ getoo(getddd[31]) }}</td>
          <td>{{ getoo(getddd[32]) }}</td>
          <td>{{ getoo(getddd[33]) }}</td>
          <td>{{ getoo(getddd[34]) }}</td>
          <td class="red">{{ getoo(getddd[35]) }}</td>
          <td>流時</td></tr>
      </table> -->
      </div>
  </div>
</template>

<script>
import {
  getBRelate,
  getTRelate,
} from '../utils/core'

export default {
  name: 'MergeTable',
  props: {
    yr: Number,
    mon: Number,
    date: Number,
    hr: Number,
    time: Number,
    checked: Boolean,
    sex: Boolean,
    cyr: Number,
    cmon: Number,
    cdate: Number,
    chr: Number,
    ctime: Number,
  },
  computed: {
    getddd() {
      const obj = this.getbrela(parseInt(this.yr, 10),
        parseInt(this.mon, 10),
        parseInt(this.date, 10),
        parseInt(this.hr, 10),
        parseInt(this.time, 10),
        this.checked,
        this.sex,
        parseInt(this.cyr, 10),
        parseInt(this.cmon, 10),
        parseInt(this.cdate, 10),
        parseInt(this.chr, 10),
        parseInt(this.ctime, 10))
      return obj
    },
    gettt() {
      const obj = this.gettrela(parseInt(this.yr, 10),
        parseInt(this.mon, 10),
        parseInt(this.date, 10),
        parseInt(this.hr, 10),
        parseInt(this.time, 10),
        this.checked,
        this.sex,
        parseInt(this.cyr, 10),
        parseInt(this.cmon, 10),
        parseInt(this.cdate, 10),
        parseInt(this.chr, 10),
        parseInt(this.ctime, 10))
      return obj
    },
  },
  methods: {
    getoo(arr) {
      let str = ''
      if (arr.f3m) { str += '三合' }
      if (arr.f180k) { str += '沖' }
      if (arr.f3h) { str += '三會' }
      if (arr.f6m) { str += '六合' }
      return str
    },
    getoo2(arr) {
      let str = ''
      if (arr.f5m) { str += '五合' }
      return str
    },
    gettrela(yr, mon, day, hr, time, mode, sex, curyr, cm, cd, ch, ct) {
      return getTRelate(yr, mon, day, hr, time, mode, sex, curyr, cm, cd, ch, ct)
    },
    getbrela(yr, mon, day, hr, time, mode, sex, curyr, cm, cd, ch, ct) {
      return getBRelate(yr, mon, day, hr, time, mode, sex, curyr, cm, cd, ch, ct)
    },
  },
}
</script>

<style scoped lang="stylus">
.mtable
  +respond-to(desktop)
    position fixed
    left 0
    bottom 0
.green
  color white
  background #00c853
.yellow
  color white
  background #FFCA05
.red
  color white
  background #dd2c00
</style>
