<template>
  <div>
    <div class="button">{{ flag ? val_a : val_b}}</div>
  </div>
</template>

<script>

export default {
  name: 'RelateTable',
  props: {
    flag: Boolean,
    val_a: String,
    val_b: String,
  },
  methods: {

  },
}
</script>

<style scoped lang="stylus">
  .button
    width background #dcdcdc
    color black
    font-size 18px
    padding 5px
    cursor pointer
    border 1px solid black
    border-radius 3px
    margin 5px
    min-width 100px
    &:hover
      background #dcdddd
    &:active
      background #bbbccc
</style>
