<template>
  <div>
  <div class="bundlebox">
    <div class="word-name">{{getName}}</div>
    <div :class="'box box-t' + data[0].num"
         style="height:16px"
         >
        <!-- {{item.value}} -->
    </div>
<!--     <div v-for="(item, index) in data"
         :key="index"
         :class="'box box-t' + item.num"
         :style="{height: item.value/2+'px'}"
         >
    </div> -->


  </div>
  </div>
</template>

<script>

export default {
  name: 'BottomObject',
  props: {
    data: {
      type: Array,
      default() {
        return { num: 0, value: 100 }
      },
    },
    orgdata: Number,
    mergetag: Number,
    mergehtag: Number,
    merge6htag: Number,
    merge180htag: Boolean,
  },
  computed: {
    getTName() {
      switch (this.mergetag) {
        case 1: return { num: 1, name: '三' }
        case 2: return { num: 2, name: '三' }
        case 3: return { num: 3, name: '三' }
        case 4: return { num: 4, name: '三' }
        default: return { num: 0, name: '' }
      }
    },
    getTHName() {
      switch (this.mergehtag) {
        case 1: return { num: 1, name: '會' }
        case 2: return { num: 4, name: '會' }
        case 3: return { num: 2, name: '會' }
        case 4: return { num: 3, name: '會' }
        default: return { num: 0, name: '' }
      }
    },
    getT6MName() {
      switch (this.merge6htag) {
        case 1: return { num: 1, name: '六' }
        case 2: return { num: 2, name: '六' }
        case 3: return { num: 3, name: '六' }
        case 4: return { num: 4, name: '六' }
        case 5: return { num: 5, name: '六' }
        default: return { num: 0, name: '' }
      }
    },
    getName() {
      switch (this.orgdata) {
        case 1: return '子'
        case 2: return '丑'
        case 3: return '寅'
        case 4: return '卯'
        case 5: return '辰'
        case 6: return '巳'
        case 7: return '午'
        case 8: return '未'
        case 9: return '申'
        case 10: return '酉'
        case 11: return '戌'
        case 12: return '亥'
        default: return ''
      }
    },
  },
  methods: {

  },
}
</script>

<style scoped lang="stylus">
.bundlebox
  position relative
.word-name
  padding 0px 2px
  position absolute
  color white
  font-weight bold
  text-shadow 1px 1px black
  font-size 10px
.box
  font-weight bold
  margin 0
  padding 0
  // padding-left 5px
  text-align left
  // margin 5px 0
  text-shadow 1px 1px 1px black
  min-width 16px
  width 100%
  // max-width 120px
  &tip
    font-weight bold
    text-shadow 1px 1px 1px black
    color white
    margin 5px
    font-size 12px
    border-radius 5px
    background black
    padding 3px 0
.box-
  &t1
    // color #00c853
    color white
    background #00c853
  &t2
    // color #aeea00
    color white
    background #aeea00
  &t3
    // color #dd2c00
    color white
    background #dd2c00
  &t4
    // color #ff3d00
    color white
    background #ff3d00
  &t5
    // color #5f4339
    color white
    background #5f4339
  &t6
    // color #795548
    color white
    background #795548
  &t7
    // color #FFCA05
    color white
    background #FFCA05
  &t8
    // color #ffd740
    color white
    background #ffd740
  &t9
    // color #1976d2
    color white
    background #1976d2
  &t10
    // color #00b0ff
    color white
    background #00b0ff

  &b1
    // color #00b0ff
    color white
    background #00b0ff
  &b2
    // color #795548
    color white
    background #795548
  &b3
    // color #00c853
    color white
    background #00c853
  &b4
    // color #aeea00
    color white
    background #aeea00
  &b5
    // color #5f4339
    color white
    background #5f4339
  &b6
    // color #dd2c00
    color white
    background #dd2c00
  &b7
    // color #ff3d00
    color white
    background #ff3d00
  &b8
    // color #795548
    color white
    background #795548
  &b9
    // color #FFCA05
    color white
    background #FFCA05
  &b10
    // color #ffd740
    color white
    background #ffd740
  &b11
    // color #5f4339
    color white
    background #5f4339
  &b12
    // color #1976d2
    color white
    background #1976d2

</style>
