<template>
  <div>

    <div class="header" style="max-width: 900px">
        <div class="header-item">
          <ToggleButton @click.native="toggleSex" :flag="sex" val_a="男" val_b="女" />
          <ToggleButton @click.native="togglebRD" :flag="wedd" val_a="個人擇日" val_b="不擇日" />
        </div>

        <div class="header-item">
          <vbutton @click.native="toggletengor(1)">性格</vbutton>
          <vbutton @click.native="toggletengor(2)">六親</vbutton>
          <vbutton @click.native="toggletengor(3)">身體</vbutton>
          <vbutton @click.native="toggletengor(4)">類象</vbutton>
          <vbutton @click.native="toggletengor(5)">十神</vbutton>
          <vbutton @click.native="toggletengor(6)">行為</vbutton>
          <vbutton @click.native="toggletengor(7)">有利</vbutton>
          <vbutton @click.native="toggletengor(8)">game</vbutton>
        </div>
      <div class="header-item">
        <div style="position: fixed;right:0;top:0;font-size:18px;font-weight:bold;z-index: 11;background: rgba(255,255,255,0.5);border:1px solid black;padding:5px;">
          <div style="border-bottom: 2px solid red" v-for="(item, idx) in get24eventlst" :key="idx">{{getevename(idx)+ ': ' + item[1] + '-' + item[2]}}</div>
        </div>
        <input type="number" class="item" v-model.number="curyr" min="1911" />
        <input type="number" class="item" v-model.number="curmon" min="1" max="12" />
      </div>
      <div class="header-item">
        Client A
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orgyr" min="1911" />
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orgmon" min="1" max="12" />
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orgdate" min="1" max="31" />
        <!-- {{ get4Town[0] }} {{ get4Town[2] }} -->
      </div>
      <div class="header-item">
        Client B
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orgyr2" min="1911" />
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orgmon2" min="1" max="12" />
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orgdate2" min="1" max="31" />
        <!-- {{ get4Town2[0] }} {{ get4Town2[2] }} -->
      </div>
  <!-- {{getYrList}} -->
  </div>
      <div v-show="disflag.day12" class="wrapper-b" style="height: 100vh;overflow: scroll;position: fixed;top:0px;z-index: 19;background: white">
<div>
        <div class="header-item" style="position: fixed;top:30%;left:0;z-index: 19;background: rgba(100%,100%,100%,0.5);color:white;font-size: 24px;padding:25px 10px;cursor: pointer;">
          <ToggleButton @click.native="toggleSex" :flag="sex" val_a="男" val_b="女" />
          <vbutton @click.native="toggletengor(1)">性格</vbutton>
          <vbutton @click.native="toggletengor(2)">六親</vbutton>
          <vbutton @click.native="toggletengor(3)">身體</vbutton>
          <vbutton @click.native="toggletengor(4)">類象</vbutton>
          <vbutton @click.native="toggletengor(5)">十神</vbutton>
          <vbutton @click.native="toggletengor(6)">行為</vbutton>
          <vbutton @click.native="toggletengor(7)">有利</vbutton>
          <vbutton @click.native="toggletengor(8)">game</vbutton>
        </div>

</div>
        <div  @click="closeday12" style="position: fixed;top:0px;z-index: 19;background: #FFCA05;border:2px solid black;color:white;font-size: 24px;padding:25px 10px;cursor: pointer;font-weight: bold;text-shadow: 2px 2px 2px black;">Close</div>
        <User class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="0"
        :sex="sex"
        :withoutT="1"
        :tengorType="tengorType" />
        <User class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="1"
        :sex="sex"
        :withoutT="1"
        :tengorType="tengorType" />
        <User class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="3"
        :sex="sex"
        :withoutT="1"
        :tengorType="tengorType" />
        <User class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="5"
        :sex="sex"
        :withoutT="1"
        :tengorType="tengorType" />
        <User class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="7"
        :sex="sex"
        :withoutT="1"
        :tengorType="tengorType" />
        <User class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="9"
        :sex="sex"
        :withoutT="1"
        :tengorType="tengorType" />
        <User class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="11"
        :sex="sex"
        :withoutT="1"
        :tengorType="tengorType" />
        <User class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="13"
        :sex="sex"
        :withoutT="1"
        :tengorType="tengorType" />
        <User class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="15"
        :sex="sex"
        :withoutT="1"
        :tengorType="tengorType" />
        <User class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="17"
        :sex="sex"
        :withoutT="1"
        :tengorType="tengorType" />
        <User class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="19"
        :sex="sex"
        :withoutT="1"
        :tengorType="tengorType" />
        <User class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="21"
        :sex="sex"
        :withoutT="1"
        :tengorType="tengorType" />
      </div>
    <div class="wrapper-b">


      <User class="usss" v-for="(item, idx) in getYrList" :key="idx"
        @click.native="loadday(item.yr, item.mon, item.day)"
        :orgyr="item.yr"
        :orgmon="item.mon"
        :orgdate="item.day"
        :orghr="0"
        :sex="sex"
        :withoutT="0"
        :yrb="geee()"
        :dayb="geee2()"
        :yrb2="geee3()"
        :dayb2="geee4()"
        :bfd="wedd"
        :is24event="item.eve2"
        :is24eventbf="item.eve2b"
        :is24eventaf="item.eve2a"
        :is24eventaf2="item.eve2a2"
        :disev24="item.disev24"
        :is24evedie="item.evedie"
        :is24evelea="item.evelea"
        :tengorType="tengorType" />

    </div>
  </div>
</template>

<script>
import {
  getFourTown,
  isRunnian,
  getYr24Event,
} from '../utils/core'
import ToggleButton from '@/components/ToggleButton.vue'
import User from '@/components/User.vue'
import Vbutton from '@/components/Vbutton.vue'

export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data: () => ({
    disflag: {
      day12: false,
    },
    d12y: 1990,
    d12m: 10,
    d12d: 29,
    channelType: 1,
    tengorType: 1,
    withoutT: 1,
    disnum: 9,
    modee: 2,
    searchtext: '@',
    orgyr: new Date().getFullYear(),
    orgmon: new Date().getMonth() + 1,
    orgdate: new Date().getDate(),
    orghr: new Date().getHours(),
    orgtime: new Date().getMinutes(),
    orgyr2: new Date().getFullYear(),
    orgmon2: new Date().getMonth() + 1,
    orgdate2: new Date().getDate(),
    orghr2: new Date().getHours(),
    orgtime2: new Date().getMinutes(),
    curyr: new Date().getFullYear(),
    curmon: new Date().getMonth() + 1,
    curdate: new Date().getDate(),
    curhr: new Date().getHours(),
    curtime: new Date().getMinutes(),
    curss: new Date().getSeconds(),
    checked: false,
    sex: true,
    wedd: true,
    id: 0,
  }),
  components: {
    ToggleButton,
    Vbutton,
    User,
  },
  computed: {
    get24eventlst() {
      const dlst = getYr24Event(this.curyr)
      // console.log(dlst)
      const a = []
      for (let i = 0; i < dlst.length; i += 1) {
        const dd = new Date(dlst[i])
        a.push([dd.getFullYear(), dd.getMonth() + 1, dd.getDate()])
      }

      return a
    },
    getYrList() {
      const curnow = this.curmon
      const isry = isRunnian(this.curyr)
      let num = 365
      if (isry) {
        num = 366
      }
      const reslst = []
      let selyr = this.curyr
      if (selyr < 1000) {
        selyr = 1990
      }
      const date = new Date(selyr, 0, 1)
      for (let i = 0; i < num; i += 1) {
        const r = this.addDay(date, i)
        const data = { yr: r.getFullYear(), mon: r.getMonth() + 1, day: r.getDate() }
        const even24 = this.check24event(data)
        const even24bf = this.check24eventbf(data)
        const even24af = this.check24eventaf(data)
        const even24af2 = this.check24eventaf2(data)
        const even24die = this.check24eventdie(data)
        const even24lea = this.check24eventlea(data)

        reslst.push({
          yr: r.getFullYear(),
          mon: r.getMonth() + 1,
          day: r.getDate(),
          eve2: even24[0],
          eve2b: even24bf,
          eve2a: even24af,
          eve2a2: even24af2,
          evedie: even24die,
          evelea: even24lea,
          disev24: even24[1],
        })
      }
      const fd = reslst.filter(i => i.mon === curnow)
      // console.log(fd)
      return fd
    },


    get4Town() {
      return getFourTown(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked)
    },
    get4Town2() {
      return getFourTown(parseInt(this.orgyr2, 10),
        parseInt(this.orgmon2, 10),
        parseInt(this.orgdate2, 10),
        parseInt(this.orghr2, 10),
        parseInt(this.orgtime2, 10),
        this.checked)
    },

  },
  methods: {
    geee() {
      const a = getFourTown(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked)
      return a[0][1] ? a[0][1] : 0
    },
    geee2() {
      const a = getFourTown(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked)
      return a[2][1] ? a[2][1] : 0
    },
    geee3() {
      const a = getFourTown(parseInt(this.orgyr2, 10),
        parseInt(this.orgmon2, 10),
        parseInt(this.orgdate2, 10),
        parseInt(this.orghr2, 10),
        parseInt(this.orgtime2, 10),
        this.checked)
      return a[0][1] ? a[0][1] : 0
    },
    geee4() {
      const a = getFourTown(parseInt(this.orgyr2, 10),
        parseInt(this.orgmon2, 10),
        parseInt(this.orgdate2, 10),
        parseInt(this.orghr2, 10),
        parseInt(this.orgtime2, 10),
        this.checked)
      return a[2][1] ? a[2][1] : 0
    },
    getevename(num) {
      switch (num) {
        case 0: return '小寒'
        case 1: return '大寒'
        case 2: return '立春'
        case 3: return '雨水'
        case 4: return '驚蟄'
        case 5: return '春分'
        case 6: return '清明'
        case 7: return '穀雨'
        case 8: return '立夏'
        case 9: return '小滿'
        case 10: return '芒種'
        case 11: return '夏至'
        case 12: return '小暑'
        case 13: return '大暑'
        case 14: return '立秋'
        case 15: return '處暑'
        case 16: return '白露'
        case 17: return '秋分'
        case 18: return '寒露'
        case 19: return '霜降'
        case 20: return '立冬'
        case 21: return '小雪'
        case 22: return '大雪'
        case 23: return '冬至'
        default: return ''
      }
    },
    loadday(y, m, d) {
      this.d12y = y
      this.d12m = m
      this.d12d = d
      this.disflag.day12 = true
    },
    closeday12() {
      this.disflag.day12 = false
    },
    check24event(item) {
      const dlst = getYr24Event(this.curyr)
      let a = false
      let enuma = 0
      for (let i = 0; i < dlst.length; i += 1) {
        const dd = new Date(dlst[i])
        const yr = dd.getFullYear()
        const mon = dd.getMonth() + 1
        const date = dd.getDate()
        if (item.yr === yr && item.mon === mon && item.day === date) {
          a = true
          enuma = i
        }
      }
      return [a, enuma]
    },
    check24eventbf(item) {
      const dlst = getYr24Event(this.curyr)
      let a = false
      for (let i = 0; i < dlst.length; i += 1) {
        const dd = new Date(dlst[i])
        const yr = dd.getFullYear()
        const mon = dd.getMonth() + 1
        const date = dd.getDate() - 1
        if (item.yr === yr && item.mon === mon && item.day === date) {
          a = true
        }
      }
      return a
    },
    check24eventaf(item) {
      const dlst = getYr24Event(this.curyr)
      let a = false
      for (let i = 0; i < dlst.length; i += 1) {
        const dd = new Date(dlst[i])
        const yr = dd.getFullYear()
        const mon = dd.getMonth() + 1
        const date = dd.getDate() + 1
        if (item.yr === yr && item.mon === mon && item.day === date) {
          a = true
        }
      }
      return a
    },
    check24eventaf2(item) {
      const dlst = getYr24Event(this.curyr)
      let a = false
      for (let i = 0; i < dlst.length; i += 1) {
        const dd = new Date(dlst[i])
        const yr = dd.getFullYear()
        const mon = dd.getMonth() + 1
        const date = dd.getDate() + 2
        if (item.yr === yr && item.mon === mon && item.day === date) {
          a = true
        }
      }
      return a
    },
    check24eventdie(item) {
      const dlst = getYr24Event(this.curyr)
      let a = false
      for (let i = 0; i < dlst.length; i += 1) {
        const dd = new Date(dlst[i])
        const yr = dd.getFullYear()
        const mon = dd.getMonth() + 1
        const date = dd.getDate() - 1
        if (item.yr === yr && item.mon === mon && item.day === date && (i === 2 || i === 8 || i === 14 || i === 20)) {
          a = true
        }
      }
      return a
    },
    check24eventlea(item) {
      const dlst = getYr24Event(this.curyr)
      let a = false
      for (let i = 0; i < dlst.length; i += 1) {
        const dd = new Date(dlst[i])
        const yr = dd.getFullYear()
        const mon = dd.getMonth() + 1
        const date = dd.getDate() - 1
        if (item.yr === yr && item.mon === mon && item.day === date && (i === 5 || i === 11 || i === 17 || i === 23)) {
          a = true
        }
      }
      return a
    },
    toNumber(n) {
      return n
    },
    addDay(date, n) {
      const dayInMS = 24 * 60 * 60 * 1000
      return new Date(date.getTime() + (dayInMS * this.toNumber(n)))
    },
    toggletengor(num) {
      this.tengorType = num
    },
    toggleSex() {
      this.sex = !this.sex
    },
    togglebRD() {
      this.wedd = !this.wedd
    },
  },
}
</script>

<style scoped lang="stylus">
  .usss
    box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    margin 5px
    position relative
    cursor pointer
  .tengod-text
    margin 0
    background black
    color white
  .tengod-text-w
    margin 0
    color black
  .seluserimg
    +respond-to(desktop)
      position fixed
      left 0
      top 100px
  .selimg
    flex-container(flex-start, flex-start, row, wrap)
    width 100%
    position block
    bottom 0
    // margin 0 auto
    left 0
    // right 0
    // background black
    +respond-to(desktop)
      z-index 2
      width calc(100% - 250px)
      position fixed
      background black
      +respond-to(desktop)
        width calc(100% - 400px)
  .filter-wrapper
    width 100%
    .filter-panel
      flex-container(center, center, row, wrap)
      .button
        width background #dcdcdc
        color black
        font-size 18px
        padding 5px
        cursor pointer
        border 2px solid black
        border-radius 3px
        margin 5px
        min-width 100px
        &:hover
          background #dcdddd
        &:active
          background #bbbccc
    .filter-panel-end
      // background black
      flex-container(center, flex-end, row, wrap)
      .item
        flex-container(stretch, center, column, wrap)
    .filter-panel-end-r
      flex-container(center, flex-start, row, wrap)
      .item
        background black
        flex-container(stretch, center, column, wrap)
  .togglebtn
    cursor pointer
    flex-container(center, center, column, nowrap)
    position fixed
    background black
    color white
    font-size 24px
    font-weight bold
    border 1px solid orange
    width 80px
    height 80px
    top 40%
    right 0px
    z-index 1
    transition 0.3s
    &-active
      transform translateX(-250px)
      +respond-to(desktop)
        transform translateX(-400px)
    .toggle-wrapper
      flex-container(center, center, column, nowrap)
  .userList
    position fixed
    background black
    width 250px
    height 100%
    top 0
    right 0
    overflow auto
    z-index 1
    transition 0.3s
    +respond-to(desktop)
      width 400px
    &-active
      transform translateX(250px)
      +respond-to(desktop)
        transform translateX(400px)
    .search-input
      width 100%
      height 40px
      font-size 24px
      padding 5px
      margin-bottom 10px
    .useritem
      width 100%
      cursor pointer
      // height 50px
      background black
      color white
      border 1px solid white
      text-align center
      flex-container(flex-start, center, row, nowrap)
      &:hover
        background $green1
      &:active
        background $red1
      .day
        // color white
        width 50px
        // margin-right 5px
  .panel
    width 100%
    height 100vh
    background rgba(0,0,0,0.5)
    position fixed
    top 0
    .bottom-wrapper
      height 100vh
      position relative
    .wrapper
      position fixed
      width 100%
      min-height 300px
      bottom 0
      background red
  .img
    width 100%
    height 100%
    object-fit cover
    max-width 280px
    max-height 280px
  .simg-box
    width 80px
    height 80px
  .simg
    width 80px
    height 80px
    object-fit cover
    // max-width 80px
    // max-height 80px
  .rellabel
    color black
    font-weight bold
    padding 2px
    margin 0
    background white
    border 2px solid black
    position absolute
  .header-s
    flex-container(stretch, stretch, row, wrap)
    .item
      width 100%
      height 40px
      font-size 20px
      background #d5d3a6
      border 0 solid black
      margin 5px
      text-align center
      flex-child(1)
  .header
    flex-container(stretch, stretch, column, nowrap)
    .header-item
      flex-container(stretch, stretch, row, wrap)
      .item
        width 100%
        height 40px
        font-size 20px
        background #d5d3a6
        border 0 solid black
        margin 5px
        text-align center
        flex-child(1)
  .wrapper
    flex-container(center, center, column, nowrap)
  .wrapper-b
    flex-container(center, flex-end, row, wrap)
    padding-bottom 50px
    border 2px solid black
  .town-wrapper
    border 2px solid black
    flex-container(stretch, stretch, row, wrap)
    .bar-wrapper
      flex-container(stretch, stretch, column, nowrap)
      background black
    .dayowner
      border 2px solid black
    .dayownerOwner
      border 2px solid white
</style>
