<template>
      <div>
        <div class="filter-wrapper aaa">
          <div class="filter-panel aaa">
            <div class="ssssss">
              <div>
                <input type="radio" v-model="fixtime.height" value="0" /> 高
                <input type="radio" v-model="fixtime.height" value="1" /> 中
                <input type="radio" v-model="fixtime.height" value="2" /> 矮
              </div>
              <div>
                <input type="radio" v-model="fixtime.firm" value="0" /> 肉緊
                <input type="radio" v-model="fixtime.firm" value="1" /> 正常
                <input type="radio" v-model="fixtime.firm" value="2" /> 肉鬆
              </div>
              <div>
                <input type="radio" v-model="fixtime.skin" value="0" /> 皮膚黑
                <input type="radio" v-model="fixtime.skin" value="1" /> 正常
                <input type="radio" v-model="fixtime.skin" value="2" /> 好白
              </div>
              <div>
                <input type="radio" v-model="fixtime.beauty" value="0" /> 好靚
                <input type="radio" v-model="fixtime.beauty" value="1" /> 正常
              </div>
              <div>
                <input type="radio" v-model="fixtime.bomb" value="0" /> 巨乳
                <input type="radio" v-model="fixtime.bomb" value="1" /> 正常
              </div>
              <div>
                <input type="radio" v-model="fixtime.body" value="0" /> 偏肥
                <input type="radio" v-model="fixtime.body" value="1" /> 正常
                <input type="radio" v-model="fixtime.body" value="2" /> 偏瘦
              </div>
            </div>
          </div>
        </div>
        <div class="filter-wrapper">
        <div class="filter-panel" style="width: 400px">
          <div class="panel-item">
            <p>白羊：{{ Math.floor(getcalcfixTime[0][1] / getcalcfixTime[1] * 100) }}%</p>
          </div>
          <div class="panel-item">
            <p>金牛：{{ Math.floor(getcalcfixTime[0][2] / getcalcfixTime[1] * 100) }}%</p>
          </div>
          <div class="panel-item">
            <p>雙子：{{ Math.floor(getcalcfixTime[0][3] / getcalcfixTime[1] * 100) }}%</p>
          </div>
          <div class="panel-item">
            <p>巨蟹：{{ Math.floor(getcalcfixTime[0][4] / getcalcfixTime[1] * 100) }}%</p>
          </div>
          <div class="panel-item">
            <p>獅子：{{ Math.floor(getcalcfixTime[0][5] / getcalcfixTime[1] * 100) }}%</p>
          </div>
          <div class="panel-item">
            <p>處女：{{ Math.floor(getcalcfixTime[0][6] / getcalcfixTime[1] * 100) }}%</p>
          </div>
          <div class="panel-item">
            <p>天秤：{{ Math.floor(getcalcfixTime[0][7] / getcalcfixTime[1] * 100) }}%</p>
          </div>
          <div class="panel-item">
            <p>天蠍：{{ Math.floor(getcalcfixTime[0][8] / getcalcfixTime[1] * 100) }}%</p>
          </div>
          <div class="panel-item">
            <p>人馬：{{ Math.floor(getcalcfixTime[0][9] / getcalcfixTime[1] * 100) }}%</p>
          </div>
          <div class="panel-item">
            <p>山羊：{{ Math.floor(getcalcfixTime[0][10] / getcalcfixTime[1] * 100) }}%</p>
          </div>
          <div class="panel-item">
            <p>水瓶：{{ Math.floor(getcalcfixTime[0][11] / getcalcfixTime[1] * 100) }}%</p>
          </div>
          <div class="panel-item">
            <p>雙魚：{{ Math.floor(getcalcfixTime[0][12] / getcalcfixTime[1] * 100) }}%</p>
          </div>
        </div>
        </div>
      </div>
</template>

<script>

export default {
  name: 'StartFilter',
  data: () => ({
    fixtime: {
      height: '1',
      firm: '1',
      skin: '1',
      beauty: '1',
      bomb: '1',
      body: '1',
    },
  }),
  computed: {
    getcalcfixTime() {
      return this.calcfixTime(this.fixtime)
    },
  },
  methods: {
    calcfixTime(fixtime) {
      const list = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

      switch (fixtime.height) {
        case '0':
          list[9] += 3
          list[11] += 3
          list[5] += 3
          break
        case '1':
          list[4] += 2
          list[6] += 2
          list[7] += 2.5
          list[8] += 2
          break
        default:
          list[1] += 3
          list[2] += 3
          list[3] += 3
          list[10] += 3
          list[12] += 3
      }

      switch (fixtime.firm) {
        case '0':
          list[1] += 3
          list[2] += 2
          list[5] += 3
          list[9] += 2
          list[10] += 3
          list[11] += 2
          break
        case '1':
          list[3] += 2
          list[6] += 2
          list[7] += 2
          list[8] += 2
          break
        default:
          list[4] += 2
          list[12] += 2
      }

      switch (fixtime.skin) {
        case '0':
          list[1] += 3
          list[8] += 3
          list[10] += 3
          break
        case '1':
          list[2] += 2
          list[5] += 2
          list[7] += 2
          list[9] += 2
          break
        default:
          list[3] += 3
          list[4] += 3
          list[6] += 3
          list[11] += 3
          list[12] += 3
      }

      switch (fixtime.body) {
        case '0':
          list[4] += 3
          list[12] += 3
          list[2] += 3
          break
        case '1':
          list[1] += 2
          list[5] += 2
          list[7] += 2
          list[9] += 2
          break
        default:
          list[3] += 3
          list[8] += 3
          list[6] += 3
          list[10] += 3
          list[11] += 3
      }

      switch (fixtime.beauty) {
        case '0':
          list[2] += 4
          list[5] += 4
          list[7] += 4
          break
        default:
          list[1] += 2
          list[8] += 2
          list[10] += 2
          list[9] += 2
          list[3] += 2
          list[4] += 2
          list[6] += 2
          list[11] += 2
          list[12] += 2
      }

      switch (fixtime.bomb) {
        case '0':
          list[2] += 3
          list[7] += 4
          list[4] += 3
          list[12] += 4
          break
        default:
          list[5] += 2
          list[1] += 2
          list[8] += 2
          list[10] += 2
          list[9] += 2
          list[3] += 2
          list[6] += 2
          list[11] += 2
      }

      let asdw = 0
      for (let i = 0; i < list.length; i += 1) {
        asdw += list[i]
      }

      return [list, asdw]
    },
    togglefat() {
      this.fixtime.fat = !this.fixtime.fat
    },
    togglehigh() {
      this.fixtime.high = !this.fixtime.high
    },
    toggleblack() {
      this.fixtime.black = !this.fixtime.black
    },
    toggleveryblack() {
      this.fixtime.veryblack = !this.fixtime.veryblack
    },
    toggleverwhite() {
      this.fixtime.verwhite = !this.fixtime.verwhite
    },
    togglemacus() {
      this.fixtime.macus = !this.fixtime.macus
    },
    toggleqiji() {
      this.fixtime.qiji = !this.fixtime.qiji
    },
    togglegenius() {
      this.fixtime.genius = !this.fixtime.genius
    },
    toggleet() {
      this.fixtime.et = !this.fixtime.et
    },
    togglesmall() {
      this.fixtime.small = !this.fixtime.small
    },
    togglebeauty() {
      this.fixtime.beauty = !this.fixtime.beauty
    },
    toggletrueee() {
      this.fixtime.trueee = !this.fixtime.trueee
    },
    togglelikebea() {
      this.fixtime.likebea = !this.fixtime.likebea
    },
    togglesick() {
      this.fixtime.sick = !this.fixtime.sick
    },
  },
}
</script>

<style scoped lang="stylus">
.aaa
  +respond-to(desktop)
    width 900px
.ssssss
    flex-container(center, center, column, wrap)
.filter-wrapper
  width 100%
  flex-container(center, center, column, wrap)
  .filter-panel
    flex-container(center, center, row, wrap)
    .panel-item
      width 98px
      background lightgrey
      font-size 18px
      font-weight bold
      border 1px solid black
    .button
      width background #dcdcdc
      color black
      font-size 18px
      padding 5px
      cursor pointer
      border 1px solid black
      border-radius 3px
      margin 5px
      min-width 100px
      &:hover
        background #dcdddd
      &:active
        background #bbbccc
</style>
