<template>
  <div>
    test{{msg}} {{getresult()}}
  </div>
</template>

<script>

import * as tf from '@tensorflow/tfjs'

export default {
  name: 'Test',
  props: {
    msg: String,
  },
  data: () => ({
    topmergeRelate: [0, 0, 0, 0, 0],
  }),
  components: {
  },
  computed: {

  },
  methods: {
    getresult() {
      // Define a model for linear regression.
      const model = tf.sequential()
      model.add(tf.layers.dense({ units: 1, inputShape: [3] }))

      model.compile({ loss: 'meanSquaredError', optimizer: 'sgd' })

      // Generate some synthetic data for training.
      const dataSet = [
        [4, 1, 2],
        [4, 1, 4],
        [4, 1, 4],
        [4, 1, 6],
        [4, 1, 8],
        [4, 1, 10],
        [4, 1, 10],
        [4, 1, 12],
        [4, 1, 12],
        [4, 2, 2],
        [4, 2, 2],
        [4, 2, 6],
        [4, 2, 8],
        [4, 2, 12],
        [4, 2, 12],
        [4, 2, 12],
        [4, 3, 2],
        [4, 3, 2],
        [4, 3, 4],
        [4, 3, 8],
        [4, 3, 10],
        [4, 4, 6],
        [4, 4, 8],
        [4, 4, 10],
        [4, 5, 4],
        [4, 5, 6],
        [4, 5, 6],
        [4, 5, 8],
        [4, 5, 8],
        [4, 5, 10],
        [4, 5, 12],
        [4, 5, 12],
        [4, 6, 4],
        [4, 6, 6],
        [4, 6, 6],
        [4, 6, 8],
        [4, 6, 8],
        [4, 6, 10],
        [4, 6, 10],
        [4, 7, 2],
        [4, 7, 4],
        [4, 7, 8],
        [4, 7, 10],
        [4, 8, 4],
        [4, 8, 6],
        [4, 8, 10],
        [4, 8, 10],
        [4, 8, 10],
        [4, 8, 12],
        [4, 8, 12],
        [4, 9, 2],
        [4, 9, 4],
        [4, 9, 6],
        [4, 9, 12],
        [4, 10, 4],
        [4, 10, 4],
        [4, 10, 6],
        [4, 10, 6],
        [4, 10, 8],
        [4, 10, 12],
        [4, 10, 12],
      ]

      const ansSet = [7, 5, 5, 5, 5, 7, 4, 6, 6, 8, 4, 8, 7, 4, 3, 3, 3, 8, 9, 4, 9, 10, 4, 8, 3, 3, 5, 5, 3, 10, 9, 3, 5, 4, 6, 6, 6, 8, 5, 8, 9, 8, 10, 6, 4, 5, 7, 8, 5, 5, 4, 6, 6, 8, 10, 10, 8, 3, 9, 3, 3]
      // Generate some synthetic data for training.
      const xs = tf.tensor2d(dataSet)
      const ys = tf.tensor2d(ansSet, [dataSet.length, 1])

      // Train the model using the data.
      model.fit(xs, ys, { epochs: 100 }).then(() => {
        // Use the model to do inference on a data point the model hasn't seen before:
        model.predict(tf.tensor2d([4, 10, 12], [1, 3])).print()
        // Open the browser devtools to see the output
      })

      return 22
    },
  },
}
</script>

<style scoped lang="stylus">
</style>
