<template>
  <div>
  <div class="bundlebox">
    <div v-if="mergetagh && mergetag" class="megbox">化</div>
    <div v-if="mergetagh && !mergetag" class="megboxh">合</div>
    <div class="word-name">{{getName}}</div>
    <div v-for="(item, index) in data"
         :key="index"
         :class="'box box-t' + item.num"
         :style="{height: item.value/2+'px'}"
         >
        <!-- {{item.value}} -->
    </div>


  </div>
  </div>
</template>

<script>

export default {
  name: 'TopObject',
  props: {
    data: {
      type: Array,
      default() {
        return { num: 0, value: 100 }
      },
    },
    mergetag: Boolean,
    mergetagh: Boolean,
  },
  computed: {
    getName() {
      switch (this.data[0].num) {
        case 1: return '甲'
        case 2: return '乙'
        case 3: return '丙'
        case 4: return '丁'
        case 5: return '戊'
        case 6: return '己'
        case 7: return '庚'
        case 8: return '辛'
        case 9: return '壬'
        case 10: return '癸'
        default: return ''
      }
    },
  },
  methods: {

  },
}
</script>

<style scoped lang="stylus">
.bundlebox
  position relative
.word-name
  padding 10px 14px
  position absolute
  color white
  font-weight bold
  text-shadow 1px 1px black
  font-size 20px
.megbox
  position absolute
  right 0
  top 0
  font-size 12px
  font-weight bold
  padding 2px
  background black
  color $gold1
  border 1px solid $gold1
.megboxh
  position absolute
  right 0
  top 0
  font-size 12px
  font-weight bold
  padding 2px
  background white
  color $red1
  border 1px solid $red1
.box
  font-weight bold
  margin 0
  padding 0
  // padding-left 5px
  text-align left
  // margin 5px 0
  text-shadow 1px 1px 1px black
  min-width 50px
  width 100%
  // max-width 120px
  &tip
    font-weight bold
    text-shadow 1px 1px 1px black
    color white
    margin 5px
    font-size 12px
    border-radius 5px
    background black
    padding 3px 0
.box-
  &t1
    // color #00c853
    color white
    background #00c853
  &t2
    // color #aeea00
    color white
    background #aeea00
  &t3
    // color #dd2c00
    color white
    background #dd2c00
  &t4
    // color #ff3d00
    color white
    background #ff3d00
  &t5
    // color #5f4339
    color white
    background #5f4339
  &t6
    // color #795548
    color white
    background #795548
  &t7
    // color #FFCA05
    color white
    background #FFCA05
  &t8
    // color #ffd740
    color white
    background #ffd740
  &t9
    // color #1976d2
    color white
    background #1976d2
  &t10
    // color #00b0ff
    color white
    background #00b0ff

  &b1
    // color #00b0ff
    color white
    background #00b0ff
  &b2
    // color #795548
    color white
    background #795548
  &b3
    // color #00c853
    color white
    background #00c853
  &b4
    // color #aeea00
    color white
    background #aeea00
  &b5
    // color #5f4339
    color white
    background #5f4339
  &b6
    // color #dd2c00
    color white
    background #dd2c00
  &b7
    // color #ff3d00
    color white
    background #ff3d00
  &b8
    // color #795548
    color white
    background #795548
  &b9
    // color #FFCA05
    color white
    background #FFCA05
  &b10
    // color #ffd740
    color white
    background #ffd740
  &b11
    // color #5f4339
    color white
    background #5f4339
  &b12
    // color #1976d2
    color white
    background #1976d2

</style>
