<template>
  <div>
    <div class="town-wrapper">
      <div class="bar-wrapper">
        <TopObject :data="data[3][0]" />
        <TopObject :data="data[3][1]" />
      </div>
      <div class="bar-wrapper">
        <TopObject :data="data[2][0]" />
        <TopObject :data="data[2][1]" />
      </div>
      <div class="bar-wrapper">
        <TopObject :data="data[1][0]" />
        <TopObject :data="data[1][1]" />
      </div>
      <div class="bar-wrapper">
        <TopObject :data="data[0][0]" />
        <TopObject :data="data[0][1]" />
      </div>
    </div>
  </div>
</template>

<script>
import TopObject from '@/components/TopObject.vue'

export default {
  name: 'TownWrapper',
  props: {
    data: {
      type: Array,
      default() {
        return [
          [{ num: 0, value: 100 }, { num: 0, value: 100 }],
          [{ num: 0, value: 100 }, { num: 0, value: 100 }],
          [{ num: 0, value: 100 }, { num: 0, value: 100 }],
          [{ num: 0, value: 100 }, { num: 0, value: 100 }],
        ]
      },
    },

  },
  components: {
    TopObject,
  },
  computed: {

  },
  methods: {

  },
}
</script>

<style scoped lang="stylus">
.town-wrapper
  border 2px solid black
  margin-bottom 5px
  flex-container(stretch, stretch, row, nowrap)
  .bar-wrapper
    flex-container(stretch, stretch, column, nowrap)

</style>
