<template>
  <div class="town">
    <div class="bar-wrapper"
      :class="(dayownerOwner || bigTown) ? 'dayownerOwner':'dayowner'">
      <p v-if="dayownerOwner" class="tengod-text">日主</p>
      <p v-else class="tengod-text">{{convertGod(getTotalTownCalc[0][2][0], sex)[getTotalTownCalc[0][townnum][0]]}}</p>
      <TopObject :data="getTVal(getTotalTownCalc[0][townnum][0])"
      :mergetag="getTotalTownCalc[1][townnum]"
      :mergetagh="getTotalTownCalc[2][townnum]" />
      <BottomObject :orgdata="getTotalTownCalc[0][townnum][1]"
      :mergetag="getTotalTownCalcB[1][townnum]"
      :mergehtag="getTotalTownCalcB[2][townnum]"
      :merge6htag="getTotalTownCalcB[3][townnum]"
      :merge180htag="getTotalTownCalcB[4][townnum]"
      :mergetbhtag="getTotalTownCalcB[5][townnum]"
      :merge90htag="getTotalTownCalcB[6][townnum]"
      :merge150htag="getTotalTownCalcB[7][townnum]"
      :merge60chtag="getTotalTownCalcB[8][townnum]"
      :out="out"
      :data="getBVal(getTotalTownCalc[0][townnum][1])" />
      <p v-for="(item, index) in getBVal(getTotalTownCalc[0][townnum][1]).length" :key="index" class="tengod-text">
        {{convertGod(getTotalTownCalc[0][2][0], sex)[getBVal(getTotalTownCalc[0][townnum][1])[index].num]}}
      </p>
    </div>
  </div>
</template>

<script>

import {
  getWordPowerB,
  getWordPowerT,
} from '../utils/core'
import {
  convertGod,
} from '../utils/core_ui_dis'
import TopObject from '@/components/TopObject.vue'
import BottomObject from '@/components/BottomObject.vue'

export default {
  name: 'town',
  props: {
    getTotalTownCalc: Array,
    getTotalTownCalcB: Array,
    tengorType: Number,
    townnum: Number,
    dayownerOwner: Boolean,
    bigTown: Boolean,
    sex: Boolean,
    out: Boolean,
  },
  components: {
    TopObject,
    BottomObject,
  },
  computed: {

  },
  methods: {
    getBVal(num) {
      return getWordPowerB(num)
    },
    getTVal(num) {
      return getWordPowerT(num)
    },
    convertGod(day, sex) {
      return convertGod(day, sex, this.tengorType)
    },
  },
}
</script>

<style scoped lang="stylus">
.bar-wrapper
  flex-container(stretch, stretch, column, nowrap)
  background black
.dayowner
  border 2px solid black
.dayownerOwner
  border 2px solid white
.tengod-text
  margin 0
  background black
  color white
</style>
