  <template>
  <div>
    <div class="button"><slot></slot></div>
  </div>
</template>

<script>

export default {
  name: 'Vbutton',
  methods: {

  },
}
</script>

<style scoped lang="stylus">
  .button
    width background #dcdcdc
    // color black
    font-size 18px
    padding 5px
    cursor pointer
    border 1px solid black
    border-radius 3px
    margin 5px
    min-width 90px
    &:hover
      background #dcdddd
    &:active
      background #bbbccc
</style>
