<template>
  <div>

    <div class="header" style="max-width: 900px">
        <div class="header-item">
          <ToggleButton @click.native="toggleSex" :flag="sex" val_a="男" val_b="女" />
        </div>

        <div class="header-item">
          <!-- <vbutton @click.native="toggletime(1)">要時柱</vbutton> -->
          <!-- <vbutton @click.native="toggletime(0)">不要時柱</vbutton> -->
          <vbutton @click.native="toggletengor(1)">性格</vbutton>
          <vbutton @click.native="toggletengor(2)">六親</vbutton>
          <vbutton @click.native="toggletengor(3)">身體</vbutton>
          <vbutton @click.native="toggletengor(4)">類象</vbutton>
          <vbutton @click.native="toggletengor(5)">十神</vbutton>
          <vbutton @click.native="toggletengor(6)">行為</vbutton>
          <vbutton @click.native="toggletengor(7)">有利</vbutton>
          <vbutton @click.native="toggletengor(8)">game</vbutton>
        </div>
      <div class="header-item">
        <div style="position: fixed;right:0;top:0;font-size:18px;font-weight:bold;z-index: 11;background: rgba(255,255,255,0.5);border:1px solid black;padding:5px;">
          <div style="border-bottom: 2px solid red" v-for="(item, idx) in get24eventlst" :key="idx">{{getevename(idx)+ ': ' + item[1] + '-' + item[2]}}</div>
        </div>
        <!-- <ToggleButton @click.native="toggleRuntime" :flag="disflag.runtime" val_a="Stop Time" val_b="Start Time" /> -->
      <div class="header-item">
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orgyr" min="1911" />
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orgmon" min="1" max="12" />
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orgdate" min="1" max="31" />
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orghr" min="0" max="23" />
        <input type="number" class="item" @focus="$event.target.select()"
        v-model.number="orgtime" min="0" max="59" />
        <input type="number" class="item" v-model.number="curyr" min="1911" />
      </div>
      </div>
  <!-- {{getYrList}} -->
  </div>
      <div v-show="disflag.day12" class="wrapper-b" style="height: 100vh;overflow: scroll;position: fixed;top:0px;z-index: 19;background: white">
<div>
        <div class="header-item" style="position: fixed;top:30%;left:0;z-index: 19;background: rgba(100%,100%,100%,0.5);color:white;font-size: 24px;padding:25px 10px;cursor: pointer;">
          <!-- <vbutton @click.native="toggletime(1)">要時柱</vbutton> -->
          <!-- <vbutton @click.native="toggletime(0)">不要時柱</vbutton> -->
          <ToggleButton @click.native="toggleSex" :flag="sex" val_a="男" val_b="女" />
          <vbutton @click.native="toggletengor(1)">性格</vbutton>
          <vbutton @click.native="toggletengor(2)">六親</vbutton>
          <vbutton @click.native="toggletengor(3)">身體</vbutton>
          <vbutton @click.native="toggletengor(4)">類象</vbutton>
          <vbutton @click.native="toggletengor(5)">十神</vbutton>
          <vbutton @click.native="toggletengor(6)">行為</vbutton>
          <vbutton @click.native="toggletengor(7)">有利</vbutton>
          <vbutton @click.native="toggletengor(8)">game</vbutton>
        </div>
</div>
        <div  @click="closeday12" style="position: fixed;top:0px;z-index: 19;background: #FFCA05;border:2px solid black;color:white;font-size: 24px;padding:25px 10px;cursor: pointer;font-weight: bold;text-shadow: 2px 2px 2px black;">Close</div>
        <CustomUser class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="0"
        :selyr="orgyr"
        :selmon="orgmon"
        :seldate="orgdate"
        :selhr="orghr"
        :seltime="orgtime"
        :sex="sex"
        :withoutT="1"
        :calcnum="9"
        :tengorType="tengorType" />
        <CustomUser class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="1"
        :selyr="orgyr"
        :selmon="orgmon"
        :seldate="orgdate"
        :selhr="orghr"
        :seltime="orgtime"
        :sex="sex"
        :withoutT="1"
        :calcnum="9"
        :tengorType="tengorType" />
        <CustomUser class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="3"
        :selyr="orgyr"
        :selmon="orgmon"
        :seldate="orgdate"
        :selhr="orghr"
        :seltime="orgtime"
        :sex="sex"
        :withoutT="1"
        :calcnum="9"
        :tengorType="tengorType" />
        <CustomUser class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="5"
        :selyr="orgyr"
        :selmon="orgmon"
        :seldate="orgdate"
        :selhr="orghr"
        :seltime="orgtime"
        :sex="sex"
        :withoutT="1"
        :calcnum="9"
        :tengorType="tengorType" />
        <CustomUser class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="7"
        :selyr="orgyr"
        :selmon="orgmon"
        :seldate="orgdate"
        :selhr="orghr"
        :seltime="orgtime"
        :sex="sex"
        :withoutT="1"
        :calcnum="9"
        :tengorType="tengorType" />
        <CustomUser class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="9"
        :selyr="orgyr"
        :selmon="orgmon"
        :seldate="orgdate"
        :selhr="orghr"
        :seltime="orgtime"
        :sex="sex"
        :withoutT="1"
        :calcnum="9"
        :tengorType="tengorType" />
        <CustomUser class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="11"
        :selyr="orgyr"
        :selmon="orgmon"
        :seldate="orgdate"
        :selhr="orghr"
        :seltime="orgtime"
        :sex="sex"
        :withoutT="1"
        :calcnum="9"
        :tengorType="tengorType" />
        <CustomUser class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="13"
        :selyr="orgyr"
        :selmon="orgmon"
        :seldate="orgdate"
        :selhr="orghr"
        :seltime="orgtime"
        :sex="sex"
        :withoutT="1"
        :calcnum="9"
        :tengorType="tengorType" />
        <CustomUser class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="15"
        :selyr="orgyr"
        :selmon="orgmon"
        :seldate="orgdate"
        :selhr="orghr"
        :seltime="orgtime"
        :sex="sex"
        :withoutT="1"
        :calcnum="9"
        :tengorType="tengorType" />
        <CustomUser class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="17"
        :selyr="orgyr"
        :selmon="orgmon"
        :seldate="orgdate"
        :selhr="orghr"
        :seltime="orgtime"
        :sex="sex"
        :withoutT="1"
        :calcnum="9"
        :tengorType="tengorType" />
        <CustomUser class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="19"
        :selyr="orgyr"
        :selmon="orgmon"
        :seldate="orgdate"
        :selhr="orghr"
        :seltime="orgtime"
        :sex="sex"
        :withoutT="1"
        :calcnum="9"
        :tengorType="tengorType" />
        <CustomUser class="usss"
        :orgyr="d12y"
        :orgmon="d12m"
        :orgdate="d12d"
        :orghr="21"
        :selyr="orgyr"
        :selmon="orgmon"
        :seldate="orgdate"
        :selhr="orghr"
        :seltime="orgtime"
        :sex="sex"
        :withoutT="1"
        :calcnum="9"
        :tengorType="tengorType" />
      </div>
    <div class="wrapper-b">


      <CustomUser class="usss" v-for="(item, idx) in getYrList" :key="idx"
        @click.native="loadday(item.yr, item.mon, item.day)"
        :orgyr="item.yr"
        :orgmon="item.mon"
        :orgdate="item.day"
        :orghr="0"
        :selyr="orgyr"
        :selmon="orgmon"
        :seldate="orgdate"
        :selhr="orghr"
        :seltime="orgtime"
        :sex="sex"
        :withoutT="1"
        :calcnum="8"
        :is24event="item.eve2"
        :is24eventbf="item.eve2b"
        :is24eventaf="item.eve2a"
        :is24eventaf2="item.eve2a2"
        :disev24="item.disev24"
        :is24evedie="item.evedie"
        :is24evelea="item.evelea"
        :tengorType="tengorType" />

    </div>
  </div>
</template>

<script>
import {
  getFourTown, getFourValue,
  getBigBig,
  getBigChannelTown,
  getWordPowerB,
  getWordPowerT,
  getDynamicBigChannelTown,
  getYearrTop,
  getYearBottom,
  getBRelate,
  getTRelate,
  getTotalTownM,
  calcTMerge,
  getsmalldestiny,
  getSelYearLst,
  isRunnian,
  getYr24Event,
  // getUserTown,
  // convertToLocalTime,
} from '../utils/core'
import {
  getFriend,
} from '../utils/user'
import {
  getFriend2,
} from '../utils/user2'
import {
  getFriend3,
} from '../utils/user3'
// import {
//   Test,
// } from '../utils/kmdg'
import ToggleButton from '@/components/ToggleButton.vue'
import CustomUser from '@/components/CustomUser.vue'
import Vbutton from '@/components/Vbutton.vue'

export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data: () => ({
    disflag: {
      bcd: true,
      bct: true,
      panel: false,
      usertoggle: true,
      userbyyear: false,
      userbymonth: false,
      userbyday: true,
      ownerrelate: true,
      relbox: true,
      dissex: 0,
      source: 2,
      runtime: true,
      mergetool: false,
      day12: false,
    },
    d12y: 1990,
    d12m: 10,
    d12d: 29,
    channelType: 1,
    tengorType: 1,
    withoutT: 1,
    disnum: 9,
    modee: 2,
    searchtext: '@',
    orgyr: 1990,
    orgmon: 10,
    orgdate: 29,
    orghr: 0,
    orgtime: 5,
    curyr: new Date().getFullYear(),
    curmon: new Date().getMonth() + 1,
    curdate: new Date().getDate(),
    curhr: new Date().getHours(),
    curtime: new Date().getMinutes(),
    curss: new Date().getSeconds(),
    checked: false,
    sex: true,
    id: 0,
    relateList: [],
    tengod: {
      tree1: 0,
      tree2: 0,
      fire1: 0,
      fire2: 0,
      earth1: 0,
      earth2: 0,
      gold1: 0,
      gold2: 0,
      water1: 0,
      water2: 0,
    },
    /*
      關係
      年
      0, 月
      0, 0, 日
      0, 0, 0, 時
      0, 0, 0, 0, 大運
      0, 0, 0, 0, 0, 流年
      0, 0, 0, 0, 0, 0, 流月
      0, 0, 0, 0, 0, 0, 0, 流日
      0, 0, 0, 0, 0, 0, 0, 0, 流時

      0, 0, 0, 0, 0, 0, 0, 0, 0, 干克

      天干
      甲 乙  丙 丁 戊  己 庚  辛 壬  癸
      1  2  3  4  5  6  7  8  9  10
      地支
      子 丑 寅  卯 辰  巳 午  未 申 酉 戌  亥
      1  2  3  4  5  6  7  8  9 10 11 12

      天干合化
      see calcYrChange
      ＃特殊Rule 其他柱的天干可以變化，但日元不變化，四柱中日柱的天干只合不會變合

      當兩個天干相連，而地支有氣則變化，否則不變化，只相合。
      甲己 1+5 -> 變化後 戊己
      乙庚 2+6 ->
      丙辛 3+7
      丁壬 4+8
      戊癸 5+10
      時
      而地支有天干可以產生變化之時
      e.g. 當天干甲己合時，而甲地支坐未土時，甲會變化成戊土 詳見calcYrChange
                 甲己
                 未申

    */
    topRelate: [
      0,
      0, 0,
      0, 0, 0,
      0, 0, 0, 0,
      0, 0, 0, 0, 0,
      0, 0, 0, 0, 0, 0,
      0, 0, 0, 0, 0, 0, 0,
      0, 0, 0, 0, 0, 0, 0, 0,
    ],
    bottomRelate: [
      0,
      0, 0,
      0, 0, 0,
      0, 0, 0, 0,
      0, 0, 0, 0, 0,
      0, 0, 0, 0, 0, 0,
      0, 0, 0, 0, 0, 0, 0,
      0, 0, 0, 0, 0, 0, 0, 0,
    ],
    topbottomRelate: [0, 0, 0, 0, 0, 0, 0, 0, 0],
    /* 時日 日月 時月 年月 年大 */
    topmergeRelate: [0, 0, 0, 0, 0],
  }),
  components: {
    ToggleButton,
    Vbutton,
    CustomUser,
  },
  computed: {
    get24eventlst() {
      const dlst = getYr24Event(this.curyr)
      // console.log(dlst)
      const a = []
      for (let i = 0; i < dlst.length; i += 1) {
        const dd = new Date(dlst[i])
        a.push([dd.getFullYear(), dd.getMonth() + 1, dd.getDate()])
      }

      return a
    },
    getYrList() {
      const isry = isRunnian(this.curyr)
      let num = 365
      if (isry) {
        num = 366
      }
      const reslst = []
      let selyr = this.curyr
      if (selyr < 1000) {
        selyr = 1990
      }
      const date = new Date(selyr, 0, 1)
      for (let i = 0; i < num; i += 1) {
        const r = this.addDay(date, i)
        const data = { yr: r.getFullYear(), mon: r.getMonth() + 1, day: r.getDate() }
        const even24 = this.check24event(data)
        const even24bf = this.check24eventbf(data)
        const even24af = this.check24eventaf(data)
        const even24af2 = this.check24eventaf2(data)
        const even24die = this.check24eventdie(data)
        const even24lea = this.check24eventlea(data)

        reslst.push({
          yr: r.getFullYear(),
          mon: r.getMonth() + 1,
          day: r.getDate(),
          eve2: even24[0],
          eve2b: even24bf,
          eve2a: even24af,
          eve2a2: even24af2,
          evedie: even24die,
          evelea: even24lea,
          disev24: even24[1],
        })
      }
      return reslst
    },
    getSelYr() {
      return getSelYearLst(parseInt(this.orgyr, 10))
    },
    getSmallDest() {
      const user = getFourTown(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked)
      return getsmalldestiny(this.sex, user[0][0], user[3][0], user[3][1])
    },
    getMergeDestList() {
      const lst = []
      const olst = getSelYearLst(parseInt(this.orgyr, 10))
      const user = getFourTown(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked)
      const slst = getsmalldestiny(this.sex, user[0][0], user[3][0], user[3][1])
      for (let i = 0; i < slst.length; i += 1) {
        lst.push([olst[i], slst[i]])
      }
      return lst
    },
    getUser() {
      // return getFriend()
      let x = []
      if (this.disflag.source === 1) {
        x = getFriend2().concat(getFriend()).concat(getFriend3())
      } else if (this.disflag.source === 2) {
        x = getFriend2().concat(getFriend())
      } else if (this.disflag.source === 4) {
        x = getFriend()
      } else {
        x = getFriend3()
      }
      x.sort()
      const a = x.filter(i => i.name.toLowerCase().includes(this.searchtext.toLowerCase()))
      // return a.sort((c, d) => convertToLocalTime(d.year, d.month, d.day, 0, 0) - convertToLocalTime(c.year, c.month, c.day, 0, 0))
      const b = []
      const rrr = [
        '06:40', '08:43', '10:33', '12:35',
        '14:33', '16:36', '18:34', '20:36',
        '22:38', '00:37', '02:39', '04:37',
      ]
      for (let i = 0; i < a.length; i += 1) {
        a[i].dd = getFourTown(a[i].year, a[i].month, a[i].day, 0, 0, false)

        const eee = this.fmtMSS(a[i].day * 4)
        const dddd = a[i].time
        const dddd1 = parseInt(dddd.substr(0, 2), 10)
        const dddd2 = parseInt(dddd.substr(3, 2), 10)
        const dddd3 = (dddd1 * 60) + dddd2
        let dddd4 = 0
        if (dddd3 < 35) {
          dddd4 = 24 * 60 - 35
        } else {
          dddd4 = dddd3 - 35
        }
        const dddd5 = this.fmtMSS(dddd4)

        a[i].upstart = a[i].notfix ? 0 : this.calcupstart(eee, rrr[a[i].month - 1], dddd5)
        b.push(a[i])
      }
      if (this.disflag.userbyyear) {
        b.sort((j, k) => k.year - j.year)
      }
      if (this.disflag.userbymonth) {
        b.sort((j, k) => k.month - j.month)
      }

      // let to = 2
      // let bo = 1
      // if (this.modee === 1) {
      //   to = 2
      //   bo = 1
      // }
      // if (this.modee === 2) {
      //   to = 1
      //   bo = 1
      // }
      // if (this.modee === 3) {
      //   to = 1
      //   bo = 0
      // }

      if (this.disflag.userbyday) {
        // b.sort((j, k) => this.covertNumber(j.dd[2][0], j.dd[2][1], j.dd[1][0], j.dd[1][1]) - this.covertNumber(k.dd[2][0], k.dd[2][1], k.dd[1][0], k.dd[1][1]))
        if (this.modee === 3) {
          b.sort((j, k) => this.covertNumber(j.dd[2][0], j.dd[1][0], j.dd[0][0], j.dd[2][1]) - this.covertNumber(k.dd[2][0], k.dd[1][0], k.dd[0][0], k.dd[2][1]))
        } else if (this.modee === 2) {
          b.sort((j, k) => this.covertNumber(j.dd[2][0], j.dd[1][0], j.dd[2][1], j.dd[1][1]) - this.covertNumber(k.dd[2][0], k.dd[1][0], k.dd[2][1], k.dd[1][1]))
        } else {
          b.sort((j, k) => this.covertNumber(j.dd[2][0], j.dd[2][1], j.dd[1][1], j.dd[1][0]) - this.covertNumber(k.dd[2][0], k.dd[2][1], k.dd[1][1], k.dd[1][0]))
        }
        // b.sort((j, k) => this.covertNumber(j.dd[2][0], j.dd[1][0], j.dd[2][1], j.dd[1][1]) - this.covertNumber(k.dd[2][0], k.dd[1][0], k.dd[2][1], k.dd[1][1]))
        // b.sort((j, k) => (j.dd[2][0] + j.dd[to][bo]) - (k.dd[2][0] + k.dd[to][bo]))
      }
      const c = [[], [], [], [], [], [], [], [], [], []]
      for (let i = 0; i < b.length; i += 1) {
        if (b[i].dd[2][0] === 1) {
          c[0].push(b[i])
        }
        if (b[i].dd[2][0] === 2) {
          c[1].push(b[i])
        }
        if (b[i].dd[2][0] === 3) {
          c[2].push(b[i])
        }
        if (b[i].dd[2][0] === 4) {
          c[3].push(b[i])
        }
        if (b[i].dd[2][0] === 5) {
          c[4].push(b[i])
        }
        if (b[i].dd[2][0] === 6) {
          c[5].push(b[i])
        }
        if (b[i].dd[2][0] === 7) {
          c[6].push(b[i])
        }
        if (b[i].dd[2][0] === 8) {
          c[7].push(b[i])
        }
        if (b[i].dd[2][0] === 9) {
          c[8].push(b[i])
        }
        if (b[i].dd[2][0] === 10) {
          c[9].push(b[i])
        }
      }
      for (let l = 0; l < c.length; l += 1) {
        c[l].sort((j, k) => {
          const asa = {
            d: j.gender ? -1 : 1,
          }
          return j.gender === k.gender ? 0 : asa.d
        })
      }
      const d = []
      for (let m = 0; m < c.length; m += 1) {
        for (let n = 0; n < c[m].length; n += 1) {
          d.push(c[m][n])
        }
      }
      // console.log(d)
      if (this.disflag.dissex === 1) {
        return d.filter(i => i.gender)
      } if (this.disflag.dissex === 2) {
        return d.filter(i => !i.gender)
      }
      return d
    },
    getrelateList() {
      const a = getFourValue(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked)
      // return null
      return this.getMuserList(a[2][0][0].num, '', this.sex, this.modee)
    },
    getcYear() {
      return this.getCurrentYear(parseInt(this.curyr, 10))
    },
    getGG() {
      return getDynamicBigChannelTown(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked, this.sex, parseInt(this.curyr, 10))
    },
    getText() {
      return getBigBig(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked, this.sex)
    },
    getTopRelate() {
      return this.topRelate
    },
    get4Town() {
      return getFourTown(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked)
    },
    getBCT() {
      return getBigChannelTown(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked, this.sex)
    },
    getcurrent4Town() {
      return getFourTown(parseInt(this.curyr, 10),
        parseInt(this.curmon, 10),
        parseInt(this.curdate, 10),
        parseInt(this.curhr, 10),
        parseInt(this.curtime, 10),
        this.checked)
    },
    getTotalTown() {
      return getTotalTownM(this.orgyr, this.orgmon, this.orgdate,
        this.orghr, this.orgtime, this.checked, this.sex,
        this.curyr, this.curmon, this.curdate, this.curhr, this.curtime)
    },
    getValTown() {
      return getFourValue(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10),
        this.checked)
    },
    getMultipMonTown() {
      return this.loop2Date(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10))
    },
    getCalcTenGod() {
      const data = getFourValue(parseInt(this.orgyr, 10),
        parseInt(this.orgmon, 10),
        parseInt(this.orgdate, 10),
        parseInt(this.orghr, 10),
        parseInt(this.orgtime, 10))

      return data
    },
  },
  methods: {
    getevename(num) {
      switch (num) {
        case 0: return '小寒'
        case 1: return '大寒'
        case 2: return '立春'
        case 3: return '雨水'
        case 4: return '驚蟄'
        case 5: return '春分'
        case 6: return '清明'
        case 7: return '穀雨'
        case 8: return '立夏'
        case 9: return '小滿'
        case 10: return '芒種'
        case 11: return '夏至'
        case 12: return '小暑'
        case 13: return '大暑'
        case 14: return '立秋'
        case 15: return '處暑'
        case 16: return '白露'
        case 17: return '秋分'
        case 18: return '寒露'
        case 19: return '霜降'
        case 20: return '立冬'
        case 21: return '小雪'
        case 22: return '大雪'
        case 23: return '冬至'
        default: return ''
      }
    },
    loadday(y, m, d) {
      this.d12y = y
      this.d12m = m
      this.d12d = d
      this.disflag.day12 = true
    },
    closeday12() {
      this.disflag.day12 = false
    },
    check24event(item) {
      const dlst = getYr24Event(this.curyr)
      let a = false
      let enuma = 0
      for (let i = 0; i < dlst.length; i += 1) {
        const dd = new Date(dlst[i])
        const yr = dd.getFullYear()
        const mon = dd.getMonth() + 1
        const date = dd.getDate()
        if (item.yr === yr && item.mon === mon && item.day === date) {
          a = true
          enuma = i
        }
      }
      return [a, enuma]
    },
    check24eventbf(item) {
      const dlst = getYr24Event(this.curyr)
      let a = false
      for (let i = 0; i < dlst.length; i += 1) {
        const dd = new Date(dlst[i])
        const yr = dd.getFullYear()
        const mon = dd.getMonth() + 1
        const date = dd.getDate() - 1
        if (item.yr === yr && item.mon === mon && item.day === date) {
          a = true
        }
      }
      return a
    },
    check24eventaf(item) {
      const dlst = getYr24Event(this.curyr)
      let a = false
      for (let i = 0; i < dlst.length; i += 1) {
        const dd = new Date(dlst[i])
        const yr = dd.getFullYear()
        const mon = dd.getMonth() + 1
        const date = dd.getDate() + 1
        if (item.yr === yr && item.mon === mon && item.day === date) {
          a = true
        }
      }
      return a
    },
    check24eventaf2(item) {
      const dlst = getYr24Event(this.curyr)
      let a = false
      for (let i = 0; i < dlst.length; i += 1) {
        const dd = new Date(dlst[i])
        const yr = dd.getFullYear()
        const mon = dd.getMonth() + 1
        const date = dd.getDate() + 2
        if (item.yr === yr && item.mon === mon && item.day === date) {
          a = true
        }
      }
      return a
    },
    check24eventdie(item) {
      const dlst = getYr24Event(this.curyr)
      let a = false
      for (let i = 0; i < dlst.length; i += 1) {
        const dd = new Date(dlst[i])
        const yr = dd.getFullYear()
        const mon = dd.getMonth() + 1
        const date = dd.getDate() - 1
        if (item.yr === yr && item.mon === mon && item.day === date && (i === 2 || i === 8 || i === 14 || i === 20)) {
          a = true
        }
      }
      return a
    },
    check24eventlea(item) {
      const dlst = getYr24Event(this.curyr)
      let a = false
      for (let i = 0; i < dlst.length; i += 1) {
        const dd = new Date(dlst[i])
        const yr = dd.getFullYear()
        const mon = dd.getMonth() + 1
        const date = dd.getDate() - 1
        if (item.yr === yr && item.mon === mon && item.day === date && (i === 5 || i === 11 || i === 17 || i === 23)) {
          a = true
        }
      }
      return a
    },
    toNumber(n) {
      return n
    },
    addDay(date, n) {
      const dayInMS = 24 * 60 * 60 * 1000
      return new Date(date.getTime() + (dayInMS * this.toNumber(n)))
    },
    calcOneTownVal(num1, num2) {
      return this.calcWordValue(getWordPowerT(num1), getWordPowerB(num2))
    },
    calcOneTownValT(num1, num2) {
      return this.calcWordValue(num1, num2)
    },
    toggletengor(num) {
      this.tengorType = num
    },
    toggletime(num) {
      this.withoutT = num
    },
    toggletown(num) {
      this.disnum = num
    },
    calcWordValue(num1, num2) {
      // 生系數
      // const urate = 1.5
      const uurate = 1.0
      const lurate = 0.8
      // 剋系數
      // const urate = 1.5
      // const uurate = 0.5
      // const lurate = 0.8
      const a = num1[0]
      const b = num2
      for (let i = 0; i < b.length; i += 1) {
        if ((a.num === 1 || a.num === 2) && (b[i].num === 9 || b[i].num === 10)) {
          a.value += b[i].value
          b[i].value *= lurate
        }
        if ((a.num === 1 || a.num === 2) && (b[i].num === 1 || b[i].num === 2)) {
          a.value = (a.value + b[i].value) * uurate
          b[i].value *= uurate
          // b[i].value *= lurate
        }
        if ((a.num === 1 || a.num === 2) && (b[i].num === 3 || b[i].num === 4)) {
          a.value -= (b[i].value / 2)
          b[i].value *= uurate
        }
        if ((a.num === 1 || a.num === 2) && (b[i].num === 5 || b[i].num === 6 || b[i].num === 7 || b[i].num === 8)) {
          a.value -= (b[i].value / 2)
          b[i].value *= lurate
        }
        a.value = Math.floor(a.value)
        b[i].value = Math.floor(b[i].value)
      }

      for (let i = 0; i < b.length; i += 1) {
        if ((a.num === 3 || a.num === 4) && (b[i].num === 1 || b[i].num === 2)) {
          a.value += b[i].value
          b[i].value *= lurate
        }
        if ((a.num === 3 || a.num === 4) && (b[i].num === 3 || b[i].num === 4)) {
          a.value = (a.value + b[i].value) * uurate
          b[i].value *= uurate
          // b[i].value *= lurate
        }
        if ((a.num === 3 || a.num === 4) && (b[i].num === 5 || b[i].num === 6)) {
          a.value -= (b[i].value / 2)
          b[i].value *= uurate
        }
        if ((a.num === 3 || a.num === 4) && (b[i].num === 7 || b[i].num === 8 || b[i].num === 9 || b[i].num === 10)) {
          a.value -= (b[i].value / 2)
          b[i].value *= lurate
        }
        a.value = Math.floor(a.value)
        b[i].value = Math.floor(b[i].value)
      }

      for (let i = 0; i < b.length; i += 1) {
        if ((a.num === 5 || a.num === 6) && (b[i].num === 3 || b[i].num === 4)) {
          a.value += b[i].value
          b[i].value *= lurate
        }
        if ((a.num === 5 || a.num === 6) && (b[i].num === 5 || b[i].num === 6)) {
          a.value = (a.value + b[i].value) * uurate
          b[i].value *= uurate
          // b[i].value *= lurate
        }
        if ((a.num === 5 || a.num === 6) && (b[i].num === 7 || b[i].num === 8)) {
          a.value -= (b[i].value / 2)
          b[i].value *= uurate
        }
        if ((a.num === 5 || a.num === 6) && (b[i].num === 9 || b[i].num === 10 || b[i].num === 1 || b[i].num === 2)) {
          a.value -= (b[i].value / 2)
          b[i].value *= lurate
        }
        a.value = Math.floor(a.value)
        b[i].value = Math.floor(b[i].value)
      }

      for (let i = 0; i < b.length; i += 1) {
        if ((a.num === 7 || a.num === 8) && (b[i].num === 5 || b[i].num === 6)) {
          a.value += b[i].value
          b[i].value *= lurate
        }
        if ((a.num === 7 || a.num === 8) && (b[i].num === 7 || b[i].num === 8)) {
          a.value = (a.value + b[i].value) * uurate
          b[i].value *= uurate
          // b[i].value *= lurate
        }
        if ((a.num === 7 || a.num === 8) && (b[i].num === 9 || b[i].num === 10)) {
          a.value -= (b[i].value / 2)
          b[i].value *= uurate
        }
        if ((a.num === 7 || a.num === 8) && (b[i].num === 1 || b[i].num === 2 || b[i].num === 3 || b[i].num === 4)) {
          a.value -= (b[i].value / 2)
          b[i].value *= lurate
        }
        a.value = Math.floor(a.value)
        b[i].value = Math.floor(b[i].value)
      }

      for (let i = 0; i < b.length; i += 1) {
        if ((a.num === 9 || a.num === 10) && (b[i].num === 7 || b[i].num === 8)) {
          a.value += b[i].value
          b[i].value *= lurate
        }
        if ((a.num === 9 || a.num === 10) && (b[i].num === 9 || b[i].num === 10)) {
          a.value = (a.value + b[i].value) * uurate
          b[i].value *= uurate
          // b[i].value *= lurate
        }
        if ((a.num === 9 || a.num === 10) && (b[i].num === 1 || b[i].num === 2)) {
          a.value -= (b[i].value / 2)
          b[i].value *= uurate
        }
        if ((a.num === 9 || a.num === 10) && (b[i].num === 3 || b[i].num === 4 || b[i].num === 5 || b[i].num === 6)) {
          a.value -= (b[i].value / 2)
          b[i].value *= lurate
        }
        a.value = Math.floor(a.value)
        b[i].value = Math.floor(b[i].value)
      }

      return [num1, num2]
    },
    calcWordValueB(num1, num2) {
      // 生系數
      // const urate = 1.5
      const uurate = 1.0
      const lurate = 0.7
      // 剋系數
      // const urate = 1.5
      // const uurate = 0.5
      // const lurate = 0.8
      const a = num1
      const b = num2
      for (let j = 0; j < a.length; j += 1) {
        for (let i = 0; i < b.length; i += 1) {
          if ((a[j].num === 1 || a[j].num === 2) && (b[i].num === 9 || b[i].num === 10)) {
            a[j].value += b[i].value
            b[i].value *= lurate
          }
          if ((a[j].num === 1 || a[j].num === 2) && (b[i].num === 1 || b[i].num === 2)) {
            a[j].value = (a[j].value + b[i].value) * uurate
            b[i].value *= uurate
            // b[i].value *= lurate
          }
          if ((a[j].num === 1 || a[j].num === 2) && (b[i].num === 3 || b[i].num === 4)) {
            a[j].value *= lurate
            b[i].value *= uurate
          }
          if ((a[j].num === 1 || a[j].num === 2) && (b[i].num === 5 || b[i].num === 6 || b[i].num === 7 || b[i].num === 8)) {
            a[j].value *= lurate
            b[i].value *= lurate
          }
          b[i].value = Math.floor(b[i].value)
        }
        a[j].value = Math.floor(a[j].value)
      }

      for (let j = 0; j < a.length; j += 1) {
        for (let i = 0; i < b.length; i += 1) {
          if ((a[j].num === 3 || a[j].num === 4) && (b[i].num === 1 || b[i].num === 2)) {
            a[j].value += b[i].value
            b[i].value *= lurate
          }
          if ((a[j].num === 3 || a[j].num === 4) && (b[i].num === 3 || b[i].num === 4)) {
            a[j].value = (a[j].value + b[i].value) * uurate
            b[i].value *= uurate
            // b[i].value *= lurate
          }
          if ((a[j].num === 3 || a[j].num === 4) && (b[i].num === 5 || b[i].num === 6)) {
            a[j].value *= lurate
            b[i].value *= uurate
          }
          if ((a[j].num === 3 || a[j].num === 4) && (b[i].num === 9 || b[i].num === 10 || b[i].num === 7 || b[i].num === 8)) {
            a[j].value *= lurate
            b[i].value *= lurate
          }
          b[i].value = Math.floor(b[i].value)
        }
        a[j].value = Math.floor(a[j].value)
      }

      for (let j = 0; j < a.length; j += 1) {
        for (let i = 0; i < b.length; i += 1) {
          if ((a[j].num === 5 || a[j].num === 6) && (b[i].num === 3 || b[i].num === 4)) {
            a[j].value += b[i].value
            b[i].value *= lurate
          }
          if ((a[j].num === 5 || a[j].num === 6) && (b[i].num === 5 || b[i].num === 6)) {
            a[j].value = (a[j].value + b[i].value) * uurate
            b[i].value *= uurate
            // b[i].value *= lurate
          }
          if ((a[j].num === 5 || a[j].num === 6) && (b[i].num === 7 || b[i].num === 8)) {
            a[j].value *= lurate
            b[i].value *= uurate
          }
          if ((a[j].num === 5 || a[j].num === 6) && (b[i].num === 1 || b[i].num === 2 || b[i].num === 9 || b[i].num === 10)) {
            a[j].value *= lurate
            b[i].value *= lurate
          }
          b[i].value = Math.floor(b[i].value)
        }
        a[j].value = Math.floor(a[j].value)
      }

      for (let j = 0; j < a.length; j += 1) {
        for (let i = 0; i < b.length; i += 1) {
          if ((a[j].num === 7 || a[j].num === 8) && (b[i].num === 5 || b[i].num === 6)) {
            a[j].value += b[i].value
            b[i].value *= lurate
          }
          if ((a[j].num === 7 || a[j].num === 8) && (b[i].num === 7 || b[i].num === 8)) {
            a[j].value = (a[j].value + b[i].value) * uurate
            b[i].value *= uurate
            // b[i].value *= lurate
          }
          if ((a[j].num === 7 || a[j].num === 8) && (b[i].num === 9 || b[i].num === 10)) {
            a[j].value *= lurate
            b[i].value *= uurate
          }
          if ((a[j].num === 7 || a[j].num === 8) && (b[i].num === 1 || b[i].num === 2 || b[i].num === 3 || b[i].num === 4)) {
            a[j].value *= lurate
            b[i].value *= lurate
          }
          b[i].value = Math.floor(b[i].value)
        }
        a[j].value = Math.floor(a[j].value)
      }

      for (let j = 0; j < a.length; j += 1) {
        for (let i = 0; i < b.length; i += 1) {
          if ((a[j].num === 9 || a[j].num === 10) && (b[i].num === 7 || b[i].num === 8)) {
            a[j].value += b[i].value
            b[i].value *= lurate
          }
          if ((a[j].num === 9 || a[j].num === 10) && (b[i].num === 9 || b[i].num === 10)) {
            a[j].value = (a[j].value + b[i].value) * uurate
            b[i].value *= uurate
            // b[i].value *= lurate
          }
          if ((a[j].num === 9 || a[j].num === 10) && (b[i].num === 1 || b[i].num === 2)) {
            a[j].value *= lurate
            b[i].value *= uurate
          }
          if ((a[j].num === 9 || a[j].num === 10) && (b[i].num === 5 || b[i].num === 6 || b[i].num === 3 || b[i].num === 4)) {
            a[j].value *= lurate
            b[i].value *= lurate
          }
          b[i].value = Math.floor(b[i].value)
        }
        a[j].value = Math.floor(a[j].value)
      }

      return [num1, num2]
    },
    covertNumber(num1, num2, num3, num4) {
      let n1 = ''
      let n2 = ''
      let n3 = ''
      let n4 = ''
      const las = '90'
      if (num1 < 10) {
        n1 = `0${num1.toString()}`
      } else {
        n1 = num1.toString()
      }
      if (num2 < 10) {
        n2 = `0${num2.toString()}`
      } else {
        n2 = num2.toString()
      }
      if (num3 < 10) {
        n3 = `0${num3.toString()}`
      } else {
        n3 = num3.toString()
      }
      if (num4 < 10) {
        n4 = `0${num4.toString()}`
      } else {
        n4 = num4.toString()
      }
      return parseInt(las + n1 + n2 + n3 + n4, 10)
    },
    fmtMSS(s) {
      let a = Math.floor(s / 60)
      let b = Math.floor(s % 60)
      if (a < 10) {
        a = `0${a.toString()}`
      }
      if (b < 10) {
        b = `0${b.toString()}`
      }
      return `${a.toString()}:${b.toString()}`
    },
    calcupstart(s1, s2, s3) {
      const f1 = parseInt(s1.substr(0, 2), 10)
      const f2 = parseInt(s2.substr(0, 2), 10)
      const f3 = parseInt(s3.substr(0, 2), 10)
      const f4 = f1 + f2 + f3
      const e1 = parseInt(s1.substr(3, 2), 10)
      const e2 = parseInt(s2.substr(3, 2), 10)
      const e3 = parseInt(s3.substr(3, 2), 10)
      const e4 = e1 + e2 + e3
      // console.log('@', f4)
      const h = Math.floor(e4 / 60)
      const m = Math.floor(e4 % 60)
      const nh = Math.floor((f4 + h) % 24)
      const w1 = [1, 3, 6, 8, 10, 12, 14, 16, 18, 19, 21, 23]
      const w2 = [29, 46, 0, 13, 30, 46, 48, 30, 0, 29, 11, 13]
      //  5 6 7 8 9 10 11 12 1 2 3 4
      for (let i = 0; i < 12; i += 1) {
        if (((nh * 60) + m) < ((w1[i] * 60) + w2[i])) {
          return i === 0 ? 12 : i
        }
      }
      return 0
      // return [nh, m]
    },
    toggleRel() {
      this.disflag.relbox = !this.disflag.relbox
    },
    toggleOwn() {
      this.disflag.ownerrelate = !this.disflag.ownerrelate
    },
    toggleSex() {
      this.sex = !this.sex
    },
    togglemergetool() {
      this.disflag.mergetool = !this.disflag.mergetool
    },
    loadUser(item) {
      this.orgyr = item.year
      this.orgmon = item.month
      this.orgdate = item.day
      this.orghr = parseInt(item.time.substr(0, 2), 10)
      this.orgtime = parseInt(item.time.substr(3, 2), 10)
      this.sex = item.gender
      this.id = item.id ? item.id : 0
      this.withoutT = item.realtime
    },
    togglePanel() {
      this.disflag.panel = !this.disflag.panel
    },
    gettrela(yr, mon, day, hr, time, mode, sex, curyr, cm, cd, ch, ct) {
      return getTRelate(yr, mon, day, hr, time, mode, sex, curyr, cm, cd, ch, ct)
    },
    getbrela(yr, mon, day, hr, time, mode, sex, curyr, cm, cd, ch, ct) {
      return getBRelate(yr, mon, day, hr, time, mode, sex, curyr, cm, cd, ch, ct)
    },
    getCurrentYear(yr) {
      return [
        getYearrTop(yr),
        getYearBottom(yr),
      ]
    },
    getBVal(num) {
      return getWordPowerB(num)
    },
    getTVal(num) {
      return getWordPowerT(num)
    },
    formartDate(date) {
      // const dd = new Date(date)
      // return date
      let dstr = ''
      if ((date.getMonth() + 1) < 10) {
        dstr = `0${(date.getMonth() + 1).toString()}`
      } else {
        dstr = (date.getMonth() + 1).toString()
      }
      return `${dstr}/${date.getFullYear().toString().substr(2, 2)}`
    },
    setUser(y, m, d, h, t) {
      this.orgyr = y
      this.orgmon = m
      this.orgdate = d
      this.orghr = h
      this.orgtime = t
    },
    calcTRelate(t1, t2) {
      return [
        calcTMerge(t1, t2) ? '合' : '',
      ]
    },
    topreset() {
      for (let i = 0; i < this.topRelate.length; i += 1) {
        this.topRelate[i] = 0
      }
    },
    toggleUser() {
      this.disflag.usertoggle = !this.disflag.usertoggle
    },
    toggleRuntime() {
      this.disflag.runtime = !this.disflag.runtime
    },
    getCTime() {
      const curDate = new Date()
      const yr = curDate.getFullYear()
      const mon = curDate.getMonth() + 1
      const day = curDate.getDate()
      const hr = curDate.getHours()
      const time = curDate.getMinutes()
      const ss = curDate.getSeconds()
      return [yr, mon, day, hr, time, ss]
    },
    getGodName(num) {
      if (this.tengorType === 1) {
        switch (num) {
          case 1: return '純情'
          case 2: return '佛系'
          case 3: return '女皇'
          case 4: return '朋友'
          case 5: return '引人'
          case 6: return '重情'
          case 7: return '旺夫'
          case 8: return '咸濕'
          case 9: return '守己'
          case 10: return '愛被管'
          default: return ''
        }
      } else if (this.tengorType === 2) {
        switch (num) {
          case 1: return '父母'
          case 2: return '長輩'
          case 3: return '兄妹'
          case 4: return '兄妹'
          case 5: return '阿仔'
          case 6: return '阿女'
          case 7: return '下屬'
          case 8: return '阿爸'
          case 9: return '老公'
          case 10: return '情/小人'
          default: return ''
        }
      } else if (this.tengorType === 3) {
        switch (num) {
          case 1: return '皮膚'
          case 2: return '皮膚'
          case 3: return '四肢'
          case 4: return '四肢'
          case 5: return '口舌'
          case 6: return '口舌'
          case 7: return '呼吸'
          case 8: return '呼吸'
          case 9: return '外傷'
          case 10: return '外傷'
          default: return ''
        }
      } else if (this.tengorType === 4) {
        switch (num) {
          case 1: return '權印'
          case 2: return '文化'
          case 3: return '競爭'
          case 4: return '合作'
          case 5: return '創作'
          case 6: return '享樂'
          case 7: return '財物'
          case 8: return '旅行'
          case 9: return '公職'
          case 10: return '抗壓'
          default: return ''
        }
      } else if (this.tengorType === 6) {
        switch (num) {
          case 1: return '學習'
          case 2: return '思考'
          case 3: return '想洗錢'
          case 4: return '約食飯'
          case 5: return '屌柒人'
          case 6: return '比意見'
          case 7: return '財運'
          case 8: return '攬女'
          case 9: return '忙緊'
          case 10: return '受傷'
          default: return ''
        }
      } else if (this.tengorType === 7) {
        switch (num) {
          case 1: return '學野'
          case 2: return '修哲'
          case 3: return '分析'
          case 4: return '計劃'
          case 5: return '比仔溝'
          case 6: return '溝仔'
          case 7: return '儲錢'
          case 8: return '投資'
          case 9: return '結婚'
          case 10: return '偷食'
          default: return ''
        }
      } else {
        switch (num) {
          case 1: return '正印'
          case 2: return '偏印'
          case 3: return '劫財'
          case 4: return '比肩'
          case 5: return '傷官'
          case 6: return '食神'
          case 7: return '正財'
          case 8: return '偏財'
          case 9: return '正官'
          case 10: return '七殺'
          default: return ''
        }
      }
    },
    getGodNameM(num) {
      if (this.tengorType === 1) {
        switch (num) {
          case 1: return '純情'
          case 2: return '佛系'
          case 3: return '孤王'
          case 4: return '朋友'
          case 5: return '才華'
          case 6: return '冧女'
          case 7: return '重女'
          case 8: return '食女'
          case 9: return '正經'
          case 10: return '兇狠'
          default: return ''
        }
      } else if (this.tengorType === 2) {
        switch (num) {
          case 1: return '父母'
          case 2: return '長輩'
          case 3: return '兄妹'
          case 4: return '兄妹'
          case 5: return '阿仔'
          case 6: return '阿女'
          case 7: return '老婆'
          case 8: return '情人'
          case 9: return '上司'
          case 10: return '小人'
          default: return ''
        }
      } else if (this.tengorType === 3) {
        switch (num) {
          case 1: return '皮膚'
          case 2: return '皮膚'
          case 3: return '四肢'
          case 4: return '四肢'
          case 5: return '口舌'
          case 6: return '口舌'
          case 7: return '精血'
          case 8: return '精血'
          case 9: return '外傷'
          case 10: return '外傷'
          default: return ''
        }
      } else if (this.tengorType === 4) {
        switch (num) {
          case 1: return '權印'
          case 2: return '文化'
          case 3: return '競爭'
          case 4: return '合作'
          case 5: return '創作'
          case 6: return '享樂'
          case 7: return '財物'
          case 8: return '女人'
          case 9: return '公職'
          case 10: return '抗壓'
          default: return ''
        }
      } else if (this.tengorType === 6) {
        switch (num) {
          case 1: return '學習'
          case 2: return '思考'
          case 3: return '想洗錢'
          case 4: return '約食飯'
          case 5: return '屌柒人'
          case 6: return '比意見'
          case 7: return '財運'
          case 8: return '攬女'
          case 9: return '忙緊'
          case 10: return '受傷'
          default: return ''
        }
      } else if (this.tengorType === 7) {
        switch (num) {
          case 1: return '學野'
          case 2: return '修哲'
          case 3: return '分析'
          case 4: return '計劃'
          case 5: return '創作'
          case 6: return '溝女'
          case 7: return '儲錢'
          case 8: return '投資'
          case 9: return '升職'
          case 10: return '打人'
          default: return ''
        }
      } else {
        switch (num) {
          case 1: return '正印'
          case 2: return '偏印'
          case 3: return '劫財'
          case 4: return '比肩'
          case 5: return '傷官'
          case 6: return '食神'
          case 7: return '正財'
          case 8: return '偏財'
          case 9: return '正官'
          case 10: return '七殺'
          default: return ''
        }
      }
    },
    convertGod(day, sex) {
      if (sex) {
        switch (day) {
          case 1: return [0, this.getGodNameM(4), this.getGodNameM(3), this.getGodNameM(6), this.getGodNameM(5), this.getGodNameM(8), this.getGodNameM(7), this.getGodNameM(10), this.getGodNameM(9), this.getGodNameM(2), this.getGodNameM(1)]
          case 2: return [0, this.getGodNameM(3), this.getGodNameM(4), this.getGodNameM(5), this.getGodNameM(6), this.getGodNameM(7), this.getGodNameM(8), this.getGodNameM(9), this.getGodNameM(10), this.getGodNameM(1), this.getGodNameM(2)]
          case 3: return [0, this.getGodNameM(2), this.getGodNameM(1), this.getGodNameM(4), this.getGodNameM(3), this.getGodNameM(6), this.getGodNameM(5), this.getGodNameM(8), this.getGodNameM(7), this.getGodNameM(10), this.getGodNameM(9)]
          case 4: return [0, this.getGodNameM(1), this.getGodNameM(2), this.getGodNameM(3), this.getGodNameM(4), this.getGodNameM(5), this.getGodNameM(6), this.getGodNameM(7), this.getGodNameM(8), this.getGodNameM(9), this.getGodNameM(10)]
          case 5: return [0, this.getGodNameM(10), this.getGodNameM(9), this.getGodNameM(2), this.getGodNameM(1), this.getGodNameM(4), this.getGodNameM(3), this.getGodNameM(6), this.getGodNameM(5), this.getGodNameM(8), this.getGodNameM(7)]
          case 6: return [0, this.getGodNameM(9), this.getGodNameM(10), this.getGodNameM(1), this.getGodNameM(2), this.getGodNameM(3), this.getGodNameM(4), this.getGodNameM(5), this.getGodNameM(6), this.getGodNameM(7), this.getGodNameM(8)]
          case 7: return [0, this.getGodNameM(8), this.getGodNameM(7), this.getGodNameM(10), this.getGodNameM(9), this.getGodNameM(2), this.getGodNameM(1), this.getGodNameM(4), this.getGodNameM(3), this.getGodNameM(6), this.getGodNameM(5)]
          case 8: return [0, this.getGodNameM(7), this.getGodNameM(8), this.getGodNameM(9), this.getGodNameM(10), this.getGodNameM(1), this.getGodNameM(2), this.getGodNameM(3), this.getGodNameM(4), this.getGodNameM(5), this.getGodNameM(6)]
          case 9: return [0, this.getGodNameM(6), this.getGodNameM(5), this.getGodNameM(8), this.getGodNameM(7), this.getGodNameM(10), this.getGodNameM(9), this.getGodNameM(2), this.getGodNameM(1), this.getGodNameM(4), this.getGodNameM(3)]
          case 10: return [0, this.getGodNameM(5), this.getGodNameM(6), this.getGodNameM(7), this.getGodNameM(8), this.getGodNameM(9), this.getGodNameM(10), this.getGodNameM(1), this.getGodNameM(2), this.getGodNameM(3), this.getGodNameM(4)]
          default: return [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }
      } else {
        switch (day) {
          case 1: return [0, this.getGodName(4), this.getGodName(3), this.getGodName(6), this.getGodName(5), this.getGodName(8), this.getGodName(7), this.getGodName(10), this.getGodName(9), this.getGodName(2), this.getGodName(1)]
          case 2: return [0, this.getGodName(3), this.getGodName(4), this.getGodName(5), this.getGodName(6), this.getGodName(7), this.getGodName(8), this.getGodName(9), this.getGodName(10), this.getGodName(1), this.getGodName(2)]
          case 3: return [0, this.getGodName(2), this.getGodName(1), this.getGodName(4), this.getGodName(3), this.getGodName(6), this.getGodName(5), this.getGodName(8), this.getGodName(7), this.getGodName(10), this.getGodName(9)]
          case 4: return [0, this.getGodName(1), this.getGodName(2), this.getGodName(3), this.getGodName(4), this.getGodName(5), this.getGodName(6), this.getGodName(7), this.getGodName(8), this.getGodName(9), this.getGodName(10)]
          case 5: return [0, this.getGodName(10), this.getGodName(9), this.getGodName(2), this.getGodName(1), this.getGodName(4), this.getGodName(3), this.getGodName(6), this.getGodName(5), this.getGodName(8), this.getGodName(7)]
          case 6: return [0, this.getGodName(9), this.getGodName(10), this.getGodName(1), this.getGodName(2), this.getGodName(3), this.getGodName(4), this.getGodName(5), this.getGodName(6), this.getGodName(7), this.getGodName(8)]
          case 7: return [0, this.getGodName(8), this.getGodName(7), this.getGodName(10), this.getGodName(9), this.getGodName(2), this.getGodName(1), this.getGodName(4), this.getGodName(3), this.getGodName(6), this.getGodName(5)]
          case 8: return [0, this.getGodName(7), this.getGodName(8), this.getGodName(9), this.getGodName(10), this.getGodName(1), this.getGodName(2), this.getGodName(3), this.getGodName(4), this.getGodName(5), this.getGodName(6)]
          case 9: return [0, this.getGodName(6), this.getGodName(5), this.getGodName(8), this.getGodName(7), this.getGodName(10), this.getGodName(9), this.getGodName(2), this.getGodName(1), this.getGodName(4), this.getGodName(3)]
          case 10: return [0, this.getGodName(5), this.getGodName(6), this.getGodName(7), this.getGodName(8), this.getGodName(9), this.getGodName(10), this.getGodName(1), this.getGodName(2), this.getGodName(3), this.getGodName(4)]
          default: return [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }
      }
    },
  },
}
</script>

<style scoped lang="stylus">
  .usss
    box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    margin 5px
    position relative
    cursor pointer
  .tengod-text
    margin 0
    background black
    color white
  .tengod-text-w
    margin 0
    color black
  .seluserimg
    +respond-to(desktop)
      position fixed
      left 0
      top 100px
  .selimg
    flex-container(flex-start, flex-start, row, wrap)
    width 100%
    position block
    bottom 0
    // margin 0 auto
    left 0
    // right 0
    // background black
    +respond-to(desktop)
      z-index 2
      width calc(100% - 250px)
      position fixed
      background black
      +respond-to(desktop)
        width calc(100% - 400px)
  .filter-wrapper
    width 100%
    .filter-panel
      flex-container(center, center, row, wrap)
      .button
        width background #dcdcdc
        color black
        font-size 18px
        padding 5px
        cursor pointer
        border 2px solid black
        border-radius 3px
        margin 5px
        min-width 100px
        &:hover
          background #dcdddd
        &:active
          background #bbbccc
    .filter-panel-end
      // background black
      flex-container(center, flex-end, row, wrap)
      .item
        flex-container(stretch, center, column, wrap)
    .filter-panel-end-r
      flex-container(center, flex-start, row, wrap)
      .item
        background black
        flex-container(stretch, center, column, wrap)
  .togglebtn
    cursor pointer
    flex-container(center, center, column, nowrap)
    position fixed
    background black
    color white
    font-size 24px
    font-weight bold
    border 1px solid orange
    width 80px
    height 80px
    top 40%
    right 0px
    z-index 1
    transition 0.3s
    &-active
      transform translateX(-250px)
      +respond-to(desktop)
        transform translateX(-400px)
    .toggle-wrapper
      flex-container(center, center, column, nowrap)
  .userList
    position fixed
    background black
    width 250px
    height 100%
    top 0
    right 0
    overflow auto
    z-index 1
    transition 0.3s
    +respond-to(desktop)
      width 400px
    &-active
      transform translateX(250px)
      +respond-to(desktop)
        transform translateX(400px)
    .search-input
      width 100%
      height 40px
      font-size 24px
      padding 5px
      margin-bottom 10px
    .useritem
      width 100%
      cursor pointer
      // height 50px
      background black
      color white
      border 1px solid white
      text-align center
      flex-container(flex-start, center, row, nowrap)
      &:hover
        background $green1
      &:active
        background $red1
      .day
        // color white
        width 50px
        // margin-right 5px
  .panel
    width 100%
    height 100vh
    background rgba(0,0,0,0.5)
    position fixed
    top 0
    .bottom-wrapper
      height 100vh
      position relative
    .wrapper
      position fixed
      width 100%
      min-height 300px
      bottom 0
      background red
  .img
    width 100%
    height 100%
    object-fit cover
    max-width 280px
    max-height 280px
  .simg-box
    width 80px
    height 80px
  .simg
    width 80px
    height 80px
    object-fit cover
    // max-width 80px
    // max-height 80px
  .rellabel
    color black
    font-weight bold
    padding 2px
    margin 0
    background white
    border 2px solid black
    position absolute
  .header-s
    flex-container(stretch, stretch, row, wrap)
    .item
      width 100%
      height 40px
      font-size 20px
      background #d5d3a6
      border 0 solid black
      margin 5px
      text-align center
      flex-child(1)
  .header
    flex-container(stretch, stretch, column, nowrap)
    .header-item
      flex-container(stretch, stretch, row, wrap)
      .item
        width 100%
        height 40px
        font-size 20px
        background #d5d3a6
        border 0 solid black
        margin 5px
        text-align center
        flex-child(1)
  .wrapper
    flex-container(center, center, column, nowrap)
  .wrapper-b
    flex-container(center, flex-end, row, wrap)
    padding-bottom 50px
    border 2px solid black
  .town-wrapper
    border 2px solid black
    flex-container(stretch, stretch, row, wrap)
    .bar-wrapper
      flex-container(stretch, stretch, column, nowrap)
      background black
    .dayowner
      border 2px solid black
    .dayownerOwner
      border 2px solid white
</style>
