<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">子平</router-link> |
      <router-link to="/day">擇日</router-link> |
      <router-link to="/yrd">個人年監</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="stylus">
body
  margin 0
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  // margin-top 60px
  #nav
    background black
    padding 20px 5px
    width auto
    display inline-table
    position sticky
    top 0
    z-index 999
    a
      color white
      font-size 20px
      padding 5px
      text-decoration none
      &:hover
        background $blue1
</style>
